@charset "utf-8";

/* Designed by Abin */

body {

	background-image:url(images/bg%20-1.png);

	background-attachment: scroll;

	background-color: #E3D1C3;

	background-repeat: repeat;

	margin-top:10px;

	padding:0;

}

img{ border:none;
}
h1 	{

	

	font-size:14px;

	color:#000;

}

p	{

	

	font-size:12px;

	color:#000;

}



#fullcontainer{

	width:959px;

	height:900px;

	border:4px solid #900;

}

#container{

	width:959px;

	margin:0 auto;

	background:#d2b6a0;

	padding:0;

	color: #000;

	/*border:4px solid #f1dfce;*/

	

	}

	

#headermenu{

	

	height:90px;

	background-image:url(images/header.jpg);

	width:100%;

	

	}

	

.header{

	width:100%;

	margin:0;

	padding:0;

	height:100%;



	}

#banner{

	width:100%;



	

	

}	

.bannertitle {

	width:auto;

	height:100%;

	color:#912d0b;

	font-size:44px;

	font-weight:bold;

	text-align:center;

	font-family:Arial, Helvetica, sans-serif;

	

}

.subbannertitle {
	width:auto;	
	color:#912d0b;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;

}

.subbannertitle2 {

	width:auto;

	color:#912d0b;

	font-size:12px;

	text-align:center;

	font:Arial, Helvetica, sans-serif;


}

#logo{

	width:192px;

	margin:0px 0px 10px 10px;

	height:170px;

	float:left;

	background-image:url(images/logo.png);

	background-repeat:no-repeat;

	}

#flash{

	width:940px;

	margin:5px 0px 5px 6px;

	border:4px solid #f1dfce;

	height:160px;

	float:left;

	}





#menubar{

	height:38px;

	background: url(images/buttons.png);

	background-repeat:repeat;

	}

.mainmenu{

	height:38px;

	width:767px;

	float:left;

	}

.mainsubcontainer{

	background-color:#d2b6a0;

	width:100%;

	float:right;

	display:block;

	padding:2px 0 0 0;

	margin:0 auto;

	}

.sidecontainer{

	width:255px;

	height:100%;



	}

.sidecontainer{

	

	height:100%;

	margin-left:10px;

	float:left;

	}

.search{

	height:20px;

	width:160px;

	float:left;

	background-image:url(images/search_bg.png);

	background-repeat:no-repeat;

	padding-top:12px;

	padding-left:30px;

	

}

.searchdata{

	color:#666;

	font:Arial, Helvetica, sans-serif;

	text-decoration:none;

	font-weight:bold;

	font-size: 13px;

}



.whatnews{

	width:940px;

	height:40px;

	margin-bottom:5px;

	padding-left:10px;

	

}

.marquee {

	width:818px;

	height:30px;

	padding-top:6px;

	padding-left:6px;

	color:#FFF;

	font-weight:600;
	text-decoration:none;

}

.whatbutton{

	width:102px;

	height:39px;

	float:left;

}

.whtnwscontent{

	width:830px;

	height:31px;

	float:left;

	background-image:url(images/whtnwscontent.png);

	margin-top:4px;

}

.submenu{

	width:245px;

	

	margin:0;

	border:4px solid #f1dfce;

	}

.insideheader{
	width:230px;
	height:32px;
	background-color:#d2b6a0

	

}

.insideheader1{
	width:165px;
	height:26px;
	background-image: url(images/submenu_bg.png);
	background-repeat:repeat;
	float:left;
	color:#FFF;
	padding-left:20px;
	padding-top:6px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:13px;

	

}

.insideheader2{

	width:45px;

	height:32px;

	background-image: url(images/submenu_bg_lines.png);

	background-repeat:repeat;

	float:left;

}

#submenul{

}

.submenu1{

	width:210px;

	height:20px;

	background-image: url(images/submenu_bg1.gif);

	background-repeat:repeat;

	color:#900;

	padding-left:35px;

	padding-top:8px;

}



.submenu2{

	width:210px;

	height:20px;

	background-image: url(images/submenu_bg2.gif);

	background-repeat:repeat;

	padding-left:35px;

	padding-top:8px;

	

}



.submenulink{

	font-family:Verdana, Arial, Helvetica, sans-serif; 

	font-size:11px;

	font-weight:bold;

	text-decoration: none;

	color:#900;

}



.downloades{

	width:245px;

	margin-top:10px;

	border:4px solid #f1dfce;

	}

.maintext{

	width:665px;

	height:100%

	margin-left:15px;

	padding-left:10px;

	float: left;

	position:inherit;

}



.maintextdata{

	text-align:justify;

	padding:10px;

	background-color:#f1dfce;

	}

.aboutusdata{

	text-align:justify;

	padding:10px;

	background-color:#f1dfce;

	font-family:Verdana, Arial, Helvetica, sans-serif; 

	font-size:10px;

	font-weight:bold;

	color:#444;

	}

	

.readmore {

	color:#900;

	font:Arial, Helvetica, sans-serif;

	text-decoration:none;

	font-weight:bold;

	font-size: 11px;

	float:right;

}

.readmore a:hover{

	color:#000;

	font:Arial, Helvetica, sans-serif;

	text-decoration:none;

	font-weight:bold;

	font-size: 11px;

	float:right;

}

.visiondata{

	text-align:justify;

	padding:10px;

	background-color:#f1dfce;

	font-family:Verdana, Arial, Helvetica, sans-serif; 

	font-size:10px;

	font-weight:bold;

	color:#444;

	}
.logobox{


	background-color:#f1dfce;
	height:100px;


}
.logobox img{
	padding:5px;
	float:left;
}
.logobox .logo{
	width:200px;
	float:left;
	height:100px;
}
.logobox .video{
	width:200px;
	height:100px;
	float:left;
}
.cleardivf {

	clear:both;

	height:0px;

	padding:0;

	margin:0;

	}

.maintextcontainer{

	width:410px;

	float:left;

	height:100%;

	

}





.contenttextonly{

	

	border:4px solid #f1dfce;

	margin-bottom:10px;

	

}



.rightcontainer{
	width:240px;
	float:right;

}

	

.latestnews{
	width:230px;
	float:left;
	border:4px solid #f1dfce;
	margin-bottom:10px;
	background-color:#f1dfce;

	

	

	

}

.quoteoftheday{
	width:228px;
	float:left;
	background-color: #E3D1C3;
	margin-left:0px;
	border:4px solid #f1dfce;
	margin-bottom:10px;

}

.latestheader{

	width:240px;

	height:32px;

	background-image:url(images/latestnews.png);

	background-repeat:no-repeat;

}

.latestnewscontent{
	background-color:#FFF;
	height:100%;
	width:225px;

}

.latestnewscontentdata{

	color:#903;

	text-decoration:none;

	font-size:12px;
	width:230px;

}

.contenttext1{

	width:636px;

	height:290px;

	float:left;

	border:4px solid #f1dfce;
	text-align:justify;

}

.textheader{
	width:400px;
	height:32px;

	

}

.textheader_bg{
	width:335px;
	height:26px;
	float:left;
	background-image: url(images/submenu_bg.png);
	background-repeat:repeat;
	padding-top:6px;
	padding-left:20px;
	color:#FFF;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;

	}

.toppointerbar{

	height:22px;

	width:100%;

}

	

.toppointer{

	height:19px;

	width:60px;

	color:#900;

	text-decoration:none;

	font-weight:bold;

	font-size: 12px;

	float:right;

	padding-top:3px;



	

}

.topimage{

	width:15px;

	height:15px;

	float:right;

	background-image:url(images/toparrow.png);

	margin-top:3px

}

	



.footerbar{

	width:100%;

	height:38px;

	background-image:url(images/footerbar.jpg);

}





.footerlink{

	height:25px;

    font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	background:#902c0b;

}

.footerlink ul{

	list-style:none;

	text-align: center;



}



.footerlink ul li{

	text-align:center;

	float:left;

	padding-left:20px;

	padding-right:10px;

	padding-top:5px;

	padding-bottom:10px;

	

	}

.footerlink ul li a{

	border-right:1px dashed #FFF;

	padding-right:5px;

}



.footerlink a:link {

	color: #FFFFFF;

	text-decoration: none;

}

.footerlink a:visited {

	text-decoration: none;

	color:  #FFFFFF;

}

.footerlink a:hover {

	text-decoration: none;

	color: #000;

}

.footerlink a:active {

	text-decoration: none;

	color: #000;

}

#footer{

	width:100%;

	height:25px;

	float:left;

	text-align:center;

	padding-top:6px;

	color:#333;

	background-image: url(images/footer.png);

	text-align:center;

	padding-top:6px;

	font-family:Arial;

	text-decoration: none;

	font-size: 11px;

		

}

.footer2

{

	font-family:Arial;

	color: #333;

	text-decoration: none;

	font-size: 12px;

}



.footer1

{

	font-family:Arial;

	color: #333;

	text-decoration: none;

	font-size: 12px;

}



.footer1 a:hover{

	font-family:Arial;

	color:#600;

	text-decoration: none;

	font-size: 12px;

}



/* CLEARING */

.clearfix:after {

    content: "."; 

    display:block; 

    height: 0; 

    clear: both; 

    visibility: hidden;

}

.clearfix {

	display: block;

}

/* Hides from IE-mac \*/

* html .clearfix {height: 1%;}

.clearfix {display: block;}

/* End hide from IE-mac */



.clear {

	clear: both;

}



.noclear {

	clear: none;

}

#outerCircleText {

/* Optional - DO NOT SET FONT-SIZE HERE, SET IT IN THE SCRIPT */

font-style: italic;

font-weight: bold;

font-family: 'comic sans ms', verdana, arial;

color: #000;

/* End Optional */



/* Start Required - Do Not Edit */

position: absolute;top: 0;left: 0;z-index: 3000;cursor: default;}

#outerCircleText div {position: relative;}

#outerCircleText div div {position: absolute;top: 0;left: 0;text-align: center;}

/* End Required */

/* End Circle Text Styles */
