ul#menu-top-head-menu {
  display: inline-block;

  li {
    display: inline-flex;
  }
}

.menu-logo {
  .container {
    .header-logo {
      padding-bottom: 0;

      img {
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        position: relative;
        max-width: 550px;
      }

      @media (max-width:767px) {
        display: none !important;
      }
    }

    .mobile-header-logo {
      @media (max-width:767px) {
        display: inline-block !important;
        width: 200px;
      }

      img {
        @media (max-width:767px) {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

ul#menu-top-head-menu {
  li {

    &:nth-child(6),
    &:last-child {
      a {
        opacity: unset;
        font-weight: 600;
        color: #002e4b !important;
        font-family: 'Roboto Slab', serif;
      }
    }
  }
}

.dropmenu_links {
  ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

.dropmenu_links_more {

  ul {
    column-count: 4;

    li {
      a {
        max-width: 100% !important;
      }
    }

    @media (max-width:991px) {
      column-count: 3;
    }

    @media (max-width:767px) {
      column-count: 2;
    }
  }
}

.main-menu-nav {
  .mega-menu-wrap {
    .dropmenu_links {
      ul {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
      }
    }

    .max-mega-menu {
      li {
        margin-bottom: 50px;
        position: relative;
        padding-left: 20px;

        a {
          font-family: 'Montserrat', sans-serif !important;
          font-weight: 600;
          font-size: 14px;
          line-height: 1.45;
          letter-spacing: 0.05em;
          max-width: 150px;
        }

        &:after {
          content: "";
          position: absolute;
          left: 0;
          border-right: 1px solid #bd943c;
          border-bottom: 1px solid #bd943c;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          transform: rotate(-45deg);
          width: 4px;
          height: 4px;
          top: 9px;
        }
      }
    }
  }

  .container {
    padding: 0;
  }
}

h2.graduate-title {
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  line-height: 1.7;
  letter-spacing: 0.05em;
  width: 310px;
  max-width: 100%;
  margin-top: 25px;
  margin-bottom: 30px;
  color: #000;
}

#mega-menu-wrap-main-menu #mega-menu-main-menu a.mega-menu-link {
  max-width: 100%;
}


#mega-menu-wrap-main-menu {
  #mega-menu-main-menu {
    & > li.mega-menu-megamenu {
      & > ul.mega-sub-menu {
        padding: 70px;
        width: 100vw;
        margin-left: calc((100% - 100vw) / 2);
        box-shadow: 1.5px 2.598px 5px 0px rgba(0, 0, 0, 0.1);

        @media (max-width:1200px) {
          padding: 20px;
          width: calc(100vw - 47px);
          margin-left: 0;
          overflow: auto;
          height: calc(100vh - 270px);
        }

        h4.mega-block-title {
          font-family: 'Montserrat', sans-serif !important;
          font-size: 24px !important;
          line-height: 1.2;
          letter-spacing: 0.05em;
          font-weight: 600 !important;
          color: #000000 !important;
          padding-bottom: 20px !important;
          position: relative;
          margin-bottom: 40px !important;

          &:after {
            position: absolute;
            content: "";
            width: 27px;
            height: 2px;
            background: #bd943c;
            left: 0;
            bottom: 0;
          }
        }

        li {
          ul {
            li {
              .dropmenu_intro {
                .title_line {
                  font-size: 12px !important;
                }
              }
            }
          }
        }
      }

      &.others-wrap {
        & > ul.mega-sub-menu {
          @media (max-width:991px) {
            height: calc(100vh - 575px);
          }
        }
      }
    }
  }
}





.dropmenu_intro {
  span {
    font-family: 'Montserrat', sans-serif;
    font-size: 140px;
    line-height: 1;
    letter-spacing: 0;
    font-weight: 600;
    margin-top: 25px;
    display: inline-block;
    background-image: url(https://saec.ac.in/img/menu-overlay.png);
    background-size: cover;
    color: #bd943c;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-text-fill-color: transparent;
    -moz-background-clip: text;
  }

  .title_line {
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    color: #989898;

    &:after {
      font-weight: 500;
      font-family: 'Montserrat', sans-serif;
      font-size: 15px;
      line-height: 1.2;
      letter-spacing: 0.05em;
      bottom: 8px;
      background: #989898 !important;
    }
  }
}

.menu-logo {
  .container {
    .mobile-header-logo {
      img {
        width: 100%;
      }
    }
  }
}

#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-item > a.mega-menu-link {
  line-height: 70px;
  height: 70px;
  text-transform: uppercase;
  font-size: 14px;
  overflow: hidden;
  padding-right: 13px !important;
  margin-right: -13px !important;
  padding-left: 0;

  @media only screen and (max-width: 1460px) {
    font-size: 13px;
    overflow: hidden;
  }

  @media only screen and (max-width: 1440px) {
    height: 56px;
    line-height: 56px;
  }

  &:hover {
    background: none;
    color: #bd943c;
  }
}

#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link,
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-item.mega-current-menu-ancestor > a.mega-menu-link,
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-item.mega-current-page-ancestor > a.mega-menu-link {
  background: none;
}



#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-item {
  width: 100%;

  @media (max-width: 1200px) {
    padding: 0 15px;
  }

  &:last-child {
    margin-right: 0;
  }

  &:first-child {
    margin-right: 0;
  }
}

#mega-menu-wrap-main-menu #mega-menu-main-menu {
  display: flex;
}

#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link {
  color: #000;
  font-weight: 600 !important;
  padding: 0px 15px 0px 15px !important;

  &:hover {
    background: transparent;
  }

}


#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-item.mega-toggle-on > a.mega-menu-link {
  background: transparent !important;
}

#mega-menu-wrap-main-menu #mega-menu-main-menu {
  li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-row {
    max-width: 1410px !important;
    margin: 0 auto;
    float: none;
  }
}

.professional-summary_content {
  p {
    margin-top: 15px;
    font-size: 15px;
    font-weight: 400;
    line-height: 2.7;
  }
}


/* footer-menu-wrap */

.footer-menu-wrap {
  width: 100% !important;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}

/* subscribe news letter */

.subscriber_box {
  .mc4wp-response {
    position: absolute;
    width: 100%;

    p {
      font-size: 12px;
      padding: 10px 0;
    }

    .mc4wp-alert.mc4wp-error {
      p {
        color: #ea6b6b !important;

        @media (max-width:480px) {
          font-size: 10px;
          padding: 5px 0;
        }
      }
    }
  }
}

span.backtotop {
  a {
    width: 20px;

    img {
      width: 100%;
    }
  }
}

.clg_range {
  .container {
    .clg_range_box {
      & > div {
        h2 {
          display: inline-block;
          min-width: 155px;
        }

        span.plus-symbol {
          @media (max-width:767px) {
            font-size: 40px !important;
          }
        }
      }
    }
  }
}

span.plus-symbol {
  font-size: 72px !important;
  font-weight: 600;
  color: #bd943c;
  margin-top: 0 !important;
  display: inline-block !important;
  width: auto !important;
}

.headnews-scroller span.new_news {
  color: #ff0000;
  padding: 0px;
  background: #ebeced;
  width: 85px;
}

.whats_new_list {
  li {
    &.active {
      &:before {
        content: none;
      }
    }
  }
}

footer .backtotop {
  z-index: 9;
}

#mediamodal .modal-body {
  width: 100%;
  overflow: hidden;
}

.web-modal .modal-header {
  z-index: 9;
}

#mediamodal .modal-body video {
  width: 100%;
}

p:empty {
  display: none;
}


.nws_evnts_inner {
  .events_container {
    .nws_evnts_box {
      h3 {
        p {
          font-family: 'Montserrat', sans-serif;
          font-size: 24px;
          line-height: 1.3;
          letter-spacing: 0.025em;
          font-weight: 600;
          padding: 30px 0;
        }
      }
    }

    .thumbnail-img-wrap {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}


/* gallery */


.gallery_page {
  .gallery_sec {
    ul {
      li {
        min-height: 285px;

        &:last-child {
          background: none;
          box-shadow: none;

          img {
            opacity: 1;
          }
        }
      }
    }
  }
}



.research-section {
  .content-only {
    li {
      position: relative;

      &:after {
        left: 2px;
        top: 9px;
        width: 15px;
        height: 13px;
        position: absolute;
        content: "";
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 60 46.3' style='enable-background:new 0 0 60 46.3;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:%23CAA963;%7d %3c/style%3e%3cg id='XMLID_29_'%3e%3cpath id='XMLID_27_' class='st0' d='M18.8,45.7c-2.3,0-4.5-0.8-6.4-2.3c-2.9-2.4-7.1-6.4-11.1-11.7c-1.8-2.4-1.7-6,0.5-8 c2.3-2,5.5-1.6,7.7,0.9c2.3,2.6,4.5,4.7,6.3,6.5c1.6,1.6,4.3,1.7,6,0.1c7-6.6,19.3-17.8,30.6-28.8c2.3-2.3,4.9-2,6.4-0.6 c2.3,2.1,1.2,5.1-0.4,6.8c-12.8,14.3-27,29-32.6,34.4C23.8,44.8,21.3,45.7,18.8,45.7z'/%3e%3c/g%3e%3c/svg%3e");
        background-repeat: no-repeat;
      }
    }
  }
}

.single-campus-wrap {
  ul {
    li {
      position: relative;

      &:after {
        left: 2px;
        top: 9px;
        width: 15px;
        height: 13px;
        position: absolute;
        content: "";
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 60 46.3' style='enable-background:new 0 0 60 46.3;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:%23CAA963;%7d %3c/style%3e%3cg id='XMLID_29_'%3e%3cpath id='XMLID_27_' class='st0' d='M18.8,45.7c-2.3,0-4.5-0.8-6.4-2.3c-2.9-2.4-7.1-6.4-11.1-11.7c-1.8-2.4-1.7-6,0.5-8 c2.3-2,5.5-1.6,7.7,0.9c2.3,2.6,4.5,4.7,6.3,6.5c1.6,1.6,4.3,1.7,6,0.1c7-6.6,19.3-17.8,30.6-28.8c2.3-2.3,4.9-2,6.4-0.6 c2.3,2.1,1.2,5.1-0.4,6.8c-12.8,14.3-27,29-32.6,34.4C23.8,44.8,21.3,45.7,18.8,45.7z'/%3e%3c/g%3e%3c/svg%3e");
        background-repeat: no-repeat;
      }
    }
  }

}



A[href=""] {
  pointer-events: none;
}


.courses_banner {
  .course_title {
    h1 {
      max-width: 360px;
    }
  }
}

.feat-box {
  a {
    pointer-events: none;
  }

  &:last-child {
    a {
      pointer-events: visible;
    }

  }
}

.contact_form-wrap {
  max-width: 80%;

  p {
    margin: 20px 0;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"] {
    color: #000000;
    width: 100%;
    height: 48px;
    padding: 0 15px;
    border: 1px solid #a1a1a1;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 0.05em;
  }

  textarea {
    color: #000000;
    width: 100%;
    padding: 15px;
    border: 1px solid #a1a1a1;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 0.05em;
  }

  input[type="submit"] {
    overflow: hidden;
    min-width: 175px;
    height: 54px;
    border: 1px solid #bd943c;
    color: #002e4b;
    font-weight: 600;
    background: #ffffff;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    line-height: 52px;
    position: relative;
    z-index: 0;
    text-indent: 0;
    cursor: pointer;
  }

  span.wpcf7-not-valid-tip {
    color: #f00;
    font-size: 12px;
    font-weight: normal;
    display: block;
  }

  div.wpcf7-response-output {
    margin: 0;
    padding: 20px;
    border: 2px solid #ff0000;
    text-align: center;
    background: #de3f3f0d;
  }

  div.wpcf7-validation-errors,
  div.wpcf7-acceptance-missing {
    background: #f7e7000d;
    border: 2px solid #f7e700;
  }

  @media (max-width:767px) {
    max-width: 100%;
    max-width: 100%;
  }
}


.infra_sec .col-sm-8 .great_infra .col-sm-4 > div > span {
  img {
    width: 100%;
    height: auto;
    line-height: 73px;
    min-height: 73px
  }
}

/* Computer science*/

#electrical-electronics-engineering-page div#menu4 .col-sm-4 {
  min-height: 361px;
}

div#menu6 .board_navslide {
  top: unset !important;
}


.course-tab-contain .tab-content-wrap .tab-content table {

  margin-bottom: 35px !important;
}

.course-tab-contain .tab-content-wrap .tab-content > div table tr td {
  padding: 10px !important;
}


.infra_table tr td {
  border: none !important;
}

.infra_table tr:first-of-type td {
  font-weight: unset !important;
}

.eee-fac-desc p {
  line-height: 20px;
  margin-top: 10px;
}

.eee-fac-desc {
  display: inline-block;
  width: calc(100% - 150px);
}

.eee-photo-col {
  width: 150px;
  height: 160px !important;
  display: inline-block;
  float: left;
  padding-right: 5%;
}

.eee-photo-col a.fancybox {
  height: 100%;
}

.eee-photo-col .img-responsive {
  max-width: 100%;
  display: block;
  height: 100%;
}

.eee-fac-desc a img {
  width: 35px;
  height: auto;
  padding-top: 18px;
  padding-right: 6px;
  filter: grayscale(100%);
}

.eee-fac-desc a img:hover {
  filter: unset;
}

.single-eee-fac.col-sm-4 {
  margin: 25px 0px;
  min-height: 210px;
}

.row .text1 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.text {
  font-weight: 400 !important;
  text-transform: unset !important;
  font-size: 14px !important;
  padding-bottom: 70px !important;
  line-height: 1.5;
  padding-top: 10px !important;
}

.course-tab-contain .tab-content-wrap #menu1 > div p:first-of-type {
  text-align: justify;
}

.course-tab-contain .tab-content-wrap .tab-content > div h4 {
  width: 70%;
  display: inline-block;
}


.course-tab-contain .tab-content-wrap .tab-content > div .ach_sec .col-sm-4 div {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.col-sm-4 .ach_sec.clearfix {
  margin: 0px !important;
  padding: 15px;
  border: 1px solid #ddd;
  height: 200px;
  text-align: center;

}

.col-sm-4 .ach_sec.clearfix a,
.col-sm-4 .ach_sec.clearfix a img {
  height: 100%;
}

.tab-content .row {
  margin-top: 25px;
}

.course-tab-contain .tab-content-wrap .tab-content .col-sm-4 span {
  text-align: center;
  margin-top: 10px;
  min-height: 30px;
}

div#menu5 .board_navslide {
  top: unset !important;
}

.owl-stage .col-sm-4 {
  width: 555px;
}

.board {
  background: #f8f8f8;
}

.board .container {
  position: relative;
}

.board h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  line-height: 1.3;
  letter-spacing: 0.05em;
  font-weight: 600;
}

.board_trustes_inner {
  margin-top: 80px;
}

.board_trustes_inner .board_trustes_slder_hh {
  text-align: center;
}

.board_trustes_inner .board_trustes_slder_hh .trustes_img {
  background: #fff;
  padding: 20px;
  border-radius: 14px;
  margin-bottom: 60px;
}

.board_trustes_inner .board_trustes_slder_hh span {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
  font-weight: 600;
}

.board_trustes_inner .board_trustes_slder_hh p {
  font-weight: 500;
}

.board_trustes_inner .vision_mision {
  margin-top: 220px;
}

.board_trustes_inner .vision_mision .col-sm-8 {
  padding-left: 100px;
}

.board_trustes_inner .vision_mision .col-sm-8 p {
  font-weight: 400;
}

.board_trustes_slder_hh1.owl-carousel.owl-theme.owl-loaded .owl-controls {
  text-align: center !important;
}

@media (max-width: 1200px) {

  .single-eee-fac.col-sm-4 {
    width: 50% !important;
  }

  .eee-fac-desc p {
    font-size: 14px;
  }

  .course-tab-contain .tab-content-wrap .tab-content .col-sm-4 {
    width: 48% !important;
    float: left;
  }
}

@media (max-width: 991px) {
  .course-tab-contain .tab-content-wrap .tab-content .col-sm-4 span {

    margin-bottom: 35px !important;
  }
}

@media (max-width: 768px) {
  .single-eee-fac.col-sm-4 {
    width: 100% !important;
  }

  .course-tab-contain .tab-content-wrap .tab-content .col-sm-4 {
    width: 100% !important;
    display: block;
    margin: auto;
    float: none;
    max-width: 400px;
    word-break: break-word;
  }

  .course-tab-contain .tab-content-wrap .tab-content table {
    min-width: 170px !important;

  }

  .course-tab-contain .tab-content-wrap .tab-content > div table tr td {
    font-size: 12px !important;
  }

  .text {
    font-size: 12 !important;
  }

  span.text1 {
    font-size: 12 !important;
  }
}

@media (max-width: 640px) {
  .col-sm-4 .ach_sec.clearfix {
    height: 200px;
  }

  .board .board_trustes_inner {
    margin-top: 60px;
  }

}

@media (max-width: 400px) {
  .course-tab-contain .tab-content-wrap .tab-content .col-sm-4 {
    width: 100% !important;
  }


}

@media(max-width: 600px) {
  .course-tab-contain .tab-content-wrap .tab-content > div {
    overflow-x: hidden !important;
    overflow-y: hidden;
  }

  .text {
    padding-bottom: 30px !important;
  }
}



.courses-offered-wrap {
  margin-top: 30px;
}

.course-tab-contain {
  .tab-menu {
    ul {
      li {
        display: inline-block;
        margin-right: 30px;
      }
    }
  }
}

.box-holder {
  margin-top: 20px;
}

.electrical-course-feature {
  margin-bottom: 50px !important;
}

.head_department {
  margin-bottom: 50px !important;
}

//single campus activities

.article-wrap {
  li {
    margin-top: 10px;
  }
}

.genesis-wrap {
  li {
    margin-top: 10px !important;
  }
}

//hide home banner owl nav

.home-banner .owl-nav {
  display: none;
}

//alumni-registration_form

.alumni-registration_form {
  margin-top: 50px;

  .one_half {
    display: inline-block;
    width: 45%;
    margin-right: 30px;
    margin-bottom: 20px;

    input,
    textarea,
    select {
      width: 100%;
      border: 1px solid #ccc;
      min-height: 45px;
      line-height: 45px;
      padding: 0 10px;
    }

    .two_half {
      display: inline-block;
      width: calc(100% / 2 - 24px);
    }

    .span_to {
      display: inline-block;
      width: 40px;
      font-size: 12px;
      font-weight: 400;
      text-align: center;
    }
  }

  label {
    display: inline-block;
    margin-right: 15px;
    color: #000000;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 0.05em;
  }

  .submit-btn {
    [type="submit"] {
      overflow: hidden;
      min-width: 175px;
      height: 54px;
      border: 1px solid #bd943c;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      line-height: 1;
      letter-spacing: 0.05em;
      color: #002e4b;
      font-weight: 600;
      background: #ffffff;
      padding: 0 15px;
      display: inline-block;
      text-align: center;
      line-height: 52px;
      position: relative;
      z-index: 0;
      text-indent: 0;

    }
  }

  span.wpcf7-not-valid-tip {
    color: #f00;
    font-size: 12px;
    display: block;
    position: absolute;
    font-weight: 500 !important;
  }

  div.wpcf7-validation-errors,
  div.wpcf7-acceptance-missing {
    border: 1px solid #f7e700;
    padding: 20px;
    font-size: 14px;
    text-align: center;
    background: #fde9b147;
    margin-left: 0;
    width: calc(100% - 55px);
  }
}

.privacy-policy-wrap {
  p {
    margin: 30px 0;
  }
}


.board_trustes_box {
  span {
    margin-bottom: 0 !important;
    margin-top: 10px;
  }
}

span {
  &.equal-height-wrap {
    min-height: 60px !important;
  }
}

.best_projects-wrap {
  margin-bottom: 50px;
}

.space-updates {
  ul {
    li {
      margin-top: 20px !important;
    }
  }
}

.add-spacing {
  margin-bottom: 50px !important;
}



//PG program inline styles



#electrical-electronics-engineering-page div#menu4 .col-sm-4 {
  min-height: 361px;
}

//.owl-prev {
//  display: block !important;
//}
//
//.owl-next {
//  display: block !important;
//}

.course-tab-contain .tab-content-wrap .tab-content > div {
  /* margin-bottom: 0px !important;*/
}

.course-tab-contain .tab-content-wrap .tab-content table {

  margin-bottom: 35px !important;
}

.course-tab-contain .tab-content-wrap .tab-content > div table tr td {
  padding: 10px !important;
}

.course-tab-contain .tab-content-wrap .tab-content > div span {
  margin-bottom: 0px !important;
}

.infra_table tr td {
  border: none !important;
}

.infra_table tr:first-of-type td {
  font-weight: unset !important;
}

.eee-fac-desc p {
  line-height: 20px;
  margin-top: 10px;
}

.eee-fac-desc {
  display: inline-block;
  width: calc(100% - 150px);
}

.eee-photo-col {
  width: 150px;
  height: 160px !important;
  display: inline-block;
  float: left;
  padding-right: 5%;
}

.eee-photo-col a.fancybox {
  height: 100%;
}

.eee-photo-col .img-responsive {
  max-width: 100%;
  display: block;
  height: 100%;
}

.eee-fac-desc a img {
  width: 35px;
  height: auto;
  padding-top: 18px;
  padding-right: 6px;
  filter: grayscale(100%);
}

.eee-fac-desc a img:hover {
  filter: unset;
}

.single-eee-fac.col-sm-4 {
  margin: 25px 0px;
  min-height: 210px;
}

.row .text1 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.text {
  font-weight: 400 !important;
  text-transform: unset !important;
  font-size: 14px !important;
  padding-bottom: 70px !important;
  line-height: 1.5;
  padding-top: 10px !important;
}

.course-tab-contain .tab-content-wrap #menu1 > div p:first-of-type {
  text-align: justify;
}

.course-tab-contain .tab-content-wrap .tab-content > div h4 {
  width: 70%;
  display: inline-block;
}

.course-tab-contain .tab-content-wrap .tab-content > div .ach_sec {
  margin: 0px
}

.course-tab-contain .tab-content-wrap .tab-content > div .ach_sec .col-sm-4 div {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.col-sm-4 .ach_sec.clearfix {
  margin: 0px !important;
  padding: 15px;
  border: 1px solid #ddd;
  height: 200px;
  text-align: center;

}

.col-sm-4 .ach_sec.clearfix a,
.col-sm-4 .ach_sec.clearfix a img {
  height: 100%;
}

.tab-content .row {
  margin-top: 25px;
}

.course-tab-contain .tab-content-wrap .tab-content .col-sm-4 span {
  text-align: center;
  margin-top: 10px;
  height: 30px;
}

div#menu5 .board_trustes_box {
  width: 322.5px !important;
  display: inline-block !important;


}

div#menu5 .board_navslide {
  top: unset !important;
  /*    right: 250px !important;*/
}

.owl-stage .col-sm-4 {
  width: 555px;
}

.board {
  background: #f8f8f8;
}

.board .container {
  position: relative;
}

.board h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  line-height: 1.3;
  letter-spacing: 0.05em;
  font-weight: 600;
}

.board_trustes_inner {
  margin-top: 80px;
}

.board_trustes_inner .board_trustes_slder_hh {
  text-align: center;
}

.board_trustes_inner .board_trustes_slder_hh .trustes_img {
  background: #fff;
  padding: 20px;
  border-radius: 14px;
  margin-bottom: 60px;
}

.board_trustes_inner .board_trustes_slder_hh span {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
  font-weight: 600;
}

.board_trustes_inner .board_trustes_slder_hh p {
  font-weight: 500;
}

.board_trustes_inner .vision_mision {
  margin-top: 220px;
}

.board_trustes_inner .vision_mision .col-sm-8 {
  padding-left: 100px;
}

.board_trustes_inner .vision_mision .col-sm-8 p {
  font-weight: 400;
}

.board_trustes_slder_hh1.owl-carousel.owl-theme.owl-loaded .owl-controls {
  text-align: center !important;
}


h3.mba_h3 {
  margin-bottom: 20px !important;
  margin-top: 20px !important;
}

.mba_span {
  height: 115px !important;
  text-align: justify;
  padding-top: 20px;
  line-height: 1.5;
}

.text.mba {
  text-align: justify;
}

span.span_val {
  min-height: 60px;
}

h3.tab6_h3 {
  margin-top: 10px;
}

.span_val {
  line-height: 1.5;
  padding-top: 15px;
  text-align: justify;
}

.ach_sec.clearfix.img_prof {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

h4.tab6_h3 {
  margin-bottom: 20px !important;
  margin-top: 20px !important;
  font-size: 15px !important;
}

h2.title_line {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  line-height: 1.3;
  letter-spacing: 0.05em;
  font-weight: 600;
}

section#board-trustes-mba {
  padding-top: 30px;
}

.mba-faculty-list img {
  width: 150px;
  height: 170px;

}

section#board-trustes-mba .board_trustes_inner {
  margin-top: 30px !important;
}

.course-tab-contain .tab-content-wrap .tab-content .incu_table table {
  margin-top: 10px;
  width: 66% !important;
}

h4.tab6_h3 {
  width: 100% !important;
}

li.admission a {
  color: #fff !important;
  background: #002e4b !important;
  padding: 4px !important;
  border-bottom: unset !important;
}

@media (max-width: 1440px) {
  .mba_span {
    height: 170px !important;
  }
}

@media (max-width: 1200px) {

  .single-eee-fac.col-sm-4 {
    width: 50% !important;
  }

  .eee-fac-desc p {
    font-size: 14px;
  }

  .course-tab-contain .tab-content-wrap .tab-content .col-sm-4 {
    width: 48% !important;
    float: left;
  }

  .course-tab-contain .tab-content-wrap .tab-content .incu_table table {
    width: 100% !important;
  }
}

@media (max-width: 991px) {
  .course-tab-contain .tab-content-wrap .tab-content .col-sm-4 span {

    margin-bottom: 35px !important;
  }

  section#board-trustes-mba h2.title_line:after {
    display: none;
  }
}

@media (max-width: 700px) {
  div#menu5 .board_trustes_box {
    width: 100% !important;
  }

  div#menu5 .board_trustes_box > div > a {
    width: 100% !important;
  }

}

@media (max-width: 768px) {
  .single-eee-fac.col-sm-4 {
    width: 100% !important;
  }

  .course-tab-contain .tab-content-wrap .tab-content .col-sm-4 {
    width: 50% !important;
    display: inline-block;
  }

  .course-tab-contain .tab-content-wrap .tab-content table {
    min-width: 170px !important;

  }

  .course-tab-contain .tab-content-wrap .tab-content > div table tr td {
    font-size: 12px !important;
  }

  .text {
    font-size: 12 !important;
  }

  span.text1 {
    font-size: 12 !important;
  }
}

@media (max-width: 640px) {
  .col-sm-4 .ach_sec.clearfix {
    height: 200px;
  }

  .board .board_trustes_inner {
    margin-top: 60px;
  }

  .owl-controls {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .text.mba {
    padding-bottom: 0px !important;
  }

  .text.mba.extra {
    padding-bottom: 30px !important;
  }

  section#board-trustes-mba h2.title_line {
    font-size: 20px !important;
  }

  .course-tab-contain .tab-content-wrap .tab-content .col-sm-4.student_activity {
    width: 100% !important;
  }

  .mba_span {
    height: 80px !important;
    padding-bottom: 20px;
  }

  .span_val {
    padding-bottom: 25px;
  }

  .col-sm-4.highlights {
    padding-bottom: 85px;
  }

}

@media (max-width: 400px) {
  .course-tab-contain .tab-content-wrap .tab-content .col-sm-4 {
    width: 100% !important;
  }


}

@media(max-width: 600px) {
  .course-tab-contain .tab-content-wrap .tab-content > div {
    overflow-x: hidden !important;
    overflow-y: hidden;
  }

  .text {
    padding-bottom: 30px !important;
  }

  .course-tab-contain .tab-content-wrap .tab-content .col-sm-4.highlights {
    width: 100% !important;
    padding-bottom: 20px;
  }

  .mba_span {
    height: unset !important;
  }

}

.page-not-found {
  width: 800px;
  height: 500px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  font-family: 'Montserrat', sans-serif !important;

  @media (max-width:991px) {
    width: 650px;
  }

  @media (max-width:767px) {
    width: 380px;
    height: auto;
  }

  svg {
    width: 320px;

    @media (max-width:991px) {
      width: 300px;
    }

    @media (max-width:767px) {
      width: 250px;
      display: block;
      margin: 0 auto;
      margin-bottom: 50px;
    }
  }

  .message-box {
    height: auto;
    position: absolute;
    margin-top: auto;
    color: #007dc4;
    font-weight: 300;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    @media (max-width:767px) {
      height: auto;
      position: relative;
      margin-top: auto;
      color: #007dc4;
      font-weight: 300;
      right: 0;
      text-align: center;
      transform: none;
      top: auto;
    }

    h1 {
      font-size: 100px;
      line-height: 46px;
      margin-bottom: 50px;
      font-weight: 700;
      display: block;
      font-size: 100px;
      line-height: 46px;
      margin-bottom: 50px;
      font-weight: 700;
      display: block;

      @media (max-width:991px) {
        font-size: 80px;
      }
    }

    p {
      font-size: 18px;
      font-weight: 400;
      color: #002e4b;
    }

    .buttons-con {
      .action-link-wrap {
        margin-top: 50px;

        a {
          background: none;
          padding: 15px 30px;
          color: #002e4b;
          border: 1px solid #002e4b;
          font-size: 14px;
          font-weight: 500;
          border-radius: 4px;
          -webkit-transition: all 0.3s linear;
          -o-transition: all 0.3s linear;
          transition: all 0.3s linear;
          cursor: pointer;
          text-decoration: none;
          margin-right: 10px;
          -webkit-transition: 0.5s all;
          -o-transition: 0.5s all;
          transition: 0.5s all;

          &:hover {
            background: #8bc53f;
            color: #fff;
            transition: 0.5s all;
            border-color: #8bc53f;
          }
        }
      }
    }
  }

  #Polygon-1,
  #Polygon-2,
  #Polygon-3,
  #Polygon-4,
  #Polygon-4,
  #Polygon-5 {
    animation: float 1s infinite ease-in-out alternate;
  }

  #Polygon-2 {
    animation-delay: .2s;
  }

  #Polygon-3 {
    animation-delay: .4s;
  }

  #Polygon-4 {
    animation-delay: .6s;
  }

  #Polygon-5 {
    animation-delay: .8s;
  }

  @keyframes float {
    100% {
      transform: translateY(20px);
    }
  }

  @media (max-width: 450px) {
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -250px;
      margin-left: -190px;
    }

    .message-box {
      top: 50%;
      left: 50%;
      margin-top: -100px;
      margin-left: -190px;
      text-align: center;
    }
  }

}



.content-only.sitemappage {
  li {
    margin-top: 10px;
    padding-left: 25px;

    a {
      font-weight: 500;
      line-height: 20px;
    }

    ul.children {
      li {
        margin-top: 10px;
      }
    }
  }

  h2 {
    font-size: 20px;
    font-weight: 600;
  }
}

.grid-items {
  &.main-clm {
    width: 100%;
    padding: 35px;
    border: 1px solid #d4d4d4;
    margin-bottom: 20px;

    .wsp-pages-list {
      column-count: 4;

      li {
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid-column;
        display: table;
        padding-left: 25px;

        a {
          display: block;
          line-height: 2;
          color: #005082;
          font-weight: 600;
          font-size: 14px;
        }

        .children {
          li {
            padding-left: 0;
            border-bottom: 1px solid #007bc9;
            margin-left: 20px;

            a {
              color: #005082;
              font-weight: 400;
              font-size: 13px;
            }
          }
        }
      }
    }
  }

  &.grid-items.single-clm {
    padding: 35px;
    border: 1px solid #d4d4d4;
    margin: 17px;
    width: calc(100% / 4 - 34px);

    li {
      a {
        display: block;
        line-height: 2;
        color: #005082;
        font-weight: 600;
        font-size: 14px;
      }
    }
  }
}

//Careers page style

.apply-form-error-msg {
  font-size: 10px;
  color: #cc0000;
  display: none;
  position: absolute;
  left: 0;
  bottom: -17px;
  padding: inherit;
  letter-spacing: 0.05em;
  font-family: 'Montserrat', sans-serif;
}

.apply-form-error-msg.error {
  display: block;
}

.form-group {
  position: relative;
}

#career_form .thank-you,
#gen_career_form .gen_thank-you {
  margin: 20px 0px;
  color: #caa963;
  opacity: 0;
  transition: all .3s ease-in-out;
  float: right;
  margin-top: 30px;
}

#career_form .thank-you.active,
#gen_career_form .gen_thank-you.active {
  opacity: 1;
}

.svg-loader,
.gen_svg-loader {
  height: 51px;
  width: 20px;
  margin-left: 10px;
  -webkit-animation: rotation 2s infinite linear;
  display: none;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}


.career_page {
  .about_main_sub {
    .why_chos_us {
      .row {
        .col-sm-4 {
          div {
            span {
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
}

/* career_page apply form styles */

.careers-apply-now-wrap {
  .form-wrap {
    width: 100%;
    width: 100%;
    display: block;
    margin-top: 30px;

    label {
      width: 100%;
      display: inline-block;
      margin-right: 15px;
      color: #000000;
      font-weight: 400;
      margin-bottom: 10px;
      font-family: 'Roboto Slab', serif;
      font-size: 15px;
      line-height: 1.2;
      letter-spacing: 0.05em;
    }

    textarea,
    input[type="text"],
    input[type="password"],
    input[type="email"] {
      color: #000000;
      width: 100%;
      height: 48px;
      padding: 0 15px;
      border: 1px solid #a1a1a1;
      font-family: 'Roboto Slab', serif;
      font-size: 15px;
      line-height: 1.2;
      letter-spacing: 0.05em;
    }

    textarea {
      height: 100px;
      margin-bottom: 30px;
    }

    input[type="button"],
    input[type="submit"] {
      overflow: hidden;
      min-width: 175px;
      height: 54px;
      border: 1px solid #bd943c;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      line-height: 1;
      letter-spacing: 0.05em;
      color: #002e4b;
      font-weight: 600;
      background: #ffffff;
      padding: 0 15px;
      display: inline-block;
      text-align: center;
      line-height: 52px;
      position: relative;
      z-index: 0;
    }

  }

  input.wpcf7-form-control.wpcf7-submit {
    overflow: hidden;
    min-width: 175px;
    height: 54px;
    border: 1px solid #bd943c;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #002e4b;
    font-weight: 600;
    background: #ffffff;
    padding: 0 15px;
    display: inline-block;
    text-align: center;
    line-height: 52px;
    cursor: pointer;
  }
}


//Online application form styles


.apply-form-error-msg {
  font-size: 10px;
  color: #cc0000;
  display: none;
  position: absolute;
  left: 0;
  bottom: -17px;
  padding: inherit;
  letter-spacing: 0.05em;
  font-family: 'Montserrat', sans-serif;
}

.apply-form-error-msg.error {
  display: block;
}

.form-group {
  position: relative;
}

.applynow-wrap .tab-menu a {
  pointer-events: none;
}

.gen_svg-loader {
  height: 51px;
  width: 20px;
  margin-left: 10px;
  -webkit-animation: rotation 2s infinite linear;
  display: inline-block;
  visibility: hidden;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}

.applynow-wrap #menu4 .form-input-wrap {
  width: 510px;
}

.gen_svg-loader.active {
  visibility: visible;
}


/* Mobile responsiveness */

.menu-logo {
  clear: both;

  .container {
    @media (max-width:1200px) {
      width: 100%;
    }

    & > div {
      @media (max-width: 1200px) {
        width: calc(100% - 555px) !important;
      }

      @media (max-width: 767px) {
        width: calc(100% - 260px) !important;
        float: none;
        margin-top: 0;
      }

      @media (max-width:599px) {
        display: none !important;
      }
    }
  }
}

.menu-top {
  .top-menu-inner {
    text-align: left;
    width: calc(100% - 220px);
    float: left;
  }
}

.counselting_btn {
  font-weight: 600;
  background: #002e4b;
  color: #fff;
  display: inline-block;
  float: right;
  padding: 3px 15px;
  margin-left: 20px;
  font-size: 15px;
}

#mega-menu-wrap-main-menu {
  @media (max-width:1200px) {
    background: transparent;
  }

  .mega-menu-toggle {
    @media (max-width:1200px) {
      background: transparent;
      position: absolute;
      right: 10px;
      top: -70px;
    }

    @media (max-width:767px) {
      top: -55px;
      z-index: 99999;
    }

    @media (max-width:590px) {
      top: -50px;
    }


    .mega-toggle-animated-inner {
      height: 2px !important;
      background-color: #005180 !important;
      width: 35px !important;

      &:after {
        height: 2px !important;
        background-color: #005180 !important;
        width: 35px !important;
      }

      &:before {
        height: 2px !important;
        background-color: #005180 !important;
        width: calc(100% - 10px) !important;
      }
    }

    .mega-toggle-block {
      margin-right: 0 !important;
    }
  }
}

#wrapper {

  @media (max-width:1200px) {
    margin-top: 99px !important;
  }

  @media (max-width:767px) {
    margin-top: 80px !important;
  }

  @media (max-width:599px) {
    margin-top: 70px !important;
  }
}

.code {
  @media (max-width:1200px) {
    margin-top: 0;
  }

  @media (max-width:991px) {
    font-size: 13px !important;
  }

  @media (max-width:767px) {
    font-size: 13px !important;
    padding: 5px 10px;
  }
}

.headnews-scroller {
  .container {
    @media (max-width:1200px) {
      width: 100%;
    }
  }
}


.infra_sec {
  .col-sm-8 {
    .great_infra {
      .col-sm-4 > div > span {
        display: inline-block;
        width: 20%;

        @media (max-width:767px) {
          width: 50px;
          text-align: center;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}

.news_events {
  .news_events_left {
    .news_events_box {
      .news_events_box_top_img {
        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.title_line {
  @media (max-width:767px) {
    font-size: 24px !important;
  }

  &:after {
    @media (max-width:599px) {
      content: none;
    }
  }
}


.achieve_sec {
  .achieve_top {
    .number-block {
      text-align: center;

      .block_item {
        h3 {
          text-align: left;

          @media (max-width:767px) {
            text-align: center;
          }
        }

        p {
          text-align: left;

          @media (max-width:767px) {
            text-align: center;
          }
        }
      }
    }

    .more-block {
      margin: 0 auto;

      @media (max-width:767px) {
        margin: 15px auto;
      }
    }
  }
}

.ach_slide-wrap {
  .achieve-slider {
    @media (max-width:767px) {
      label {
        &:after {
          content: none;
        }
      }
    }
  }
}


.course-tab-contain {
  .tab-content-wrap {
    .tab-content {
      & > div {
        .ach_sec {
          .col-sm-3 {
            @media (max-width:767px) {
              padding: 0 10px;
              margin-right: 0;

            }
          }
        }
      }
    }
  }
}

.campus_activtis {
  .col-sm-4 {
    span {
      img {
        max-width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}


.principal_sec_lft {
  .hostel_rgt_img {
    width: calc(100% - 20px) !important;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}


/* scroll to top */
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  cursor: pointer;
  background: white;
  box-shadow: 0 0 15px -4px #000;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 50%;
  z-index: 9;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;


  img {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 100%;
    max-width: 22px;
    margin: 0 auto;
    display: block;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
  }

  &:hover {
    img {
      color: #fff;
      top: 15px;
    }
  }
}

.banner-content {
  .container {
    & > div {
      .banner-left {
        .banner-boxcontent {
          .row {
            & > div {
              height: 142px;
            }
          }
        }
      }
    }
  }
}


footer {
  .footer_sec {
    .footer_sec_btm {
      .col-sm-9 {
        .footer_sec_btm_box {
          @media (max-width:650px) {
            column-count: 2 !important;
          }

          @media (max-width:540px) {
            column-count: 1 !important;
          }

          ul {
            li {
              @media (max-width:650px) {
                display: block;
              }

            }
          }
        }
      }
    }

    .footer_sec_top {
      .col-sm-9 {
        ul {
          li {
            a {
              i {
                svg {
                  @media (max-width:490px) {
                    margin-right: 10px;
                  }
                }
              }
            }
          }
        }

        @media (max-width:767px) {
          width: 100%;
          padding-bottom: 24px;
          border-bottom: 1px solid #e2e2e25e;
        }

      }
    }
  }
}


.gallery_page {
  .gallery_sec {
    ul {
      li {
        @media (max-width:991px) {
          min-height: 150px;
        }

        a {
          .inr_glry_cntnt {
            p {
              @media (max-width:991px) {
                line-height: 16px;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

.subscriber_box {
  @media (max-width:767px) {
    margin: 0 auto !important;
    text-align: center;
    width: 320px;
  }
}

.res_course-wrap {
  .text-contain {
    & > div {
      a {
        @media (max-width:991px) {
          margin-bottom: 15px;
        }
      }
    }
  }
}


/* Thank you page */

.thankyou {
  text-align: center;

  .thanku-contents {
    img {
      max-width: 200px;
      margin-bottom: 50px;
    }

    h1 {
      font-size: 35px;
      font-weight: 600;
      letter-spacing: 2px;
      color: #002e4b;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      font-family: 'Montserrat', sans-serif;
    }
  }
}
