br{
		display: block;
	}
.about_main{
	background: #f8f8f8;
	.about_title{
		h3{
			font-weight: 600;
			.font(@mont,36px,1.3,0.05em);
		}
		span{
			font-size: 18px;
			font-family: @robo;			
			line-height: 2;
			letter-spacing: 0.050em;
			margin-top: 60px;
			display: block;
		}
	}
	.about_rank{
		padding: 100px 0;
		position: relative;
		margin-top: 100px;
		.about_rank_left{
			width: 42%;
			display: inline-block;
			vertical-align: middle;
			position: relative;
			z-index: 2;
			background: #fff;
			padding: 100px 20px 80px 100px;
			> span{
					font-family: @mont;
					font-size: 223px;
					font-weight: 600;
					position: relative;
					background: url("../img/title-bg.jpg") center right;
					width: 100%;
					color: #002e4b;
				    text-fill-color: transparent; /* not yet supported */
				    background-clip: text; /* not yet supported */
				    -webkit-text-fill-color: transparent;
				    -webkit-background-clip: text;
				    -moz-text-fill-color: transparent; /* not yet supported */
				    -moz-background-clip: text; /* not yet supported */
			  		display: inline-block;
				    
				sup{
					vertical-align: super;
					font-size: 135px;
				}
				label{
				    color: #fff;
				    background: #bd943c;
				    font-size: 42px;
				    position: absolute;
				    padding: 5px 18px;
				    font-weight: 400;
				    right: 30px;
				    bottom: 30px;
				    text-fill-color: #fff; /* not yet supported */
				    background-clip: #fff; /* not yet supported */
				    -webkit-text-fill-color: #fff;
				    -webkit-background-clip: #fff;
				    -moz-text-fill-color: #fff; /* not yet supported */
				    -moz-background-clip: #fff;
				    -ms-background-clip: #fff; /* not yet supported */
				}
			}
			p{
				font-size: 33px;
				line-height: 1.3;
				margin-top: 20px;
				color: #000000;
				span{
					font-size: 12px;
					display: block;
					margin-top: 25px;
					font-weight: 700;
					font-family: @mont;
					color: #989898;
				}
			}
		}
		.about_bg_img{
				background: url("../img/about-bg.jpg")no-repeat center center;
				background-size: cover;
			    width: 65%;
			    height: 100%;
			    position: absolute;
			    right: 0;
			    top: 0;
		}
	}
	.about_main_sub{
		padding-top: 100px;
		h3{
			font-size: 30px;
		}
		p{
			text-align: justify;
			font-weight: 400;
		}
	}




}	


.about_clg{
	.about_clg_lft{
		width: 45%;
		display: inline-block;
		vertical-align: middle;
		padding-left: 30px;
	}
	.about_clg_rgt{
		width: 54%;
		display: inline-block;
		vertical-align: middle;
		h3{
			font-size: 30px;
			font-family: @mont;
			color: #000000;
			font-weight: 600;
			margin-bottom: 70px;
		}
		p{
			text-align: justify;
			font-weight: 400;
			strong{
				font-weight: 700;
			}
		}
	}
}

.our_standards{
	background: #f8f8f8;
	h3{
		font-size: 30px; 
	}
	p{
		font-weight: 400;
	}
}

.clg_range{
	background: #fff;
	padding: 75px 0;
	.container{
		position: relative;
	  	.row{margin: 0;}
	.clg_range_box{
		min-height: 180px;
		> div{
			position: absolute;
			left: 0;
			top: 0;
			h2{
				font-size: 72px;
				font-weight: 600;
				color: #bd943c;
			}
			span{
				display: block;
				width: 210px;
				font-size: 18px;
				letter-spacing: 0.050em;
				line-height: 1.2;
				margin-top: 10px;
				font-family: @mont;
				font-weight: 500;
			}
		}	
		&:nth-of-type(2) div{
			left: 25%;
		}
		&:nth-of-type(3) div{
			right: 0;
			left: auto;
		}

		
	}		
	&:after{
			position: absolute;
			content: "";
			right: 30%;
			top: 0;
			height: 100%;
			width: 2px;
			background: #e4e4e4;
		}
	&:before{
		position: absolute;
		content: "";
		left: 30%;
		top: 0;
		height: 100%;
		width: 2px;
		background: #e4e4e4;
	}
  } 

}


.board_trustes{
	background: #f8f8f8;
	.container{
		position: relative;
	}
	h2{
		.font(@mont,30px,1.3,0.05em);
		font-weight: 600;
		&:after{

		}
	}

	.board_trustes_inner{
		margin-top: 130px;
		.board_trustes_slder{
			text-align: center;
			.trustes_img{
				background: #fff;
				padding: 20px;
				border-radius: 14px;
				margin-bottom: 60px;
			}
			span{
				font-family: @mont;
				margin-bottom: 20px;
				font-weight: 600;		
			}
			p{
				font-weight: 500;
			}	
		}
		.vision_mision{
			margin-top: 220px;

			.col-sm-8{
				padding-left: 100px;
				p{
					font-weight: 400;
				}
			}
		}	

	}
	
}

.directr_msg{
	padding: 150 0;
	.directr_msg_img{
		width: 40%;
		display: inline-block;
		vertical-align: top;
		text-align: center;
		
		.directr_msg_img_inr{
			float: left;
			h4{
				margin: 50px 0 15px;
				font-weight: 600;
				.font(@mont,18px,1.3,0.05em);
			}
			span{
				font-weight: 600;
				.font(@robo,18px,1.3,0.05em);
			}
		}
		
	}
	.directr_msg_content{
		width: 59%;
		display: inline-block;
		vertical-align: top;
		h2{
			.font(@mont,30px,1.3,0.05em);
			font-weight: 600;
			&:after{
				bottom: 15px;
				left: 101%;
			}
		}
		span{
			display: block;
			margin: 60px 0 50px;
			.font(@robo,18px,2,0.05em);
		}
		p{
			text-align: justify;
			font-weight: 400;
		}
	}
}




