.ach-wrap-content{
  padding-top: 0;
  background-color: #f8f8f8;
  .grid-layout{
    margin-left: -18px;
    margin-right: -18px;
    .grid-item{
      margin-top: 36px;
      &:nth-of-type(-n+3){
        margin-top: 0;
      }

      .img-contain{
        width: 100%;
        height: 70px;
        margin-bottom: 25px;
        img{
          width: auto;
          max-width: 100%;
          height: 100%;
        }
      }
      h3{
        .font(@mont,24px,1.3,0.05em);
        font-weight: 600;
        margin-bottom: 20px;
      }
      p{

      }
      padding: 0 18px;
      > div{
        padding: 50px;
        background: #ffffff;
        border: 1px solid #ebebeb;
        position: relative;
        .transition();
        &:before, &:after{
          content: "";
          position: absolute;
          width: 0%;
          height: 0%;
          .transition();
          border-color: #ebebeb;
        }
        &:before{
          left: -0.5px;
          top: -0.5px;
          border-left: 1px solid #ebebeb;;
          border-top: 1px solid #ebebeb;;
        }
        &:after{
          right: -0.5px;
          bottom: -0.5px;
          border-right: 1px solid #ebebeb;;
          border-bottom: 1px solid #ebebeb;;
        }
        &:hover{
          box-shadow: 0px 0 25px -10px #b0b0b0;
          &:before, &:after{
            border-color:  @007bc9;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}