.admis_intro{
  background: url('../img/admis_intro_bg.jpg');
  background-size: cover;
  background-position: center;
  background-color: #f8f8f8;
  position: relative;
  h1{
    .font(@mont,36px,1.2,0.025em);
    margin: 20px 0 40px;
    font-weight: 600;
  }
  h3{
    .font(@mont,18px,1.2,0);
    color: @002e4b;
    font-weight: 600;
    padding-bottom: 23px;
    margin-bottom: 45px;
    position: relative;
    &:after{
      position: absolute;
      content: "";
      width: 37px;
      height: 2px;
      bottom: 0;
      left: 0;
      background: @bd943c;
    }
  }
  p{
    font-weight: 500;
    .font(@robo,18px,2.2,0.05em);
    margin-bottom: 50px;
  }
  a{
    background: transparent;
  }
  .text-contain{
    padding-right: 50px;
    padding-bottom: 10px;
  }
  .img-contain{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
    img{
      position: absolute;
      min-height: 100%;
      .translate(-50%,0);
      left: 50%;
      min-width: 100%;
    }
  }
}

.admis_steps_wrap{
  background: #f8f8f8;
  .admis_steps_intro{
    h2{
      .font(@mont,36px,1.2,0.025em);
      margin-bottom: 50px;
      font-weight: 600;
    }
    p{
      font-weight: 500;
      .font(@robo,18px,2.2,0.05em);
    }
  }
  .admis_steps{
    margin-top: 80px;
    span{
      font-weight: 600;
      display: inline-block;
      .font(@mont,72px,0.8,0);
      color: @caa963;
      margin-left: -3px;
      margin-bottom: 25px;
    }
    h3,h4{
      .font(@mont,18px,1.2,0);
      color: @002e4b;
      font-weight: 600;
      padding-bottom: 23px;
      margin-bottom: 35px;
    }
    h4{
      margin-top: 75px;
    }
    h3{
      position: relative;
      line-height: 1.6;
      &:after{
        position: absolute;
        content: "";
        width: 37px;
        height: 2px;
        bottom: 0;
        left: 0;
        background: @bd943c;
      }
    }
    p{
      font-weight: 400;
      line-height: 2.7;
      width: 1200px;
      max-width: 100%;
      margin-bottom: 50px;
    }
    table{
      width: 100%;
      margin-bottom: 75px;
      tr{
        height: 120px;
      }
      td,th{
        padding: 0 35px;
        vertical-align: middle;
        font-weight: 300;
        font-size: 15px;
        letter-spacing: 0.05em;
        border: 1px solid #000000;
        line-height: 2.7;
      }
      span{
        font-size: 14px;
        color: @002e4b;
        display: block;
        margin: 0;
        margin-top: 30px;
        text-align: center;
      }
      label{
        min-width: 50px;
        display: inline-block;
        font-weight: 400;
      }
      thead{
        th{
          text-align: left;
          font-weight: 500;
          .font(@mont,18px,2.2,0.05em);
          color: @002e4b;
        }
      }
    }
    &.step01{
      table td{
        &:nth-of-type(1){
          width: 60%;
        }
        &:not(:nth-of-type(1)){
          text-align: center;
        }
      }
    }
    &.step02{
      table{
        tr{
          height: 65px;
        }
        thead tr{
          height: 75px;
        }
        td,th{
          padding: 15px 75px;
          line-height: 1.6;
          &:first-of-type{width: 45%;}
          &:last-of-type{width: 55%;}
        }
      }
    }
  }
}

.external_links.admis_extlinks{
  label{
    display: block;
  }
  ul{
    display: inline-block;
    width: ~"calc(100% - 350px)";
  }
  a.btn_web{
    float: right;
    background-color: transparent;
    padding: 0 20px;
  }
}