.about_title,
.about_main .about_rank .about_bg_img,
.about_main .about_rank .about_rank_left,
.about_main .about_rank .about_rank_left > *,
.about_clg .about_clg_lft,
.about_clg .about_clg_rgt,
.our_standards .container > *,
.board_trustes_slder .board_trustes_box,
.board_trustes .board_trustes_inner .vision_mision .row > div,
.dept_intro .container > *,
.dept_number .dept_number-img .overbox > div,
.dept_number .dept_number-img .underimg,
.dept_number .dept_number-img .overbox > div > *,
.dept_courses .course-box > div,
.dept_common .common_box_wrap .row > div,
.res_course-wrap > div .img-contain,
.res_course-wrap > div .text-contain,
.admis_intro .text-contain > *,
.admis_intro .img-contain,
.admis_steps_wrap [class^="admis_steps"] > *,
.placements_training .container > div,
.our_recruiters .our_recruiters_sldr .our_recruiters_slide,
.major_fnctin .tic_list li,
.strngth_plcmnt_ofc > .container > div:not(.external_links) > *,
.campuslife-intro .container > *:not(.text-wrapper),
.camp-virt-tour,
.camp-virt-tour .campvirt-text span,
.camp-virt-tour .campvirt-text:last-of-type > *,
.campus_activtis .col-sm-4,
.gallery_page_title > *,
.gallery_page .gallery_sec ul li,
.contact_sec .container .row > div{
  opacity: 0;
}


.camp-virt-tour{
  display: inline-block;
  width: 100%;
}
.camp-virt-tour .campvirt-text span{
  display: inline-block;
}