.applynow-wrap{
  h1{
    font-weight: 500;
    letter-spacing: 0;
  }
  .tab-menu{
    margin-top: 65px;
    ul:after{
      content: '';
      clear: both;
      display: table;
    }
    li{
      width: 25%;
      float: left;
      height: 145px;
      display: table;
      border: 1px solid #ebebeb;
      position: relative;
      &.active{
        &:after{
          content: "";
          position: absolute;
          width: 100%;
          background: #dddddd;
          height: 5px;
          z-index: -1;
          left: 0;
          bottom: 0;
        }
      }
      a{
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        .progress{
          display: inline-block;
          height: 5px;
          width: 0%;
          .transition();
          background: @bd943c;
          position: absolute;
          bottom: 0;
          left: 0;
        }
        > div{
          text-align: left;
          display: inline-block;
          span{
            display: inline-block;
            .font(@mont,40px,1,0.05em);
            font-weight: 600;
            color: @bd943c;
            position: relative;
            &:after{
              content: "";
              position: absolute;
              width: 27px;
              height: 40px;
              background: white;
              .rotate(35deg);
              top: 8px;
              right: -18px;
              border-left: 1px solid #bd943c;
              border-bottom-right-radius: 100%;
            }
          }
          h3{
            text-transform: uppercase;
            margin-top: 15px;
            .font(@mont,18px,1.2,0.05em);
            font-weight: 700;
            color: @002e4b;
          }
        }
      }
    }
  }
  .tab-content-wrap{
    padding: 70px 0;
    border: 1px solid #ebebeb;
    .fade {
      opacity: 0;
      -webkit-transition: opacity .15s linear;
      -o-transition: opacity .15s linear;
      -moz-transition: opacity .15s linear;
      -ms-transition: opacity .15s linear;
      transition: opacity .15s linear;
    }
    .fade.in {
      opacity: 1;
    }
    .tab-content{
      display: none;
      width: 100%;
      position: relative;
      > div{
        h2{
          .font(@mont,18px,1.2,0.05em);
          font-weight: 700;
          color: @002e4b;
          padding-bottom: 15px;
          margin-bottom: 50px;
          text-transform: uppercase;
        }
        position: static;
        &:nth-of-type(2){
          &:after{
            content: "";
            position: absolute;
            width: 1px;
            background: #e7e7e7;
            height: 100%;
            top: 0;
            left: 50%;
          }
        }
      }
      &.active{
        display: inline-block;
      }
      .form-input-wrap{
        margin: 0 auto;
        width: 400px;
        max-width: 100%;
        > div:first-of-type{
          margin-top: 0;
        }
        &.nextprevwrap{
          margin-top: 30px;
        }
      }

      .academic-content{
        .academic-intro{
          padding: 0 45px;
          > .row > .form-group{
            margin-top: 0;
          }
          .checkbox-group{
            margin-top: 7px;
          }
          margin-bottom: 70px;
        }
        .academic-table{
          .acadtab-head{
            text-align: center;
            border-top: 1px solid #6d8798;
            border-bottom: 1px solid #6d8798;
            background: #ccd5db;
            padding: 35px 0;
            h3{
              font-weight: 700;
              color: @002e4b;
              text-transform: uppercase;
              .font(@mont,18px,1.2,0.05em);
            }
          }
          h4{
            font-weight: 600;
            .font(@mont,18px,1.4,0);
          }
          table{
            width: 100%;
            thead{
              background: #f2f4f6;
              h4{
                color: @002e4b;
              }
            }
            tbody{
              tr{
                border-bottom: 1px solid #dcdcdc;
                border-left: 5px solid transparent;
                .transition();
                &.active{
                  border-left-color: #007cc9;
                }
              }
            }
            td{
              h4{
                padding-right: 55px;
              }
            }
            tr td, tr th{
              padding: 25px 15px;
              vertical-align: middle;
              .form-group{
                margin: 0;
              }
              &:first-of-type{
                text-align: left;
                padding-left: 50px;
              }
              &:last-of-type{
                padding-right: 50px;
              }
            }
            input{
              border: 1px solid #d6d6d6;
              height: 58px;
              .transition();
              &:focus{
                border-color: #77b9e2;
              }
            }
          }
          .input-wrap{
            .form-group{
              margin: 30px 0;
            }
          }
        }
        .academic-table-bottom{
          margin-left: 0;
          padding: 30px 50px 0;
          margin-bottom: -20px;
          p{
            display: inline-block;
          }
          .form-group{
            margin: 0;
            width: 250px;
            display: inline-block;
            margin-left: 30px;
          }
        }
      }
    }
  }
}

form.webform{
  input[type="text"],
  input[type="password"],
  input[type="email"],
  select{
    color: #000000;
    width: 100%;
    height: 48px;
    padding: 0 15px;
    border: 1px solid #a1a1a1;
    .font(@robo,15px,1.2,0.05em);
  }


  input[type="file"]{
    display: none;
    & + label:not(.error){
      margin: 0;
      cursor: pointer;
      .font(@mont,14px,1.2,0.05em);
      text-transform: uppercase;
      color: @002e4b;
      font-weight: 600;
      height: 48px;
      border: 1px solid #a1a1a1;
      display: inline-block;
      line-height: 45px;
      padding: 0 20px;
      span{
        display: inline-block;
        width: 18px;
        height: 40px;
        vertical-align: middle;
        margin-right: 15px;
      }
      & + p{
        vertical-align: middle;
        color: #000000;
        padding-left: 15px;
        display: inline-block;
        max-width: ~"calc(100% - 240px)";
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .form-group{
    margin-top: 35px;
    label:not(.error){
      display: inline-block;
      margin-right: 15px;
      color: @black;
      font-weight: 400;
      margin-bottom: 10px;
      .font(@robo,15px,1.2,0.05em);
    }
  }

  .row.multiple-form-group{
    margin-top: 35px;
    .form-group{
      margin-top: 0;
    }
    label:not(.error){
      padding: 0 15px;
      margin-right: 0;
      display: block;
      color: @black;
      font-weight: 400;
      margin-bottom: 10px;
      .font(@robo,15px,1.2,0.05em);
    }
  }


  .checkbox-group {
    margin-top: 10px;
    display: inline-block;
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked,
    [type="radio"]:not(:checked),
    [type="radio"]:checked{
      position: absolute;
      left: -9999px;
      opacity: 0;
    }
    input[type="checkbox"],
    input[type="radio"] {
      box-sizing: border-box;
      padding: 0;
    }
    [type="checkbox"] + label,
    [type="radio"] + label{
      position: relative;
      cursor: pointer;
      display: inline-block;
      -webkit-user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -ms-user-select: none;
      .font(@robo,15px,1.2,0.05em);
      font-weight: 400;
      text-align: left;
      background-color: transparent;
      margin-bottom: 0 !important;
      padding-right: 40px;
      line-height: 1.8;
      margin-right: 25px;
    }
    [type="checkbox"] + label:before, [type="checkbox"] + label:after, [type="radio"] + label:before, [type="radio"] + label:after{
      box-sizing: content-box;
    }

    [type="checkbox"] + label:before, [type="radio"] + label:before{
      border-radius: 0px;
      width: 15px;
      height: 15px;
      background: url('data:image/svg+xml;utf8, <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 60 46.3" style="enable-background:new 0 0 60 46.3;" xml:space="preserve"> <style type="text/css"> .st0{fill:#ffffff;} </style> <g id="XMLID_29_"> <path id="XMLID_27_" class="st0" d="M18.8,45.7c-2.3,0-4.5-0.8-6.4-2.3c-2.9-2.4-7.1-6.4-11.1-11.7c-1.8-2.4-1.7-6,0.5-8 c2.3-2,5.5-1.6,7.7,0.9c2.3,2.6,4.5,4.7,6.3,6.5c1.6,1.6,4.3,1.7,6,0.1c7-6.6,19.3-17.8,30.6-28.8c2.3-2.3,4.9-2,6.4-0.6 c2.3,2.1,1.2,5.1-0.4,6.8c-12.8,14.3-27,29-32.6,34.4C23.8,44.8,21.3,45.7,18.8,45.7z"/> </g> </svg>');
      background-repeat: no-repeat;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
      opacity: 0;
      transition: opacity 0.3s ease !important;
      -webkit-transition: opacity 0.3s ease !important;
      -moz-transition: opacity 0.3s ease !important;
      -ms-transition: opacity 0.3s ease !important;
      margin-right: 5px;
      margin-top: 7px;
    }


    [type="checkbox"]:not(:checked) + label:after , [type="radio"]:not(:checked) + label:after {
      height: 23px;
      width: 23px;
      border-radius: 2px;
      border: 1px solid #7f7f7f;
      top: 1px;
      z-index: 0;
    }

    [type="checkbox"]:checked + label:before ,[type="checkbox"]:hover + label:before,
    [type="radio"]:checked + label:before ,[type="radio"]:hover + label:before{
      opacity: 1;
    }
    [type="checkbox"]:checked + label:after ,[type="checkbox"]:hover + label:after,
    [type="radio"]:checked + label:after ,[type="radio"]:hover + label:after{
      background: rgba(0,124,201,0.3);
      border-color: rgba(0,124,201,0.3);
    }

    [type="checkbox"]:checked + label:before, [type="radio"]:checked + label:before{
      opacity: 1;
    }

    [type="checkbox"] + label:before,
    [type="checkbox"] + label:after,
    [type="radio"] + label:before,
    [type="radio"] + label:after{
      content: '';
      right: 0;
      position: absolute;
      .transition();
      z-index: 1;
      top: 1px;
    }

    [type="checkbox"]:checked + label:after,
    [type="radio"]:checked + label:after{
      opacity: 1;
      top: 1px;
      height: 23px;
      width: 23px;
      border-radius: 2px;
      background: #007cc9;
      border: 1px solid #007cc9;
      z-index: 0;
    }
    [type="checkbox"] + label{
      padding-left: 23px;
      padding-right: 0;
      &:after,&:before{
        left: 0;
        right: auto;
      }
    }
  }
}

.applynow-wrap form.webform .btn_web{
  margin-right: 10px;
}