.campuslife-intro{
  background: #ffffff;
  @-webkit-keyframes iconpulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }
  @-o-keyframes iconpulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }
  @-moz-keyframes iconpulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }
  @keyframes iconpulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }
  .text-wrapper{
    height: 220px;
    overflow: hidden;
    text-align: center;
    position: relative;
  }
  video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .camp-txtslider{
    background: #ffffff;
    height: 100%;
    width: 100%;
    position: relative;
    mix-blend-mode: hard-light;
    li{
      position: absolute;
      opacity: 0;
      overflow: hidden;
      -webkit-animation: rotateWord 13s ease infinite 0s;
      -ms-animation: rotateWord 13s ease infinite 0s;
      animation: rotateWord 13s ease infinite 0s;
      &:nth-child(1) {
        color: rgba(179, 122, 0, 0.6);
      }
      &:nth-child(2) {
        color: rgba(140, 149, 0, 0.6);
        -webkit-animation-delay: 2.6s;
        -ms-animation-delay: 2.6s;
        animation-delay: 2.6s;
      }
      &:nth-child(3) {
        color: rgba(0, 132, 22, 0.6);
        -webkit-animation-delay: 5.2s;
        -ms-animation-delay: 5.2s;
        animation-delay: 5.2s;
      }
      &:nth-child(4) {
        color: rgba(206, 0, 0, 0.6);
        -webkit-animation-delay: 7.8s;
        -ms-animation-delay: 7.8s;
        animation-delay: 7.8s;
      }
      &:nth-child(5) {
        color: rgba(0, 93, 206, 0.6);
        -webkit-animation-delay: 10.4s;
        -ms-animation-delay: 10.4s;
        animation-delay: 10.4s;
      }
      @-webkit-keyframes rotateWord {
        0% { opacity: 0; }
        2% { opacity: 0; -webkit-transform: translateY(90px); }
        5% { opacity: 1; -webkit-transform: translateY(0px);}
        17% { opacity: 1; -webkit-transform: translateY(0px); }
        20% { opacity: 0; -webkit-transform: translateY(-90px); }
        80% { opacity: 0; }
        100% { opacity: 0; }
      }
      @-ms-keyframes rotateWord {
        0% { opacity: 0; }
        2% { opacity: 0; -ms-transform: translateY(90px); }
        5% { opacity: 1; -ms-transform: translateY(0px);}
        17% { opacity: 1; -ms-transform: translateY(0px); }
        20% { opacity: 0; -ms-transform: translateY(-90px); }
        80% { opacity: 0; }
        100% { opacity: 0; }
      }
      @keyframes rotateWord {
        0% { opacity: 0; }
        2% { opacity: 0; -webkit-transform: translateY(90px); transform: translateY(90px); }
        5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
        17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
        20% { opacity: 0; -webkit-transform: translateY(-90px); transform: translateY(-90px); }
        80% { opacity: 0; }
        100% { opacity: 0; }
      }
      display: table;
      margin: 0 auto;
      font-weight: 600;
      font-family: 'Montserrat', sans-serif;
      font-size: 180px;
      line-height: 1.2;
      letter-spacing: 0;
      color: #000000;
      width: 100%;
    }
  }
  h1{
    margin: 50px 0;
    text-align: center;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
    .font(@mont,30px,1.3,0.025em);
    span{
      color: #80a0a6;
      width: 30px;
      height: 26px;
      margin: 0 5px;
      display: inline-block;
      position: relative;
      animation: iconpulse 2.6s ease infinite;
      &:before,
      &:after{
        position: absolute;
        content: "";
        left: 15px;
        top: 2px;
        width: 16px;
        height: 24px;
        background: #63addb;
        -moz-border-radius: 50px 50px 0 0;
        border-radius: 50px 50px 0 0;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 0 100%;
        -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
        -o-transform-origin: 0 100%;
        transform-origin: 0 100%;
      }
      &:after{
        left: 0;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transform-origin: 100% 100%;
        -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
        -o-transform-origin: 100% 100%;
        transform-origin :100% 100%;
      }
    }
  }
  p{
    text-align: center;
    line-height: 2.7;
    font-weight: 400;
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .campuslife-intro .camp-txtslider li{
    background: transparent;
    &:nth-of-type(1){
      color: rgba(179, 122, 0, 0.6);
    }
    &:nth-of-type(2){
      color: rgba(140, 149, 0, 0.6);
    }
    &:nth-of-type(3){
      color: rgba(0, 132, 22, 0.6);
    }
    &:nth-of-type(4){
      color: rgba(206, 0, 0, 0.6);
    }
    &:nth-of-type(5){
      color: rgba(0, 93, 206, 0.6);
    }
  }
}
@supports not(mix-blend-mode: hard-light){
  .campuslife-intro .camp-txtslider li{
    background: transparent;
    &:nth-of-type(1){
      color: rgba(179, 122, 0, 1);
    }
    &:nth-of-type(2){
      color: rgba(140, 149, 0, 1);
    }
    &:nth-of-type(3){
      color: rgba(0, 132, 22, 1);
    }
    &:nth-of-type(4){
      color: rgba(206, 0, 0, 1);
    }
    &:nth-of-type(5){
      color: rgba(0, 93, 206, 1);
    }
  }
}



  .camp-virt-tour{
  position: relative;
  background: #f8f8f8;
  .video_play_wrap{
    position: absolute;
    text-align: center;
    top: 50%;
    .translate(-50%,-50%);
    left: ~"calc(50% - 175px)";
    //padding: 50px;
    &:after{
      display: none;
    }
    .ply-btn{
      width: 110px;
      height: 110px;
    }
    span{
      width: 110px;
      height: 110px;
      &:after{
        border-top: 12px solid transparent;
        border-left: 20px solid #ffffff;
        border-bottom: 12px solid transparent;
      }
    }
    h3{
      margin-top: 15px;
      font-weight: 500;
      color: #ffffff;
      .font(@mont,30px,1.3,0.025em);
    }
/*    &:hover{
      circle:first-of-type{
        fill: transparent;
      }
      .another-circle{
        stroke-dashoffset: 0;
      }
    }*/
      &:hover{
        .box {
          fill: #fff;
          stroke: #b2c6d1;
          stroke-dashoffset: 0;
          transition: stroke 2s .7s ease-out, stroke-dashoffset .7s ease-out, fill .4s .3s ease-out;
        }
        .play {
          fill: #017bc8;
        }
      }
  }
  .campvirt-video{
    height: 670px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 85%;
    position: relative;
    &:before{
      width: 350px;
      height: 100px;
      content: "";
      background: #f8f8f8;
      position: absolute;
      bottom: -1px;
      right: -2px;
      z-index: 0;
    }
    &:after{
      width: 350px;
      height: 100px;
      content: "";
      background: #f8f8f8;
      position: absolute;
      top: -1px;
      right: -2px;
      z-index: 0;
    }
  }
  .campvirt-text{
    text-align: center;
    padding: 80px 75px;
    background: #ffffff;
    display: inline-block;
    position: absolute;
    width: 550px;
    right: -2px;
    z-index: 1;
    &:first-of-type{
      padding-bottom: 0;
      top: 60px;
      mix-blend-mode: hard-light;
    }
    &:last-of-type{
      padding-top: 0;
      bottom: 60px;
    }
    span{
      font-weight: 600;
      color: #80a0a6;
      .font(@mont,180px,1.2,0);
      sup{
        font-size: 50%;
        vertical-align: top;
      }
    }
    h3{
      .font(@robo,30px,1.3,0.05em);
    }
    label{
      margin-top: 15px;
      display: block;
      color: @grey;
      font-weight: bold;
      .font(@mont,15px,1.3,0.05em);
    }
    a{
      margin-top: 50px;
      min-width: 230px;
    }
  }
}