.external_links_outer{
	background: #f8f8f8;
	padding: 100px 0;
}
.campus_activtis{
	background: #f8f8f8;
	padding-bottom: 50px; 
	.col-sm-4{
		width: 28%;
	    margin-right: 8%;
		margin-bottom: 100px;
	    &:nth-of-type(3n){
		  margin-right: 0;
		}
		span{
			height: 90px;
			width: 80px;
			display: block;
		}
		h2{
			letter-spacing: 0.025em;
			font-weight: 600;
			margin: 20px 0 35px;
		}
		p{
		  font-weight: 400;
		  line-height: 2.6;
		}
	}
}