.career_page{
	background: #fff;
	.about_title{
		opacity: 1;
		h3{
			font-weight: 600;
			.font(@mont,36px,1.3,0.05em);
		}
		span{
			font-size: 18px;
			font-family: @robo;			
			line-height: 2;
			letter-spacing: 0.050em;
			margin-top: 60px;
			display: block;
		}
	}
	.about_rank{
		padding: 50px 0;
		position: relative;
		margin-top: 100px;
		.about_rank_left{
			opacity: 1 !important;
			width: 53%;
			float: right;
			vertical-align: middle;
			position: relative;
			z-index: 2;
			background: #fff;
			padding: 75px 85px;
			border: 1px solid #bd943c;
			> span{
				opacity: 1 !important;
					font-family: @mont;
					font-size: 166px;
					font-weight: 600;
					position: relative;
					background: url("../img/career-title-bg.jpg") center right;
					width: 100%;
					color: #002e4b;
				    text-fill-color: transparent; /* not yet supported */
				    background-clip: text; /* not yet supported */
				    -webkit-text-fill-color: transparent;
				    -webkit-background-clip: text;
				    -moz-text-fill-color: transparent; /* not yet supported */
				    -moz-background-clip: text; /* not yet supported */
				    
				
				label{
					opacity: 1 !important;
				    color: #fff;
				    background: #bd943c;
				    font-size: 42px;
				    position: absolute;
				    padding: 5px 18px;
				    font-weight: 400;
				    right: 12px;
				    bottom: 45px;
				    text-fill-color: #fff; /* not yet supported */
				    background-clip: #fff; /* not yet supported */
				    -webkit-text-fill-color: #fff;
				    -webkit-background-clip: #fff;
				    -moz-text-fill-color: #fff; /* not yet supported */
				    -moz-background-clip: #fff;
				    -ms-background-clip: #fff; /* not yet supported */
				}
			}
			p{
				opacity: 1 !important;
				font-size: 30px;
				line-height: 1.3;
				margin-top: 20px;
				color: #000000;
				span{
					font-size: 14px;
					display: block;
					margin-top: 25px;
					font-weight: 700;
					font-family: @mont;
					color: #989898;
				}
			}
			.btn_web{
				margin-top: 50px;
			}
		}
		.about_bg_img{
				background: url("../img/career-banner.jpg")no-repeat center center;
				background-size: cover;
			    width: 60%;
			    height: 100%;
			    position: absolute;
			    left: 0;
			    top: 0;
			    opacity: 1 !important;
		}
	}
	.about_main_sub{
		padding-top: 100px;
		h3{
			font-size: 30px;
		}
		p{
			text-align: left;
			font-weight: 400;
		}
	}
.about_main_sub{
	h3{
		font-weight: 600;
	}
	.why_chos_us{
		margin-top: 50px;
		.row{
			margin: 0 -80px;
			.col-sm-4{
				//border-right: 1px solid #cccccc;
				padding: 0 80px;
				div{
					position: relative;
					h4{
						.font(@mont,22px,1.3,0.05em);
						font-weight: 600;	
						margin: 20px 0;	
					}
					span{
						width: 100px;
						height: 70px;
						display: block;
					}
					&:after{
						content: "";
						position: absolute;
						right: -80px;
						top: 18%;
						width: 1px;
						height: 80%;
						background: #cccccc;
					}
				}
				&:last-child div:after{
					display: none;
				}
			}	
		}
		
	}	
}
}

.recr_tab{
	padding: 0;
	.tab-content-wrap{
		.tab-content {
			.recr_box{
				overflow: hidden;
				padding-bottom: 50px;
				margin-bottom: 50px;
				border-bottom: 1px solid #c2c2c2;
				.col-sm-4{
					.btn_web{
						float: right;
						background: transparent;
						margin-top: 50px;
					}
				}
				&:last-child{
					border: none;
				}
			}

		}
		
	}
}
.car_modal{
	.modal-content{
		padding: 50px;
		.modal-body{
			h3{
				text-align: center;
				font-size: 24px;
				&:after{
					right: 0;
					margin: 0 auto;
				}
			}
			.webform{
				.contact_form{
					textarea{
						    color: rgba(0, 0, 0, 0.6);
    						width: 100%;
						    height: 100px;
						    resize: none;
						    padding: 15px;
						    border: 1px solid #a1a1a1;
						    font-family: 'Roboto Slab', serif;
						    font-size: 15px;
						    line-height: 1.2;
						    letter-spacing: 0.05em;
					}
								.contact_btn{
				.btn_web{
					margin-top: 20px;
					background: transparent;
					input{
						border: none;
						background: transparent;
						color: #002e4b;
						font-family: @mont;
						font-size: 14px;
						font-weight: 600;
						text-transform: uppercase;
						letter-spacing: 0.05em;
						line-height: 52px;
						cursor: pointer;
						-webkit-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
					}
					&:hover input{
						color: #fff;
					}
				}
			}
				}
			}
		}
	}
}
 
.ply-btn{
    position: relative;
    height: 50px;
    width: 50px;
    background: #017bc8;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    svg.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 4;
  width: 104%;
  height: 104%;
  .box {
    fill: rgba(0,0,0,0);
    stroke: #b2c6d1;
    stroke-width: 5;
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    stroke-linecap: round;
    transition: all .4s ease-out;

  }
  .play {
    fill: #fff;
    transition: all .6s ease-out;
  }
/*  &:hover {
    .box {
      fill: #fff;
      stroke: #fff;
      stroke-dashoffset: 0;
      transition: stroke .7s .4s ease-out, stroke-dashoffset .4s ease-out, fill .4s .3s ease-out;
    }
    .play {
      fill: #315094;
    }
  }*/
}
}