/************************************************************* Normalise ***************************************/
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  -webkit-font-smoothing:antialiased; /* chrome */
  -moz-osx-font-smoothing: grayscale; /* moz */
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
  display:block;
}
body{
  line-height:1;
}
ol,ul{
  list-style:none;
}
blockquote{
  quotes:none;
}
q{
  quotes: "\00201c" "\00201d";
  &:before{
    content: open-quote !important;
  }
  &:after{
    content: close-quote !important;
  }
}
html {
  -webkit-text-size-adjust: none
}
a{text-decoration: none;color:#000;}


::selection,::-moz-selection,::-webkit-selection{
  background: @selection-bg;
  color: @selection-text-col;
  text-shadow: none;
}
:active, :focus {
  outline: none !important;
}
p:empty{margin:0 !important;padding:0 !important;}
br{display: none;}
a:active,a:focus{outline: none;}
::-webkit-input-placeholder,:-moz-placeholder,::-moz-placeholder,:-ms-input-placeholder,::-ms-input-placeholder,:placeholder-shown {
  /* Safari, Chrome and Opera */
  color: @placeholder-color;
}
h1,h2,h3,h4,h5,h6 {margin:0;padding:0;}
table{
  border-collapse:collapse;
  border-spacing:0;
}
/*for FireFox*/
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner
{
  border : 0;
}
/*for IE8 */
input[type="submit"]:focus, input[type="button"]:focus
{
  outline : none;
}

input, select {
  vertical-align:middle;
}
textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="button"],
input[type="submit"] {
  .appearance-none();
  box-shadow: none;
  outline: none;
  border-radius: 0;
  &:focus{
    outline: none;
    box-shadow: none;
  }
}

[placeholder]:focus::-ms-input-placeholder {
  transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  opacity: 0;
}
[placeholder]:focus::-moz-placeholder{
  transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  opacity: 0;
}
[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  opacity: 0;
}

::-webkit-input-placeholder{
  color: rgba(0,46,75,0.5);
  font-weight: 300;
}
::-moz-placeholder{
  color: rgba(0,46,75,0.5);
  font-weight: 300;
}
:-ms-input-placeholder{
  color: rgba(0,46,75,0.5);
  font-weight: 300;
}
:-moz-placeholder {
  color: rgba(0,46,75,0.5);
  font-weight: 300;
}

body {
  margin: 0 auto;
  width: 100%;
  font-family: 'Roboto Slab', sans-serif;
  background-color: #ffffff;
  font-size: 15px;
}
.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
[class^="icon-"], [class*=" icon-"] {
  background-image: url('../img/sprite.png');
  width: 30px;
  height: 30px;
  left: 50%;
  top: 50%;
  position: absolute;
  content: '';
}

/************************************************************* Bootstrap Column ***************************************/

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}


@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
}

.clearfix:before, .clearfix:after, .row:after,.row:before {
  content: '';
  display: table;
  clear: both;
}
a{
  display: inline-block;
}
.learn-more{
  .font(@robo,15px,1,0.05em);
  span{
    background-image: url('data:image/svg+xml;utf8, <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 11.2 11.2" style="enable-background:new 0 0 11.2 11.2;" xml:space="preserve"><polygon id="XMLID_3_" class="st0" points="6.5,4.8 6.5,0 4.8,0 4.8,4.8 0,4.8 0,6.5 4.8,6.5 4.8,11.2 6.5,11.2 6.5,6.5 11.2,6.5 11.2,4.8 "/></svg>');
    display: inline-block;
    width: 14px;
    height: 14px;
    .transition();
    
  }
  label{
    .transition();
    display: inline-block;
    .translate(10px ,0);
    opacity: 0;
    cursor: pointer;
  }
}
.watch_video{
  width: 58px;
  height: 58px;
  display: table;
  border-radius: 50%;
  position: relative;
  .transition();
  &.border_icon{
    border: 2px solid #ffffff;
  }
  &.fill_icon{
    border-color: @002e4b;
    background: @002e4b;
  }
  &:after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-left: 10px solid #ffffff;
    border-bottom: 7px solid transparent;
    left: 54%;
    top: 50%;
    .translate(-50%,-50%);
  }
}
svg{
  width: 100%;
  height: 100%;
}
span.web_next, span.web_prev {
  width: 24px;
  height: 24px;
  margin: 0 !important;
  position: relative;
  &:after{
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-right: 1px solid #acacac;
    border-bottom: 1px solid #acacac;
    .rotate(135deg);
    top: 7px;
    right: 4px;
  }
}
span.web_next{
  border: 1px solid #acacac;
  background: #ffffff;
}
span.web_prev{
  background: @002e4b;
  .transition();
  &:focus, &:visited, &:active{
    background: @caa963;
  }
  &:hover{
    background: @bd943c;
  }
  &:after{
    border-color: #ffffff;
    .rotate(-45deg);
    right: 10px;
    top: 8px;
  }
}

a.full_cont-link{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
}


span.video_play{
  width: 58px;
  height: 58px;
  display: inline-block;
  position: relative;
  &:after{
    border-top: 7px solid transparent;
    border-left: 10px solid #ffffff;
    border-bottom: 7px solid transparent;
    position: absolute;
    .transition(all,0.5s,cubic-bezier(.645,.045,.355,1));
    content: "";
    width: 0px;
    height: 0px;
    left: 53%;
    top: 51%;
    .translate(-50%,-50%);
  }
  //&:hover {
  //  &:after{
  //    border-left-color: @bd943c;
  //  }
  //  .another-circle {
  //    stroke-dashoffset: 0;
  //  }
  //}
  .another-circle {
    stroke-dasharray: 227;
    stroke-dashoffset: 227;
    .transition(all,0.7s,cubic-bezier(.645,.045,.355,1));
  }
  svg {
    transform: translateZ(0);
  }
  circle{
    cx: 40px;
    cy: 40px;
    r: 36px;
    .transition(all,0.2s,cubic-bezier(.645,.045,.355,1));
    fill: transparent;
    stroke-width: 2px;
    stroke: #ffffff;
    &:last-of-type{
      stroke: @bd943c;
    }
  }


  &.fill_icon{
    circle{
      stroke-width: 3px;
      &:first-of-type{
        fill: @007bc9;
        stroke: @007bc9;
      }
      &:last-of-type{
        stroke: #b3c5d0;
      }
    }
    //&:hover{
    //  circle:first-of-type{
    //    fill: transparent;
    //  }
    //  .another-circle{
    //    stroke-dashoffset: 0;
    //  }
    //  &:after{
    //    border-left-color: @007bc9;
    //  }
    //}
  }
}


.img-responsive{
  max-width: 100%;
  display: block;
}

.inner_sub_hd{
  font-size: 30px;
  font-family: @mont;
  font-weight: 600;
  color: #000000;
  letter-spacing: 0.025em;
  padding-bottom: 25px;
  margin-bottom: 35px;
  position: relative;
  &:after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 37px;
    height: 2px;
    background: #bd943c;
  }
}
.board_navslide{
    position: absolute;
    top: 0;
    right: 0;
    width: 125px;
    height: 51px;
    background: #fff;
    border: 1px solid #bd943c;
    
    .owl-prev{
      position: relative;
      font-size: 0;
      cursor: pointer;
      width: 40%;
      position: absolute;
      left: 0;
      height: 100%;
      &:after{
        position: absolute;
          content: "";
          width: 9px;
          height: 9px;
          border-right: 2px solid #636363;
          border-bottom: 2px solid #636363;
          -webkit-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
          -moz-transform: rotate(135deg);
          transform: rotate(135deg);
          top: 21px;
          left: 20px;
      }
    }
    .owl-next{
      position: relative;
      font-size: 0;
      cursor: pointer;
      width: 40%;
      position: absolute;
      right: 0;
      height: 100%;
      &:before{
        position: absolute;
          content: "";
          width: 9px;
          height: 9px;
          border-right: 2px solid #636363;
          border-bottom: 2px solid #636363;
          -webkit-transform: rotate(320deg);
          -ms-transform: rotate(320deg);
          -moz-transform: rotate(320deg);
          transform: rotate(320deg);
          top: 21px;
          right: 20px;
      }
    }
    &:after{
      position: absolute;
      content: "";
      top: 50%;
      left: 43%;
      width: 20px;
      height: 2px;
      background: #b1b1b1;
    }
  }





@-webkit-keyframes zoominout {
  0% {
    background-size: 105%;
  }
  50% {
    background-size: 150%;
  }
  100% {
    background-size: 105%;
  }
}

@keyframes zoominout {
  0% {
    background-size: 105%;
  }
  50% {
    background-size: 150%;
  }
  100% {
    background-size: 105%;
  }
}

.zoomanim{
  background-position: center;
  -webkit-animation: zoominout 50s infinite;
  -moz-animation: zoominout 50s infinite;
  -ms-animation: zoominout 50s infinite;
  animation: zoominout 50s infinite;
}

/************************************************************* Typography ***************************************/
/*
*
* Created CLASS, TAGS & MIXINS/FUNCTIONS
*
*/

/******** Headlines ********/
.h1,h1{
  .h1();
}
/******** Sub Heading ********/
.h2,h2{
  .h2();
}
/******** Sub Sub Heading ********/
.h3,h3{
  .h3();
}
/******** Title ********/
.h4,h4{
  .h4();
}

p{
  .font(@robo,15px,2.2,0.05em);
}
.title_line{
  position: relative;
  display: inline-block;
}
.title_line:after{
    position: absolute;
    content: "";
    left: 108%;
    bottom: 20px;
    height: 2px;
    width: 73px;
    background: black;
}
.tic_list li{
  position: relative;
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  line-height: 2.2;
  font-weight: 300;
  letter-spacing: 0.05em;
}
.tic_list li:after{
  left: 2px;
  top: 9px;
  width: 15px;
  height: 13px;
  position: absolute;
  content: "";
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 60 46.3' style='enable-background:new 0 0 60 46.3;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:%23CAA963;%7d %3c/style%3e%3cg id='XMLID_29_'%3e%3cpath id='XMLID_27_' class='st0' d='M18.8,45.7c-2.3,0-4.5-0.8-6.4-2.3c-2.9-2.4-7.1-6.4-11.1-11.7c-1.8-2.4-1.7-6,0.5-8 c2.3-2,5.5-1.6,7.7,0.9c2.3,2.6,4.5,4.7,6.3,6.5c1.6,1.6,4.3,1.7,6,0.1c7-6.6,19.3-17.8,30.6-28.8c2.3-2.3,4.9-2,6.4-0.6 c2.3,2.1,1.2,5.1-0.4,6.8c-12.8,14.3-27,29-32.6,34.4C23.8,44.8,21.3,45.7,18.8,45.7z'/%3e%3c/g%3e%3c/svg%3e");
  background-repeat: no-repeat;
}

.external_links{
  label{
    font-family: @robo;
    font-size: 15px;
    font-weight: 400;
  }
  .share_icons{
        margin-top: 50px;
        overflow: hidden;
        li{
          float: left;
          margin-right: 50px;
          a{
            font-size: 18px;
            color: #002e4b;
            font-family: @mont;
            font-weight: 500;
            display: inline;
            i{
              padding-right: 20px;
              vertical-align: middle;
              display: inline-block;
              svg{
                height: 18px;
                width: 20px;
              }
            }
            span{
              display: inline-block;
              border-bottom: 1px solid;
              .transition();
            }
            &:hover{
              color: #007bc9;
            }
          }
        }
  }
}
/******** Main Contents ********/
/******** Meta1 ********/
/******** Meta2 ********/

section{
  padding: 120px 0;
  &.inner{
    padding: 100px 0;
  }
}

.nopadding{
  padding: 0;
}
.norowmargin{
  margin-right: 0;
  margin-left: 0;
}
#wrapper{
  overflow-x: hidden;
}

/************************************************************* Buttons ***************************************/
.btn_web{
  overflow: hidden;
  min-width: 175px;
  height: 54px;
  border: 1px solid @bd943c;
  .font(@mont,14px,1,0.05em);
  color: @002e4b;
  font-weight: 600;
  background: #ffffff;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  line-height: 52px;
  position: relative;
  z-index: 0;
  text-indent: 0;
  .transition(all,0.6s,cubic-bezier(.645,.045,.355,1));
  &:before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    .translate3d(0,0,0);
    background: @bd943c;
    z-index: -1;
    .transition(transform,0.6s,cubic-bezier(.77,0,.175,1));
  }
  &:hover{
    color: #ffffff;
    &:before{
      .translate3d(100%,0,0);
    }
  }
}

.media-video{
  position: relative;
  img{
    width: 100%;
    .transition(all,0.3s,cubic-bezier(.645,.045,.355,1));
  }
  a.full_cont-link{
    z-index: 5;
  }
  &:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: @002e4b;
    opacity: 0;
    .transition(all,0.3s,cubic-bezier(.645,.045,.355,1));
  }
  span.video_play{
    position: absolute;
    z-index: 1;
    .translate(-50%,-50%);
    left: 50%;
    top: 50%;
  }
  &:hover{
    &:after{
      opacity: 0.6;
    }
    img{
      filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
      filter: gray; /* IE6-9 */
      -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    }
    span.video_play{
      &:after{
        border-left-color: @bd943c;
      }
      .another-circle {
        stroke-dashoffset: 0;
      }
    }
  }
}

/** loader **/
#loader{
  display: none;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background-color: #fff;
  z-index: 10000;
  .loads{
    display: table;
    height: 100%;
    width: 100%;
    label{
      font-size: 24px;
      color: #002e4b;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
    }
  }
  .heads{
    height: 0;
    background-color: #fff;
    position: absolute;
    top:0;
    width: 100%;
  }
}
.home-banner,.banner-boxcontent .row > div,
.banner-media.media-video,.event-slider-wrap{opacity: 0;}
.home-bnr-slider .owl-item .item{
  // filter:blur(5px);
  // -webkit-filter:blur(5px);
  // -moz-filter:blur(5px);
  // -ms-filter:blur(5px);
}
.banner-content .container > div .banner-left .h1{
  overflow: hidden;
}
.banner-content .container > div .banner-left .h1 span{
  display: inline-block;
  line-height: 1;
}
.width_zero{
  &:after{
    width:0;
  }
}
/*.review_bx .owl-controls .owl-dot{
  opacity: 0;
}*/


.table-responsive {
  display: block;
  overflow-x: auto;
  height: auto !important;
}




.org_modal{
    .modal-dialog{
      width: 750px !important;
  } 
}


