.contact_banner {
  padding: 0;
}
.contact_sec .col-sm-7 .contact_form .form-group {
  margin-bottom: 20px;
}
.contact_sec .col-sm-7 .contact_form .form-group label {
  width: 100%;
  display: block;
}
.contact_sec .col-sm-7 .contact_form .form-group .form-control {
  width: 100%;
  border: 1px solid #a5a5a5;
}
