.content-only{
  >div{
    margin-bottom: 30px;
    .ach_sec{
      margin:0 -10px;
      .col-sm-3{
        padding: 0 10px;
        div{
          border: 1px solid #ccc;
          height: 200px;
          padding: 20px;
          margin-bottom: 20px;
            a{
            position: relative;
            display: block;
            overflow: hidden;
            height: 100%;
            img{
              position: absolute;
              left: 50%;
              top: 50%;
              /*max-height: 100%;*/
              transform: translate(-50%,-50%);
            }
          }
        }
      }
    }
  }
  h1{
    text-indent: -3px;
    text-transform: capitalize;
    .font(@mont,48px,1.2,0.025em);
    font-weight: 500;
    &:after{
      background-color: @bd943c;
    }
  }
  h2{
    font-weight: 500;
    font-size: 26px;
    display: table;
    margin-bottom: 30px;
    letter-spacing: 0;
    &:after{
      bottom: 15px;
    }
  }
  h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.05em;
    font-weight: 600;
    color: #000000;
    margin: 50px 0 10px;
    & + p{
      margin-top: 20px;
    }
  }
  h4{
    font-size: 16px;    
    margin: 30px 0 10px;
    font-weight: 600;
  }
  span{
    font-weight: 600;
    margin-bottom: 15px;
    display: block;
    line-height: 23px;
  }
  li{
    padding-left: 50px;
    margin-top: 40px;
    font-weight: 300;
    line-height: 2.2;
  }
  p{
    margin-top: 50px;
  }
  p.content-onlyintro{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.05em;
    max-width: 100%;
    width: 1270px;
  }
  table{
    width: 100%;
    margin-bottom: 75px;
    tr{
      height: 90px;
    }
    td,th{
      padding: 10px 35px;
      vertical-align: middle;
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 0.05em;
      border: 1px solid #000000;
      line-height: 1.7;
      p{
        margin-top: 0;
      }
    }
    th{
      font-weight: 700;
    }
    span{
      font-size: 14px;
      color: @002e4b;
      display: block;
      margin: 0;
      margin-top: 30px;
      text-align: center;
    }
    label{
      min-width: 50px;
      display: inline-block;
      font-weight: 400;
    }
    thead{
      th{
        text-align: left;
        font-weight: 700;
        .font(@mont,18px,2.2,0.05em);
        color: @002e4b;
        p{
          font-weight: 700;
        }
      }
    }

    tr:first-of-type td{
      font-weight: 700;
      p{
        font-weight: 700;
      }
    }
    thead + tbody tr:first-of-type td{
      font-weight: 300;
      p{
        font-weight: 300;
      }
    }

    &:last-of-type{
      margin-bottom: 0;
    }
  }
  dl {
    padding: 20px 0;
    text-align: center;
    dt{
      height: 180px;
      a{
        display: inline-block;
        height: 100%;
        img{
          height: 100%;
        }
      }
    }
  }
  &.csipages{
    table p{
      margin: 5px 0;
    }
  }


  &.sitemappage{
    .grid-item {
      margin-bottom: 30px;
      > div{
        width: 100%;
        padding: 35px;
        border: 1px solid #d4d4d4;
      }
      h4{
        margin-top: 20px;
      }
      h3{
        a{
          color: #000000;
        }
        font-size: 20px;
        margin: 0;
        margin-bottom: 10px;
      }
      a{
        display: block;
        line-height: 2;
        color: @005082;
      }
    }
  }
}

.web-modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  pointer-events: none;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 0;
  .transition();
  .modal-dialog {
    position: relative;
    width: 600px;
    margin: 30px auto;
    .transition();
    .translate(0,-25%);
  }
  .modal-header{
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    cursor: pointer;
    background: white;
    button{
      cursor: pointer;
      background: transparent;
      border: none;
      font-size: 30px;
      line-height: 30px;
    }
  }
  .modal-content {
    padding: 30px 15px;
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
  }
  &.modal-open{
    z-index: 10500;
    opacity: 1;
    pointer-events: all;
    .modal-dialog{
      .translate(0,0);
    }
  }
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  pointer-events: none;
  .transition();
  background-color: transparent;
  &.overlay{
    z-index: 10400;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

#mediamodal{
  .modal-dialog{
    width: 100%;
    max-width: 950px;
  }
  .modal-content{
    padding: 2px !important;
    border-radius: 0;
  }
  .modal-body{
    height: 500px;
  }
  iframe{
    width: 100%;
    height: 100%;
  }
}

.fee-submission{
  .feelog{
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
    a.btn_web{
      margin-top: 28px;
      height: 48px;
      line-height: 0;
      input{
        height: 48px !important;
        line-height: 40px !important;
      }
    }
  }
}

.alumini-reg{
  > div {
    margin-bottom: 0;
    h2{
      margin-bottom: 10px;
    }
    .selectric-items li{
      padding: 7px 15px;
      font-size: 14px;
      margin: 0;
    }
    .multiple-form-group{
      > div:first-of-type{
        padding-right: 25px;
        position: relative;
        &:after{
          content: "To";
          position: absolute;
          top: 15px;
          right: -8px;
        }
      }
      > div:last-of-type{
        padding-left: 25px;
      }
    }
    textarea{
      width: 100%;
      resize: none;
      height: 100px;
      display: block;
      font-family: 'Roboto Slab', serif;
      font-size: 15px;
      line-height: 1.2;
      letter-spacing: 0.05em;
      padding: 15px;
    }
    .btn_web{
      input[type=submit]{
        border: none;
        background: transparent;
        color: #002e4b;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        line-height: 52px;
        cursor: pointer;
        -webkit-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
        -moz-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
        -o-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
        -ms-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
      }
      &:hover{
        input[type=submit]{
          color: #ffffff;
        }
      }
    }
  }
}

.search_page{
  padding: 100px 0;
  #tipue_search_content{
    #tipue_search_results_count{
      margin-bottom: 20px;
    }
    .tipue_search_content_title{
      h3{
        margin: 15px 0;
      }
    }
    .tipue_search_content_url{
      a{
        font-family: 'Roboto Slab', serif;
        font-size: 15px;
        line-height: 2.2;
        letter-spacing: 0.05em;
        font-weight: 300;
      }
    }
    .tipue_search_content_text{
      font-family: 'Roboto Slab', serif;
      font-size: 15px;
      line-height: 2.2;
      letter-spacing: 0.05em;
      font-weight: 300;
    }
      #tipue_search_foot_boxes{
      li{
        display: inline-block;
        margin: 0 15px;
      }
    }
  }
}

.vtour-wrap{
  padding: 80px 0 !important;
  text-align: center;
  a{
    display: inline-block;
    width: 100%;
    img{
      width: 100%;
    }
  }
  h3{
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4{
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0 0;
  }
  .thumbwrap{
    > div{
      margin-top: 30px;
      &:nth-of-type(-n+4){
        margin-top: 0;
      }

      &:nth-of-type(4n+1){
        clear: both;
      }
    }
  }
}
/*.content-only ul li:after {
    left: 2px;
    top: 9px;
    width: 15px;
    height: 13px;
    position: absolute;
    content: "";
    background-image: url("data:image/svg+xml;charset=UTF-8,<svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 60 46.3' style='enable-background:new 0 0 60 46.3;' xml:space='preserve'><style type='text/css'> .st0%7bfill:%23CAA963;%7d </style><g id='XMLID_29_'><path id='XMLID_27_' class='st0' d='M18.8,45.7c-2.3,0-4.5-0.8-6.4-2.3c-2.9-2.4-7.1-6.4-11.1-11.7c-1.8-2.4-1.7-6,0.5-8 c2.3-2,5.5-1.6,7.7,0.9c2.3,2.6,4.5,4.7,6.3,6.5c1.6,1.6,4.3,1.7,6,0.1c7-6.6,19.3-17.8,30.6-28.8c2.3-2.3,4.9-2,6.4-0.6 c2.3,2.1,1.2,5.1-0.4,6.8c-12.8,14.3-27,29-32.6,34.4C23.8,44.8,21.3,45.7,18.8,45.7z'/></g></svg>");
    background-repeat: no-repeat;
}*/
.content-only > div{
  margin-bottom:0px !important;
}
