.contact_banner{
  padding: 0;
  position: relative;
  overflow: hidden;
  height: 400px;
  -webkit-transition: height 0.3s cubic-bezier(1,.04,.36,1.32);
  -moz-transition: height 0.3s cubic-bezier(1,.04,.36,1.32);
  -o-transition: height 0.3s cubic-bezier(1,.04,.36,1.32);
  transition: height 0.3s cubic-bezier(1,.04,.36,1.32);
  .banner-wrap{
	position: relative;
	z-index: 1;
	height: 400px;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	.translate(0,0x);
	opacity: 1;
	.transition();
  }
  .map_pop {
	position: absolute;
	left: 0;
	//opacity: 0;
	top: 0;
	width: 100%;
	overflow: hidden;
	-webkit-transition: all .3s cubic-bezier(.98, 0, 1, .28);
	-moz-transition: all .3s cubic-bezier(.98, 0, 1, .28);
	-o-transition: all .3s cubic-bezier(.98, 0, 1, .28);
	transition: all .3s cubic-bezier(.98, 0, 1, .28);
	height: ~"calc(100vh - 300px)";
	min-height: 400px;
	> div{
	  height: 100%;
	  width: 100%;
	}
  }
  &.map_class{
	height: ~"calc(100vh - 300px)";
	min-height: 400px;
	.banner-wrap {
	  .translate(0,-50px);
	  opacity: 0;
	  pointer-events: none;
	}
	.map_pop {
	  top: 0;
	  opacity: 1;
	  -webkit-transform: translateY(0px);
	  -moz-transform: translateY(0px);
	  -ms-transform: translateY(0px);
	  -o-transform: translateY(0px);
	  transform: translateY(0px);
	}
	& + .map_pin_box .map_pin{
	  svg{
		opacity: 0;
	  }
	  span{
		opacity: 1;
	  }
	}
  }
}
.map_pin_box{
		.container{
		position: relative;
		.map_pin{
			position: absolute;
		  	bottom: -40px;
			right: 0;
			z-index: 2;
			cursor: pointer;
			background: #fff;
			width: 85px;
			height: 85px;
			border-radius: 50%;
			vertical-align: middle;
			text-align: center;
			box-shadow: 4.357px 6.709px 13px 0px rgba(51, 97, 154, 0.09);
			-webkit-box-shadow: 4.357px 6.709px 13px 0px rgba(51, 97, 154, 0.09);
			-ms-box-shadow: 4.357px 6.709px 13px 0px rgba(51, 97, 154, 0.09);
			-o-box-shadow: 4.357px 6.709px 13px 0px rgba(51, 97, 154, 0.09);
			svg{
			    .transition();
				width: 34px;
				vertical-align: middle;
			}
		  	span{
			  .transition();
			  position: absolute;
			  opacity: 0;
			  left: 0;
			  top: 1px;
			  display: inline-block;
			  width: 100%;
			  height: 100%;
			  padding: 30px;
			  svg{
				opacity: 1 !important;
				width: 100%;
				height: 100%;
			  }
			}
		}
	}
}
.contact_sec{
	padding: 120px 0;
	.col-sm-7{
		.contact_form{
			margin-top: 40px;
			.form-group{
				margin-bottom: 30px;
				width: 80%;
				textarea{
					height: 100px;
					resize: none;
					color: rgba(0, 0, 0, 0.6);
				    width: 100%;
				    padding: 15px;
				    border: 1px solid #a1a1a1;
				    font-family: 'Roboto Slab', serif;
				    font-size: 15px;
				    line-height: 1.2;
				    letter-spacing: 0.05em;
				}
			}
			.contact_btn{
				.btn_web{
					input{
						border: none;
						background: transparent;
						color: #002e4b;
						font-family: @mont;
						font-size: 14px;
						font-weight: 600;
						text-transform: uppercase;
						letter-spacing: 0.05em;
						line-height: 52px;
						cursor: pointer;
						-webkit-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
					}
					&:hover input{
						color: #fff;
					}
				}
			}
		}
	}
	.col-sm-5{
		padding-top: 60px;
		
		> div{
			margin-bottom: 35px;
			span{
				font-size: 15.5px;
				font-family: @mont;
				display: inline-block;
				color: rgba(1,1,1,.50);
				border-bottom: 1px solid rgba(1,1,1,.50);
				font-weight: 600;
				margin-bottom: 10px;
				text-transform: uppercase;
			}
			p{
				font-size: 16px;
				font-weight: 500;
				font-family: @mont;
				line-height: 1.8;
			}
		}
	}
}