.courses_banner{
  background-position: center;
  background-color: #002e4b;
  background-repeat: no-repeat;
  background-size:cover;
  height: 550px;
  position: relative;
  &:after{
	width: 0;
	height: 0;
	border-bottom: 180px solid #f8f8f8;
	border-right: 100vw solid transparent;
	position: absolute;
	content: "";
	bottom: 0;
  }
  .course_title{
	background: #ffffff;
	height: 350px;
	padding: 0 80px;
	position: absolute;
	bottom: 25px;
	z-index: 1;
	display: table;
	box-shadow: 4.357px 6.709px 13px 0px rgba(51, 97, 154, 0.1);
	> div{
	  display: table-cell;
	  vertical-align: middle;
	}
	span{
	  width: 42px;
	  height: 42px;
	  display: inline-block;
	  svg{
		fill: @bd943c;
	  }
	}
	h1{
	  font-weight: 600;
	  margin-top: 15px;
	  .font(@mont,36px,1.3,0.025em);
	  br{
		display: inline-block;
	  }
	}
  }
}
.course-tab-contain{
  background: #f8f8f8;
  padding-top: 70px;
  .tab-menu{
	ul{
	  width: 100%;
	  display: inline-block;
	  vertical-align: top;
	  li{
		display: inline-block;
		margin-right: 60px;
		&:last-of-type{
		  margin-right: 0;
		}
		a{
		  padding: 15px 0 10px;
		  color: rgba(0,0,0,0.4);
		  .font(@mont,16px,1.2,0.05em);
		  text-transform: uppercase;
		  font-weight: 600;
		  .transition();
		  border-bottom: 2px solid transparent;
		  &:hover{
			color: @black;
		  }
		}
		&.active a{
		  color: @black;
		  border-bottom: 2px solid @bd943c;
		}
	  }
	}
	a.btn_web{
	  float: right;
	  border-color: #ffffff;
	  color: #ffffff;
	  background-color: @002e4b;
	}
  }
  .tab-content-wrap{
	margin-top: 50px;
	.fade {
	  opacity: 0;
	  -webkit-transition: opacity .15s linear;
	  -o-transition: opacity .15s linear;
	  -moz-transition: opacity .15s linear;
	  -ms-transition: opacity .15s linear;
	  transition: opacity .15s linear;
	}
	.fade.in {
	  opacity: 1;
	}
	.tab-content{
	  display: none;
	  padding-bottom: 80px;
	  border-bottom: 1px solid #e0e0e0;
	  width: 100%;
	  &.active{
		display: inline-block;
	  }
	  > p{
		margin-top: 15px;
		font-size: 15px;
		font-weight: 400;
		line-height: 2.7;
	  }
	  > div{
		margin-bottom: 80px;
		&:last-of-type{
		  margin-bottom: 0;
		}
		p{
		  font-weight: 400;
		}
		h3{
		  .font(@mont,18px,1.6,0.05em);
		  font-weight: 600;
		  color: @black;
		  margin-bottom: 30px;
		}
		h4{
			.font(@mont,17px,1.6,0.05em);
			 font-weight: 600;
			 color: @black;
			 margin-bottom: 20px;
			}

		span{
			font-weight: 700;
			text-transform: uppercase;
			font-size: 13px;
			display: block;
			margin-bottom: 20px;
		}
		.tic_list li{
		  padding-left: 50px;
		  margin-top: 40px;
		  font-weight: 300;
		  line-height: 2.2;
		  &:after{
			top: 10px;
		  }
		}
		.ach_sec{
			margin:0 -10px;
			.col-sm-3{
				padding: 0 10px;
				div{
					border: 1px solid #ccc;
					height: 200px;
					padding: 20px;
					margin-bottom: 20px;
						a{
						position: relative;
						display: block;
						overflow: hidden;
						height: 100%;
						img{
							position: absolute;
							left: 50%;
							top: 50%;
							/*max-height: 100%;*/
							transform: translate(-50%,-50%);
						}
					}
				}
			}
		}
		table{
			tr{
				td, th{
					font-weight: 400;
					font-size: 14px;
					line-height: 1.7;
					border: 1px solid #000000;
    				padding: 15px;
    				font-family: 'Roboto Slab', serif;
					letter-spacing: 0.05em;
					vertical-align: middle;
					a{
						display: block;
						text-align: center;
						img{
							max-width: 150px;
							max-height: 150px;
						  	width: auto;
						  	height: auto;
						}
					}
				}
			  	th{
				  font-weight: 700;
				}
			}
			tr:first-of-type td{
			  font-weight: 700;
			}
			thead + tbody tr:first-of-type td{
			  font-weight: 300;
			}
		}
	  }
	  .course_feature{
		margin-top: 80px;
		text-align: justify;
		&:after{
		  content: "";
		  display: inline-block;
		  width: 100%;
		}
		.feat-box{
		  position: relative;
		  display: inline-block;
		  i{
			height: 60px;
			width: 50px;
			display: inline-block;
			vertical-align: middle;
			margin-right: 20px;
		  }
		  > div{
			display: inline-block;
			vertical-align: middle;
			label{
			  color: rgba(0,0,0,0.4);
			  .font(@robo,16px,1.2,0.05em);
			}
			p{
			  color: @black;
			  font-weight: 600;
			  margin-top: 5px;
			  .font(@mont,18px,1.6,0.05em);
			}
		  }
		}
	  }
	  table{
		width: 100% !important;
		height: auto !important;
	  }
	}
  }
}

.external_links.course_ext-links{
  padding: 100px 0;
  .share_icons{
	li{
	  padding-left: 40px;
	  position: relative;
	  width: 19%;
	  margin-right: 8%;
	  margin-top: 50px;
	  &:after{
		content: "";
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='share-icon' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20.2 20.7' style='enable-background:new 0 0 20.2 20.7;' xml:space='preserve'%3e%3cstyle type='text/css'%3e %23share-icon .st0%7bfill:%23002E4B;%7d %23share-icon .st11%7bfill:%23BD943C;%7d %3c/style%3e%3cg%3e%3cpath class='st0' d='M17.4,20.7H2.2c-1.2,0-2.2-1-2.2-2.2V3.4c0-1.2,1-2.2,2.2-2.2h6.5c0.4,0,0.8,0.3,0.8,0.8S9.1,2.6,8.7,2.6H2.2 C1.8,2.6,1.5,3,1.5,3.4v15.1c0,0.4,0.3,0.7,0.7,0.7h15.2c0.4,0,0.7-0.3,0.7-0.7v-6.4c0-0.4,0.3-0.8,0.8-0.8s0.8,0.3,0.8,0.8v6.4 C19.7,19.7,18.7,20.7,17.4,20.7z'/%3e%3c/g%3e%3cpath class='st11' d='M19.5,0.6C19.5,0.6,19.5,0.6,19.5,0.6C19.5,0.6,19.5,0.5,19.5,0.6C19.1,0.2,18.6,0,18,0h-5.9 c-0.4,0-0.8,0.3-0.8,0.8s0.3,0.8,0.8,0.8h5.4l-8.8,8.9c-0.3,0.3-0.3,0.8,0,1.1c0.1,0.1,0.3,0.2,0.5,0.2c0.2,0,0.4-0.1,0.5-0.2l8.9-9 v5.7c0,0.4,0.3,0.8,0.8,0.8s0.8-0.3,0.8-0.8V2.2C20.2,1.6,20,1,19.5,0.6z'/%3e%3c/svg%3e");
		width: 20px;
		height: 20px;
		position: absolute;
		left: 0;
		top: 0px;
	  }
	  &:nth-of-type(-n+4){
		margin-top: 0;
	  }
	  &:nth-of-type(4n){
		margin-right: 0;
	  }
	  a{
		line-height: 1.2;
		display: inline-block;
		min-height: 22px;
		.transition();
	  }
	  a span{
		display: inline;
		line-height: 1.6;
	  }
	  i{
		display: none;
		position: absolute;
		left: 0;
		top: 4px;
	  }
	  &:nth-of-type(4n+1){
		clear: both;
	  }
	}
  }
}