@charset "UTF-8";

/** 
 * NVIDIA Advanced CSS Drop-Down Menu Theme
 *
 * @file		default.advanced.css
 * @name		NVIDIA
 * @version		0.1
 * @type		transitional
 * @browsers	Windows: IE5+, Opera7+, Firefox1+
 *				Mac OS: Safari2+, Firefox2+
 *
 * @link		http://www.lwis.net/
 * @copyright	2008 Live Web Institute. All Rights Reserved.
 *
 */

@import "default.css";


ul.dropdown li a {
 display: block;
	 width: 80px; /* Especially for IE */
 padding: 7px 24px;
 
}


/* ------------- Override default */

	ul.dropdown li {
	 padding: 0;
	}


/* ------------- Reinitiate default: post-override activities  */

	ul.dropdown li.dir {
	}

	ul.dropdown ul li.dir {
	 padding-right: 1px;
	}


/* ------------- Custom */

	ul.dropdown li {


	}

	ul.dropdown ul a {
	 padding: 4px 5px 4px 14px;
	 width: 151px; /* Especially for IE */
	 height:15px;
	 border-style: solid;
	 border-width: 1px 1px 1px ;
	 border-color: #c59e77 #c59e77 #c59e77 #c59e77;
	}

	ul.dropdown ul a:hover {
	 background-color: #f1dfce;

	 color: #8C2B0A;

	}

	ul.dropdown a.open {
	 background-color: #2e2e2e;
	 color: #76b900;
	}

	ul.dropdown ul a.open {
	 background-color: #76b900;
	 color: #fff;
	}


	/* CSS 2.1 */
ul.dropdown li > a.dir {
	 background-color: ;
	color:#222;
	}
	ul.dropdown li:hover > a.dir {
	 background-color: ;

	 color:#900;
	}

	ul.dropdown ul li:hover > a.dir {
	 background-color:;
	 border-style: solid;
	 border-width: 1px 1px 1px 0;
	 border-color: #fff #d9d9d9 #d9d9d9;
	 color:;
	}