.dept_intro{
  h1{.font(@mont,36px,1.2,0.025em);margin-bottom: 40px;font-weight: 600; }
  p{.font(@robo,18px,2,0.05em);
    max-width: 100%;
    width: 1270px;
  }
  background-color: #f8f8f8;
  position: relative;
}
.dept_number{
  background-color: #f8f8f8;
  position: relative;
  .dept_number-img{
    height: 715px;
    display: table;
    .overbox{
      display: table-cell;
      width: 560px;
      vertical-align: middle;
      position: relative;
      z-index: 1;
      > div{
        background: #ffffff;
        vertical-align: middle;
        padding: 120px 90px;
      }
      span{
        .font(@mont,180px,1,0);
        font-weight: 600;
        display: inline-block;
        background-image: url('../img/menu-overlay.png');
        background-size: cover;
        color: @bd943c;
        margin-bottom: 10px;
        background-clip: text;
        text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -moz-text-fill-color: transparent;
        -moz-background-clip: text;
        sup{
          font-size: 65%;
          vertical-align: super;
        }
      }
      h2{
        color: @black;
        .font(@robo,30px,1.3,0.05em);
        margin-bottom: 30px;
      }
      label{
        font-weight: bold;
        .font(@mont,15px,1.3,0.05em);
        color: @grey;
        display: inline-block;
      }
    }
    .underimg{
      height: 100%;
      position: absolute;
      right: 0;
      width: 66%;
      overflow: hidden;
      img{
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        left: 50%;
        .translate(-50%,0);
      }
    }
  }
}


.dept_common{
  background-color: #f8f8f8;
  .inner_sub_hd + p{
    margin-bottom: 110px;
  }
  .common_box_wrap{
    .row{
      margin: 0 -10px;
      > div{
        padding: 0 10px;
      }
      .common_lifeat{
        position: relative;
        padding: 65px 0;
        background-image: url('../img/dept_lifeat.jpg');
        background-size: cover;
        background-position: center;
        color: #ffffff;
        h3{
          font-family: 'Montserrat', sans-serif;
          font-size: 40px;
          line-height: 1.4;
          letter-spacing: 0.05em;
          color: #ffffff;
          font-weight: bold;
        }
        label{
          margin-top: 20px;
          color: #ffffff;
          font-family: 'Montserrat', sans-serif;
          font-size: 18px;
          line-height: 1.2;
          letter-spacing: 0;
          font-weight: bold;
          &:after{
            background: #ffffff;
            left: 113%;
            bottom: 10px;
          }
        }
        text-align: center;
        >div{
          text-align: left;
          display: inline-block;
        }
      }
      .common_virtual{
        position: relative;
        text-align: center;
        padding: 81.5px 0;
        border: 5px solid #b7b7b7;
        span{
          vertical-align: middle;
          width: 110px;
          height: 110px;
          circle:first-of-type{
            fill: #315094;
            stroke: #315094;
          }
          &:after{
            border-top: 14px solid transparent;
            border-left: 20px solid #ffffff;
            border-bottom: 14px solid transparent;
          }
        }
        h3{
          text-align: left;
          font-family: 'Montserrat', sans-serif;
          font-size: 44px;
          line-height: normal;
          letter-spacing: 0;
          font-weight: 600;
          display: inline-block;
          vertical-align: middle;
          padding-left: 30px;
        }

      .ply-btn{
        vertical-align: middle;
        width: 110px;
        height: 110px;
        pointer-events: none;
      }
      &:hover{
        .box {
          fill: #fff;
          stroke: #b2c6d1;
          stroke-dashoffset: 0;
          transition: stroke 2s .7s ease-out, stroke-dashoffset .7s ease-out, fill .4s .3s ease-out;
        }
        .play {
          fill: #017bc8;
        }
      }        





        &:hover{
          span:after{
            border-left-color: #315094;
          }
          circle:first-of-type {
            fill: transparent;
          }
          circle.another-circle {
            stroke-dashoffset: 0;
          }
        }
      }
    }
  }
}

.dept_courses{
  background-color: #f8f8f8;
  padding-bottom: 0;
  h2{
    font-size: 36px;
  }
  > div{
    margin-top: 15px;
    > div{
      margin-bottom: 120px;
      padding-bottom: 40px;
      border-bottom: 1px solid #e0e0e0;
      &:last-of-type{
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
      }
    }
  }
  .course-box{
    width: 25%;
    float: left;
    height: 185px;
    padding: 0 30px;
    span{
      width: 50px;
      height: 50px;
      display: inline-block;
      vertical-align: middle;
      svg{
        fill: @002e4b;
        .transition();
      }
    }
    display: table;
    > div{
      display: table-cell;
      vertical-align: middle;
    }
    p{
      .font(@mont,16px,1.7,0.05em);
      font-weight: 500;
      display: inline-block;
      vertical-align: middle;
      width: ~"calc(100% - 55px)";
      padding-left: 30px;
    }
    position: relative;
    .learn-more{
      width: auto;
      padding: 0;
      position: absolute;
      right: 20px;
      bottom: 20px;
      span{
        .transition();
        opacity: 0;
        width: 15px;
        height: 15px;
      }
    }
    .transition();
    &:hover{
      box-shadow: 4.357px 6.709px 13px 0px rgba(51, 97, 154, 0.1);
      background: #ffffff;
      svg{
        fill: @bd943c;
      }
      .learn-more span{
        opacity: 1;
        .rotate(90deg);
      }
    }
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .dept_number .dept_number-img .overbox span{
    background: transparent;
    color: @bd943c;
  }
  .about_main .about_rank .about_rank_left > span{
    background: transparent;
    color: @002e4b;
  }
}