.nws_evnts_inner{
	background: #f8f8f8;
	padding: 120px 0;
	.events_container{
		width: 1170px;
		margin: 0 auto;
	.title_line{
		font-weight: 600;
		margin-bottom: 90px;
	}
	.nws_evnts_box{
		background: #fff;
		padding: 30px;
		border: 1px solid #ebebeb;
		overflow: hidden;
		margin-bottom: 30px;
		position: relative;
			ul{
				overflow: hidden;
				li{
					float: left;
				    padding-top: 10px;
				    padding-right: 10px;
					a{
						color: rgba(0, 0, 0, 0.5);
					}
				}
			}
			h3{
				.font(@mont,24px,1.3,0.025em);
				font-weight: 600;
				padding: 30px 0;
			}
			p{
				font-weight: 400;
				height: 130px;
    			overflow: hidden;
			}
			.evnts_bx_btm{
				span{
					color: #909090;
					font-size: 14px;
					float: left;
					padding-top: 18px;
				}
				ul{
					float: right;
					li{
						position: relative;
						a{
							display: block;
							position: relative;
							z-index: 5;
							svg{
								height: 18px;
								width: 18px;
								fill: #909090;
								margin-left: 15px;
								vertical-align: middle;
							}
						}
						&:first-child:after{
							position: absolute;
							content: "";
							right: 0;
							top: 0;
							top: 32%;
    						height: 60%;
							height: 100%;
							width: 1px;
							background: #4ba2d8;
						}
						&:hover svg{
							fill: #007bc8;
						}
					}
				}
			}
		}

		.nws_evnts_img_sec{
			h3{
				font-size: 18px;
			}
			p{
				height: 140px;
				overflow: hidden;
			}
		}

	}
}

