.nws_evnts_inner {
  background: #f8f8f8;
}
.nws_evnts_inner .title_line {
  font-weight: 600;
}
.nws_evnts_inner .nws_evnts_box {
  background: #fff;
  padding: 15px;
  border: 1px solid #ebebeb;
  overflow: hidden;
}
.nws_evnts_inner .nws_evnts_box ul {
  overflow: hidden;
}
.nws_evnts_inner .nws_evnts_box ul li {
  float: left;
  padding-top: 10px;
  padding-right: 10px;
}
.nws_evnts_inner .nws_evnts_box ul li a {
  color: rgba(0, 0, 0, 0.5);
}
.nws_evnts_inner .nws_evnts_box h3 {
  font-size: 24px;
}
