footer{
  	position: relative;
  	.backtotop{
	  cursor: pointer;
	  position: absolute;
	  display: inline-block;
	  width: 50px;
	  height: 50px;
	  border-radius: 50%;
	  background: white;
	  padding: 15px;
	  right: 5%;
	  margin-right: 15px;
	  top: -25px;
	  box-shadow: 0 0 15px -4px #000;
	}
	.footer_sec{
		background: #002e4b;
		padding: 70px 0 30px;
		br{
			display: block;
		}
		.footer_sec_top{
			clear: both;
			display: inline-block;
			width: 100%;
			.col-sm-9{
				width: 70%;
				padding-top: 13px;
				ul{ 
					li{
						float: left;
						width: 45%;
						a{
							color: #fff;
							font-size: 18px;
							font-family: @mont;
							line-height: 1.6;
							display: block;
							i{
								float: left;
								svg{
									height: 60px;
									width: 56px;
									vertical-align: middle;
									margin-right: 20px;
								}
							}
						}
					}
				}
			}

			.col-sm-3{
				width: 30%;
				p{
					color: #fff;
					line-height: normal;
					font-family: @mont; 
				}
				form{
					position: relative;
					background: #fff;
					margin-top: 15px;
					.form-control{
						font-family: @robo;
					  	font-size: 14px;
						border: none;
						padding: 12px 20px;
						width: 100%;
					}
					.subscriber_btn{
						position: absolute;
						right: 0;
						top: 0;
						width: 20%;
						height: 100%;
						border: none;
						background: #fff;
						cursor: pointer;
						font-size: 26px;
					    padding-bottom: 4px;
					}
					
				}
			}
		}


		.footer_sec_btm{
			border-top: 1px solid #1a435d;
			overflow: hidden;
			clear: both;
		    padding-top: 60px;
		    margin-top: 60px;
			.col-sm-9{
				width: 70%;
				.footer_sec_btm_box{
					width: 25%;
					float: left;
					ul{
						li{
							a{
								color: #99abb7;
								display: block;
							  	font-size: 14px;
								padding: 10px 0;
								letter-spacing: 0.05em;
								font-family: @mont;
								.transition();
									&:hover{
										color: #fff;
										.transition();
								}
							}
						}
					}
				}
			}
			.col-sm-3{
				width: 30%;
				font-family: @mont; 
				p{
					color: #99abb7;
					padding: 10px 0;
					font-family: @mont;
				  	font-size: 14px;
				  	&:first-of-type{
					  line-height: 2.4;
					}
					a{
						color: #99abb7;
					  	.transition();
						letter-spacing: 0.05em;
						&:last-of-type{
						  margin-left: 20px;
						}
					  	&:hover{
						  color: #ffffff;
						}
					}
				}
				.footr_social{
					padding-top: 30px;
					margin-top: 20px;
					overflow: hidden;
					border-top: 1px solid #1a435d;
					label{
						float: left;
						color: #99abb7;
					  	margin-top: 3px;
					}
					li{
						float: left;
						margin-left: 20px;
						svg{
							height: 20px;
							width: 25px;
							fill: #99ABB7;
							.transition();
						}
					  	&:hover{
						  svg{
							fill: #ffffff
						  }
						}
					}
				}
			}
		}
	}
	.btm_footr{
		background: #012942;
		padding: 20px 0;
		ul{
			li{
				float: left;
				a{
					color: #8095a3;
					font-size: 12px;
					padding-right: 20px;
				    margin-right: 10px;
					letter-spacing: 0.05em;
					.transition();
					&:hover{
						color: #fff;
						.transition();
					}
				}
			}
		}
		p{
			color: #8095a3;
			font-size: 12px;
		    letter-spacing: 0.1em;
			text-align: right;
		  	line-height: 1;
			a{
				color: #8095a3;
				font-size: 12px;
				padding-right: 20px;
				letter-spacing: 0.1em;
				.transition();
				&:hover{
					color: #fff;
					.transition();
				}	
			}
		}
	}
}