.gallery_page{
	background: #f8f8f8; 
	padding: 100px 0;
	.gallery_page_title{
		text-align: center;
		margin-bottom: 65px;
		h1{
			font-weight: 600;
		  	margin-bottom: 30px;
		}
		p{
			margin: 0 auto;
			line-height: 2.2;
			width: 87%;
		}
	}
	.gallery_sec{
		ul{
			li{
				width: 24%;
				float: left;
				margin: 5px 6px;
				position: relative;
				overflow: hidden;
				a{
					display: block;
					color: #fff;	
					.gallery_sec_content{
						position: absolute;
						bottom: 0;
						left: 0;
						padding-left: 50px;
						padding-bottom: 30px;
						width: 100%;
						z-index: 2;
						-webkit-transition:all 300ms ease; /* Safari */
					    transition: all 300ms ease;
					    p{
						    font-family: @mont;
							font-weight: 700;
							font-size: 18px;
							text-transform: uppercase;
							letter-spacing: 0.050em;
					    }
					    .real_icon {
						    position: relative;
						    span{
						    	height: 70px;
						    	width: 70px;
						    	display: inline-block;
					    	}
					    	.hvr_icon{
					    		position: absolute;
					    		left: 0;
					    		bottom: 0;
					    		opacity: 0;
					    		visibility: hidden;
					    	}
						}
					}
					.inr_glry_cntnt{
						background: rgba(0,0,0,.6);
						padding: 5px 10px;
						p{
							font-size: 14px;
							font-weight: 500;
						}
					}
					.hov_overlay{
						position: absolute;
					    width: 100%;
					    background: #ffffff;
					    height: 100%;
					    display: none;
					    z-index: 1;	
					    border: 9px solid #d5a500;					
					}

				}
				&:hover .gallery_sec_content{
					color: #000;
					 -webkit-transition:all 300ms ease; /* Safari */
					    transition: all 300ms ease;
				}
				
				&:last-child{
					position: relative;
					background: #fff;
					box-shadow: 4.357px 6.709px 13px 0px rgba(51, 97, 154, 0.09);
					-webkit-box-shadow: 4.357px 6.709px 13px 0px rgba(51, 97, 154, 0.09);
					-moz-box-shadow: 4.357px 6.709px 13px 0px rgba(51, 97, 154, 0.09);
					-ms-box-shadow: 4.357px 6.709px 13px 0px rgba(51, 97, 154, 0.09);
					-o-box-shadow: 4.357px 6.709px 13px 0px rgba(51, 97, 154, 0.09);
					img{
						opacity: 0;
					}
					.virtual_tour{
						padding: 0;
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
						margin: 0 auto;
						text-align: center;
						width: 100%;
						.video_play{
							display: inline-block;
							vertical-align: middle;
						}
						.virtual_title{
							text-align: left;
							    font-family: @mont;
							    font-size: 26px;
							    color: #000;
							    line-height: normal;
							    letter-spacing: 0;
							    font-weight: 600;
							    display: inline-block;
							    vertical-align: middle;
							    padding-left: 30px;
						}
						 &:hover{
					        circle:first-of-type{
					          fill: transparent;
					        }
					        .another-circle{
					          stroke-dashoffset: 0;
					        }
					      }
					      &:hover .video_play:after{
					        border-left-color: @007bc9;
					      }


      &:hover{
        .box {
          fill: #fff;
          stroke: #b2c6d1;
          stroke-dashoffset: 0;
          transition: stroke 2s .7s ease-out, stroke-dashoffset .7s ease-out, fill .4s .3s ease-out;
        }
        .play {
          fill: #017bc8;
        }
      }					      

					      
					}
				}
				&:hover .hvr_icon{
					opacity: 1 !important;
					visibility: visible !important;
					-webkit-transition:all 300ms ease; /* Safari */
					    transition: all 300ms ease;
				}
				&:hover .real_icon > span{
					opacity: 0 !important;
					visibility: hidden !important;
					-webkit-transition:all .3s ease; /* Safari */
					    transition: all .3s ease;
				}
				&:hover .inr_glry_cntnt{
					color: #ffffff;
				}
			}
		}
	}
	.external_links{
		margin-top: 100px;
		label{
			float: left;
			margin-right: 20px;
		}
		.share_icons{
			float: left;
			margin: 0;
		}
	}
}



