.gallery_page .gallery_page_title {
  text-align: center;
}
.gallery_page .gallery_page_title h1 {
  font-weight: 600;
}
.gallery_page .gallery_page_title p {
  margin: 65px auto;
  line-height: 3;
  width: 87%;
}
.gallery_page .gallery_sec ul li {
  width: 25%;
  float: left;
  margin: 0 8px;
  position: relative;
}
.gallery_page .gallery_sec ul li a {
  color: #fff;
}
.gallery_page .gallery_sec ul li a .gallery_sec_content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 50px;
}
