/***************************************************** header.css **********************************/
/************* top menu *************/
.menu-top {
  box-shadow: 0px 2px 1px #f6f6f6;
}
.menu-top .top-menu-inner {
  text-align: right;
}
.menu-top .top-menu-inner a {
  color: #282828;
  padding: 0 15px;
  opacity: 0.7;
}
.menu-top .top-menu-inner a:last-child {
  padding-right: 2px;
}
.menu-logo {
  height: 126px;
}
.menu-logo .container {
  height: 100%;
}
.menu-logo .container .header-logo {
  height: 100%;
}
