/***************************************************** header.css **********************************/
/************* top menu *************/
.menu-top{
  box-shadow: 0px 2px 1px #f6f6f6;
  .top-menu-inner{
    text-align: right;
    a{
      .font(@robo,12px,3.4,0.1em);
      color:#282828;
      padding: 0 15px;
      opacity: 0.7;
      &:last-child{
        padding-right: 2px;
      }
      .transition();
      &:hover{
        color: @black;
        opacity: 1;
      }
    }
  }
}

.menu-logo{
  height: 126px;
  .container{
    height: 100%;
    .header-logo{
      width: 620px;
      height: 100%;
      vertical-align: middle;
      padding-bottom: 10px;
    }
    > div{
      display: inline-block;
      vertical-align: middle;
      width: ~"calc(100% - 625px)";
      text-align: right;
      a{
        vertical-align: middle;
        margin-left: 65px;
        &:first-of-type{
          margin-left: 0;
        }
      }
    }
    .header-contact{
      text-align: left;
      label{
        .font(@mont,14px,1,0.05em);
        display: block;
        color: @grey;
        margin-bottom: 10px;
        cursor: pointer;
        font-weight: 500;
      }
      span{
        .font(@mont,18px,1,0.1em);
        display: block;
        color: @black;
        font-weight: 500;
      }
    }
  }
}


.main-menu-nav{
  background: @002e4b;
  height: 70px;
  .container{
    position: relative;
    & > ul{
      width: 100%;
      text-align: justify;
      &:after{
        display: inline-block;
        width: 100%;
        content: "";
      }
      > li {
        display: inline-block;
        vertical-align: middle;
        a {
          .font(@mont,14px,5,0.05em);
          font-weight: 500;
          color: #ffffff;
          text-transform: uppercase;
          .transition();
          &:hover{
            color: @bd943c;
          }
        }
        .search-menu{
          width: 117px;
          height: 70px;
          background: #00385c;
          a{
            height: 100%;
            padding: 0 46px;
          }
        }
        &.menu-dropdown{
          a{
            position: relative;
            padding-right: 25px;
            margin-right: -25px;
            &:after{
              position: absolute;
              content: "";
              width: 5px;
              height: 5px;
              border-right: 1px solid #ffffff;
              border-bottom: 1px solid #ffffff;
              .transition();
              .rotate(45deg);
              top: ~"calc(50% - 5px)";
              right: 3px;
            }
          }
          >.drop-menu_wrap{
            padding: 50px 0 !important;
            ul{
              li{
                padding-left: 20px;
                a{
                  color: @black;
                  text-transform: none;
                  font-weight: 600;
                  .font(@mont,14px,1.45,0.05em);
                  padding: 0;
                  margin: 0;
                  display: inline;
                  z-index: 0;
                  .transition();
                  &:after{display: none;}
                  &:hover{
                    color: #ffffff;
                    background: @002e4b;
                  }
                }
              }
            }
          }
          &:hover{
            > a{
              color: @bd943c;
              &:after{
                border-color: @bd943c;
              }
            }
            .drop-menu_wrap{
              opacity: 1;
              pointer-events: all;
              .translate(0,0);
            }
          }
          position: relative;
          .drop-menu_wrap{
            z-index: 10;
            text-align: left;
            box-shadow: 1.5px 2.598px 5px 0px rgba(0, 0, 0, 0.1);
            min-width: 300px;
            left: -40px;
            .translate(0,+10px);
            transition: 0.4s cubic-bezier(0.5, 0.045, 0.355, 0.5);
            background: #ffffff;
            opacity: 0;
            top: 70px;
            position: absolute;
            padding: 30px !important;
            pointer-events: none;
            .dropmenu_intro {
              span{
                .font(@mont,140px,1,0);
                font-weight: 600;
                margin-top: 25px;
                display: inline-block;
                background-image: url('../img/menu-overlay.png');
                background-size: cover;
                color: @bd943c;
                background-clip: text;
                text-fill-color: transparent;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                -moz-text-fill-color: transparent;
                -moz-background-clip: text;
                sup{
                  font-size: 65%;
                  vertical-align: super;
                }
              }
              h2{
                .font(@robo,24px,1.7,0.05em);
                width: 310px;
                max-width: 100%;
                margin-top: 25px;
                margin-bottom: 30px;
              }
              label{
                font-weight: 500;
                .font(@mont,15px,1.2,0.05em);
                color: @grey;
                &:after{
                  bottom: 7.5px;
                  left: 115%;
                  background: @lgrey;
                }
              }
            }
            li{
              margin: 15px 0;
              position: relative;
              &:before{
                position: absolute;
                content: "";
                width: 4px;
                height: 4px;
                border-right: 1px solid @bd943c;
                border-bottom: 1px solid @bd943c;
                .rotate(-45deg);
                left: -3px;
                top: 6px;
              }
            }
          }
          &.fullwidmenu{
            position: static;
            > .drop-menu_wrap{
              width: 100vw;
              left: 50%;
              .translate(-50%,20px);
              padding: 75px 0 !important;
            }
            &:hover .drop-menu_wrap{
              .translate(-50%,0);
            }
            .dropmenu_link-wrap{
              .dropmenu_links {
                display: inline-block;
                vertical-align: top;
                width: ~"calc(50% - 2px)";
                &:first-of-type{
                  padding-right: 30px;
                }
                &:last-of-type{
                  padding-left: 30px;
                }
                h3{
                  .font(@mont,24px,1.2,0.05em);
                  font-weight: 600;
                  color: @black;
                  padding-bottom: 20px;
                  position: relative;
                  margin-bottom: 40px;
                  &:after{
                    position: absolute;
                    content: "";
                    width: 27px;
                    height: 2px;
                    background: @bd943c;
                    left: 0;
                    bottom: 0;
                  }
                }
                ul{
                  text-align: justify;
                  margin-bottom: -25px;
                  &:after{
                    content: "";
                    display: inline-block;
                    width: 100%;
                  }
                }
                li{
                  padding-left: 20px;
                  position: relative;
                  width: 49%;
                  text-align: left;
                  min-height: 42px;
                  display: inline-block;
                  vertical-align: top;
                  padding-right: 4px;
                  overflow: hidden;
                  &:nth-of-type(-n+2){
                    margin-top: 0;
                  }
                  &:last-of-type{
                    margin-bottom: 15px;
                  }
                  &:before{
                    position: absolute;
                    content: "";
                    width: 4px;
                    height: 4px;
                    border-right: 1px solid @bd943c;
                    border-bottom: 1px solid @bd943c;
                    .rotate(-45deg);
                    left: -3px;
                    top: 6px;
                  }
                  a{
                    color: @black;
                    text-transform: none;
                    font-weight: 600;
                    .font(@mont,14px,1.45,0.05em);
                    padding: 0;
                    margin: 0;
                    display: inline;
                    z-index: 0;
                    .transition();
                    &:after{display: none;}
                    &:hover{
                      color: #ffffff;
                      background: @002e4b;
                    }
                  }
                }
              }
              &.push-left{
                padding-left: 80px;
                li{
                  width: 200px;
                  max-width: 49.5%;
                }
              }
            }
          }
        }
      }
    }
    .search-container{
      box-shadow: 1.5px 2.598px 5px 0px rgba(0, 0, 0, 0.1);
      position: absolute;
      padding: 40px 0;
      width: 100vw;
      opacity: 1;
      display: none;
      left: 50%;
      .translate(-50%,0);
      z-index: 2;
      background: #ffffff;
      top: 70px;
      span{
        vertical-align: middle;
        display: inline-block;
        width: 80px;
        height: 50px;
        padding: 10px 20px 10px 0px;
        border-right: 1px solid #ccd5db;
        &.close-search{
          font-weight: 100;
          width: 50px;
          cursor: pointer;
          text-align: center;
          font-size: 50px;
          padding: 0;
          line-height: 48px;
          border-right: 0;
          color: @bd943c;
        }
      }
      input{
        vertical-align: middle;
        display: inline-block;
        width: ~"calc(100% - 170px)";
        height: 50px;
        border: none;
        box-shadow: none;
        padding-left: 40px;
        .font(@robo,26px,1.45,0.07em);
        color: #000000;
      }
    }
  }
}


.main-menu-nav > .container > ul > li a.back-button-link {
  font-size: 12px !important;
  line-height: 1 !important;
  position: absolute;
  top: 20px;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  .transition();
  padding-right: 0 !important;
  padding-left: 0 !important;
  padding: 4px 0;
  &:after{
    left: -12px;
    top: 6px;
    right: auto;
    .rotate(135deg) !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-menu-nav .container > ul > li.menu-dropdown .drop-menu_wrap .dropmenu_intro span{
    background: transparent;
    color: #94560c;
  }
}

.headnews-scroller{
  opacity: 0;
  overflow: hidden;
  height: 50px;
  background: #ebeced;
  position: relative;
  &:before{
    right: 50%;
    width: 500vw;
    background: white;
    content: "";
    top: 0;
    height: 100%;
    position: absolute;
  }
  span{
    position: relative;
    z-index: 1;
    .font(@mont,14px,2,0.05em);
    font-weight: 700;
    display: inline-block;
    color: @007bc9;
    text-transform: uppercase;
    width: 120px;
    padding: 11px 0px;
    background: #ffffff;
    text-align: left;
    vertical-align: top;
  }
  .news-wrapper{
    background: #ebeced;
    width: ~"calc(100% - 125px)";
    display: inline-block;
    position: relative;
    height: 50px;
    overflow: hidden;
    &:after{
      content: "";
      width: 500%;
      background: #ebeced;
      height: 100%;
      right: -500%;
      position: absolute;
      top: 0;
    }
  }
  .js-marquee{
    white-space: nowrap;
  }
  ul{
    display: inline-block;
    height: 100%;
    position: relative;
    white-space: nowrap;
    li {
      white-space: nowrap;
      display: inline-block;
      .transition();
      padding: 11px 20px;
      padding-left: 35px;
      height: 100%;
      position: relative;
      &:before{
        position: absolute;
        content: "";
        width: 4px;
        height: 4px;
        background: @002e4b;
        border-radius: 50%;
        left: 20px;
        top: ~"calc(50% - 2px)";
      }
      p{
        .font(@robo,14px,2,0.1em);
        color: @002e4b;
      }
    }
  }
}
.hammenu-wrap{
  display: none !important;
  .hammenu{
    padding: 15px;
    display: inline-block;
    width: 60px;
    height: 50px;
    margin-right: -15px;
    cursor: pointer;
    span{
      .transition();
      display: inline-block;
      float: right;
      width: 30px;
      height: 2px;
      background: black;
      border-radius: 5px;
      position: relative;
      .rotate(0deg);
      &:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }
      &:nth-child(2) {
        top: 7px;
        width: 22px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }
      &:nth-child(3) {
        top: 14px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }
    }
    &.open{
      span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: -2px;
        left: 2px;
      }
      span:nth-child(2) {
        width: 0%;
        opacity: 0;
      }
      span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 17px;
        left: 1px;
      }

    }
  }
}

.menu-logo .container .mobile-header-logo{
  width: 40px;
  height: 100%;
  vertical-align: middle;
}
.main-menu-nav .container > ul > li .search-menu svg {
  fill: #ffffff;
}
.mobilemenu{
  display: none !important;
  &:after{
    display: none;
  }
  margin-bottom: 10px;
  pointer-events: all !important;
  opacity: 1 !important;
  .translate(0,0) !important;
}
.main-menu-nav .container > ul > li.mobilemenu{
  margin: 0;
  opacity: 0 !important;
  pointer-events: none !important;
  display: none !important;
  a {
    font-size: 16px !important;
  }
}
