.resource_inner{
	h1{
		color: #002e4b;
		font-weight: 500;
		.font(@mont,100px,1,0.025em);
	}
	h3{
		margin: 60px 0 40px;
		font-size: 24px;
	}	
	p{
		font-weight: 400;
	}
	.sb_hd{
		display: block;
		font-weight: 700;
		margin-bottom: 30px;
	}		
	.hostl_facility{
		padding: 120px 0;
		h3{
			color: #002e4b;
		}
		span{
			display: block;
			font-size: 220px;
			font-family: @mont;
			font-size: 223px;
			font-weight: 700;
			height: 140px;
			position: relative;
			background: url("../img/hstl-titl-bg.jpg") left 18%;
			width: 100%;
			color: #002e4b;
			text-fill-color: transparent;
			/* not yet supported */
			background-clip: text;
			/* not yet supported */
			-webkit-text-fill-color: transparent;
			-webkit-background-clip: text;
			-moz-text-fill-color: transparent;
			/* not yet supported */
			-moz-background-clip: text;
			/* not yet supported */
		}


		.rigt_aln{
			float: right;
		}		
		.col-sm-6{
			.hostel_rgt_img{
					margin-top: 45px;
				    float: right;
				    position: relative;
				    border: 3px solid #dec99d;
				&:after{
				    position: absolute;
				    content: "";
				    right: -26px;
				    top: -24px;
				    width: 96%;
				    height: 96%;
				    background: url("../img/sample-gradiant1.jpg");
				    background-repeat: repeat;
				}
				/*&:before{
					position: absolute;
					content: "";
					top: -10px;
					right: -14px;
					width: 18px;
					height: 90%;
					background: url("../img/sample-gradiant.jpg");
					background-repeat: repeat;
				}*/
				img{
					border: 10px solid #fff;
				    overflow: hidden;
				    z-index: 1;
				    position: relative;
				}
			}
		}
	}

	.hostl_sec2{
		background: #f8f8f8;	
		padding: 70px 0;
		.col-sm-7{
			div{
				padding-left: 50px;
			}
		}
	}
	.hostl_sec3{
		padding: 120px 0 0;
		h3{
			margin-top: 0;
		}
		.hostl_sec3_hlth{
			position: relative;
			padding: 120px 0;
			margin: 120px 0;
			.hostl_sec3_hlth_box{
				width: 42%;
			    display: inline-block;
			    vertical-align: middle;
			    position: relative;
			    z-index: 2;
			    background: #fff;
			    padding: 130px 50px;
			    border: 3px solid #bd943c;
			    text-align: justify;
			    .title_line{
			    		font-weight: 600;
						margin-bottom: 50px;
						font-family: @mont;
						font-size: 24px;
						line-height: normal;
						letter-spacing: 0;
			    	&:after{
						bottom: 12px;
			    	}
			    }
			}
			.hostl_sec3_img{
				background: url("../img/health-club.jpg") no-repeat center center;
			    background-size: cover;
			    width: 60%;
			    height: 100%;
			    position: absolute;
			    right: 0;
			    top: 0;
			}
		}

	}


	.hostl_sec4{
		padding: 120px 0;
		background: #f8f8f8;
		h3{
			margin: 0 0 70px;
			font-size: 30px;
			font-weight: 600;
		}
		ul{
			li{
				padding-left: 50px;
				margin-top: 40px;
			}
		}
	}
	.cntrl_library{
		
		background: #fff;
		.inner_sub_hd{
			margin-top: 40px;
			font-size: 20px;
			margin: 40px 0 40px;
		}
		h4{
			font-size: 17px;
			font-weight: 600;
			margin: 30px 0;
		}

	}


		 table{
      width: 100%;
      margin-bottom: 75px;
      tr{
        height: 60px;
      }
      td,th{
        padding: 0 35px;
        vertical-align: middle;
        font-weight: 300;
        font-size: 15px;
        letter-spacing: 0.05em;
        border: 1px solid #000000;
        line-height: 2.7;
      }
      span{
        font-size: 14px;
        color: @002e4b;
        display: block;
        margin: 0;
        margin-top: 30px;
        text-align: center;
      }
      label{
        min-width: 50px;
        display: inline-block;
        font-weight: 400;
      }
      thead{
        th{
          text-align: left;
          font-weight: 500;
          .font(@mont,18px,2.2,0.05em);
          color: @002e4b;
        }
      }
    }	
}

.principal_sec{
	.hostel_rgt_img{
		float: left !important;
	}
	.principal_sec_rgt{
		.title_line{
			.font(@mont,18px,normal,0.05em);
			font-weight: 700;
			&:after{
				bottom: 12px;
			}
		}
		h3{
			.font(@mont,18px,2,0.05em);
			font-weight: 600;
		}
		h1{
			.font(@mont,36px,normal,0.025em);
		}
		p{
			.font(@robo,18px,2,0.05em);
			font-weight: 400;
		}
	}
	.tab-menu{
			ul{
				li{
					margin-right: 35px;
					a{
						text-transform: capitalize;
					}
				}
			}
		}
	.tab-content-wrap{

		.tic_list{
			li{
				padding-left: 50px; 
				padding-bottom: 20px;
				&:last-child{
					padding-bottom: 0;
				}
			}
		}
		h3{
			margin: 30px 0;
		}	
	}
	
}




.alumni_registr{
	padding: 120px 0;
	.webform{
		.multiple-form-group{
			width: 84%;
			.form-group.col-xs-6{
				width: 50% !important;
				label{
					padding: 0 !important;
				}
			}
		}
		.form-group{
			width: 80%;
			textarea{
			    color: rgba(0, 0, 0, 0.6);
			    width: 100%;
			    height: 100px;
			    padding: 15px;
			    border: 1px solid #a1a1a1;
			    font-family: 'Roboto Slab', serif;
			    font-size: 15px;
			    line-height: 1.2;
			    letter-spacing: 0.05em;
			    resize: none;
		}
		.btn_web{
			input{
			  border: none;
			  background: transparent;
			  color: #002e4b;
			  font-family: 'Montserrat', sans-serif;
			  font-size: 14px;
			  font-weight: 600;
			  text-transform: uppercase;
			  letter-spacing: 0.05em;
			  line-height: 52px;
			  cursor: pointer;
			  -webkit-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
			  -moz-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
			  -o-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
			  -ms-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
			  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
			}
			&:hover input{
				color: #fff;
			}
		}

		}
		
	}
}



