.hostl_facility span {
  display: block;
  font-size: 220px;
  font-family: 'Montserrat', sans-serif;
  font-size: 223px;
  font-weight: 700;
  position: relative;
  background: url("../img/hstl-titl-bg.jpg") right 18%;
  width: 100%;
  color: #002e4b;
  text-fill-color: transparent;
  /* not yet supported */
  background-clip: text;
  /* not yet supported */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-text-fill-color: transparent;
  /* not yet supported */
  -moz-background-clip: text;
  /* not yet supported */
}
.hostl_facility h1 {
  font-size: 100px;
  color: #002e4b;
}
