.font(@font,@size,@lh,@ls){
    font-family: @font;
    font-size: @size;
    line-height: @lh;
    letter-spacing: @ls;
}
.h1(){
  .font(@mont,36px,1.3,0.05em);
}
.h2(){
  .font(@mont,30px,1.3,0.05em);
}
.h3(){
  .font(@mont,18px,1.3,0.05em);
}
.h4(){
  .font(@mont,14px,1.3,0.05em);
}


.scale(@x:1){
  -webkit-transform: scale(@x);
  -moz-transform: scale(@x);
  -ms-transform: scale(@x);
  transform: scale(@x);
}
.rotate(@x){
  -webkit-transform: rotate(@x);
  -ms-transform: rotate(@x);
  -moz-transform: rotate(@x);
  transform: rotate(@x);
}
.translate(@x,@y){
  -webkit-transform: translate(@x,@y);
  -ms-transform: translate(@x,@y);
  -moz-transform: translate(@x,@y);
  transform: translate(@x,@y);
}
.transition (@prop: all, @time: 0.3s, @ease: ease-in-out) {
  -webkit-transition: @prop @time @ease;
  -moz-transition: @prop @time @ease;
  -o-transition: @prop @time @ease;
  -ms-transition: @prop @time @ease;
  transition: @prop @time @ease;
}
.appearance-none(){
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
.transdelay(@x:0.3s){
  -webkit-transition-delay: @x;
  -moz-transition-delay: @x;
  -ms-transition-delay: @x;
  -o-transition-delay: @x;
  transition-delay: @x;
}
.translate3d(@x:0,@y:0,@z:0){
  transform: translate3d(@x,@y,@z);
  -webkit-transform: translate3d(@x,@y,@z);
  -ms-transform: translate3d(@x,@y,@z);
  -moz-transform: translate3d(@x,@y,@z);
  -o-transform: translate3d(@x,@y,@z);
}
.transition_cub(@x:0.9s){
  transition: @x cubic-bezier(1, 0.045, 0.355, 1);
  -moz-transition: @x cubic-bezier(1, 0.045, 0.355, 1);
  -o-transition: @x cubic-bezier(1, 0.045, 0.355, 1);
  -ms-transition: @x cubic-bezier(1, 0.045, 0.355, 1);
}
