.placements_training .placements_training_lft {
  width: 50%;
  display: inline-block;
}
.major_fnctin h2 {
  font-weight: 600;
}
.major_fnctin .tic_list li {
  width: 33.3%;
  float: left;
  padding-left: 30px;
}
