/*p{
	text-align: justify;
}*/
.placements_training{
	position: relative;
	display: table;
	width: 100%;
	background: #f8f8f8;
	padding: 210px 0 150px;
	.placements_training_lft{
	  	z-index: 1;
		width: 50%;
		display: table-cell;
		vertical-align: top;
		position: relative;
		h2{
			font-weight: 600;
			margin-top: -130px;
		}
		.placed_count{
			display: table-cell;
			vertical-align: bottom;
			div{
				position: absolute;
				right: 12%;
				bottom: -40%;
				width: 500px;
				background: #fff;
				z-index: 4;
				padding: 100px 90px 70px;
				span{
					  font-family:@mont;
					  font-size: 180px;
					  line-height: 1;
					  letter-spacing: 0;
					  font-weight: 600;
					  display: inline-block;
					  background-image: url('../img/menu-overlay.png');
					  background-size: cover;
					  color: #bd943c;
					  margin-bottom: 10px;
					  background-clip: text;
					  text-fill-color: transparent;
					  -webkit-text-fill-color: transparent;
					  -webkit-background-clip: text;
					  -moz-text-fill-color: transparent;
					  -moz-background-clip: text;
				}
				h2{
					margin-top: 0;
				}
				label{
					color: #989898;
					font-size: 15px;
					margin-top: 40px;
					display: block;
				}
			}
		}
	}	
	.placements_training_rgt{
		width: 49%;
		display: table-cell;
		vertical-align: middle;
		p{
			text-align: justify;
			font-weight: 400;
		}
	}
	.placement_bg_img{
		background: url("../img/placemnt-trang-img.jpg")no-repeat;
		background-position: center center;
		background-size: cover;
		height: 600px;
		position: absolute;
		width: 40%;
		top: 57%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		left: 0;
	}
}

.our_recruiters{
	background: #f8f8f8;
	padding-bottom: 10px;
	h2{
		font-weight: 600;
	}
	.our_recruiters_sldr{
		position: relative;
		.our_recruiters_slide{
			margin: 75px 0;
			.recruiters_box{
				ul{
					li{
						margin-bottom: 30px;
						width: 200px;
						height: 150px;
						text-align: center;
						background: #fff;
						line-height: 1;
					  	display: table;
						border: 1px solid #eeeded;
						border-radius: 3px;
					    > div{
						  display: table-cell;
						  vertical-align: middle;
						}
						img{
							-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    						filter: grayscale(100%);
    						opacity: .6;
    						.transition;
    						display: inline-block;
    						width: auto;
						}
						&:hover img{
							-webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
							filter: grayscale(0);
							opacity: 1;
							.transition;
						}
					}
					
				}
			}			
		}

	}
	.plcmnt_ofc{
		margin-bottom: 90px;
		p{
			text-align: justify;
			font-weight: 400;
		}
	}
}







.major_fnctin{
	padding: 110px 0;
	h2{
		font-weight: 600;
		margin-bottom: 80px;
	}
	.tic_list{
		li{
			width: 33.3%;
			float: left; 
			padding-left: 40px;
			font-family: @robo;
			padding-bottom: 20px;
			line-height: 2;
		}
	}
}

.strngth_plcmnt_ofc{
	padding: 120px 0;
	background: #f8f8f8;
	p{
		font-weight: 400;
	}
	.tic_list{
		margin-top: 70px;
		li{
			padding-bottom: 40px;
			padding-left: 40px;
			line-height: 2;
		}
	}
	.indstry_inst{
		padding: 50px 0 75px;
		overflow: hidden;
	}
}

