.res_intro{
  background-color: #f8f8f8;
  h1{
    .font(@mont,48px,1.2,0.025em);
    font-weight: 500;
    &:after{
      background-color: @bd943c;
    }
  }
  .intro_wrap{
    margin-top: 100px;
    width: 100%;
    max-width: 970px;
    margin-left: auto;
  }
  span{
    .font(@mont,224px,1,0);
    font-weight: 600;
    margin-top: 25px;
    display: inline-block;
    background-image: url('../img/menu-overlay.png');
    background-size: cover;
    color: @bd943c;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-text-fill-color: transparent;
    -moz-background-clip: text;

    width: 350px;
    sup{
      font-size: 65%;
      vertical-align: super;
    }
  }
  h2{
    width: ~"calc(100% - 350px)";
    .font(@mont,48px,1.25,0);
    font-weight: 500;
    display: inline-block;
    margin-top: 40px;
    vertical-align: text-bottom;
    br{
      display: inline-block;
    }
  }
  p{
    margin-top: 50px;
    .font(@robo,30px,1.5,0.05em);
  }
}

.res_course-wrap{
  background-color: #f8f8f8;
  .img-contain{
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    img{
      position: absolute;
      min-height: 100%;
      .translate(-50%,0);
      left: 50%;
      min-width: 100%;
      height: 100%;
    }
  }
  .text-contain{
    display: table;
    height: 100%;
    padding-right: 90px;
    > div{
      display: table-cell;
      vertical-align: middle;
      h2{
        font-weight: bold;
        text-transform: uppercase;
        .font(@mont,36px,1.2,0.04em);
        padding-bottom: 25px;
        margin-bottom: 50px;
        position: relative;
        &:after{
          position: absolute;
          content: "";
          left: 0;
          bottom: 0;
          width: 37px;
          height: 2px;
          background: #bd943c;
        }
      }
      p{
        margin-top: 50px;
        line-height: 2.6;
      }
      a{
        margin-top: 45px;
        min-width: 235px;
        background: #f8f8f8;
      }
    }
  }
  > div{
    height: 720px;
    position: relative;
    &:nth-of-type(2n+1){
      .text-contain{
        float: right;
        padding-right: 0px;
        padding-left: 90px;
      }
    }
    &:nth-of-type(2n+2){
      .img-contain{
        right: 0;
        left: auto;
      }
    }
    > div{
      height: 100%;
    }
  }
}