@media(max-width: 1440px) {
	.news_events .news_events_rgt .news_events_box .news_fb_bx{
	    padding: 76px 34px 58px;
	}
	.news_events .news_events_left .col-sm-6 .news_events_box_btm_content p{
		height: 210px !important;
	}
}
@media(max-width: 1439px) {
	.news_events .news_events_left .col-sm-6 .news_events_box_btm_content p{
		height: 260px !important;	
	}    
	.news_events .news_events_rgt .news_events_box .news_fb_bx{
		padding: 63px 34px 48px;
	}
	section{
		padding: 100px 0;
	}
	.nws_evnts_inner{
		padding: 100px 0;	
	}
	.nws_evnts_inner .events_container .title_line{
		margin-bottom: 60px;
	}
	.contact_sec{
		padding: 100px 0;	
	}
	.infra_sec .col-sm-4.infra_sec_left .review_bx{
		padding: 50px 20px;
	}	
	.infra_sec .col-sm-4.infra_sec_left .review_bx .quot_div{
		background-size: 70%;
		top: 15px;
	}
	.infra_sec .col-sm-8 .great_infra h3{
		margin-bottom: 30px;
	}	
	.news_events h2{
		margin-bottom: 30px;
	}
	.col-sm-8.news_events_left{
		padding-left: 10px;
		padding-right: 10px;
	}
	.col-sm-4.news_events_rgt{
		padding-left: 10px;
		padding-right: 10px;
	}
	.news_events .news_events_left .col-sm-6{
		padding: 0 10px;
	}
	.news_events .news_events_left .col-sm-6 .news_events_box{
		margin-top: 20px;
	}
	.news_events .news_events_rgt .news_events_box{
		margin-bottom: 20px;
	}
	.about_main .about_title h3{
		margin-bottom: 30px;
	}
	.about_main .about_title span{
		margin-top: 0;
	}
	.board_trustes .board_trustes_inner{
		margin-top: 70px;
	}
	.board_trustes .board_trustes_inner .vision_mision{
	    margin-top: 120px;
	}
	.placements_training .placement_bg_img{
		top: 57%;
	}
	.placements_training .placements_training_lft .placed_count div{
		bottom: -16%;
	}
	.our_recruiters .our_recruiters_sldr .our_recruiters_slide .recruiters_box ul li{
		width: 100%;
	}
	.our_recruiters .our_recruiters_sldr .our_recruiters_slide .recruiters_box ul li img{
		max-width: 80%;
	}
	.major_fnctin .tic_list li{
		padding-right: 20px;
	}
	.placements_training{
		padding-bottom: 100px !important;
	}
	.placements_training .placements_training_rgt{
		margin-top: 50px;
	}
	.major_fnctin{
		padding: 90px 0;
	}
	.major_fnctin h2{
		margin-bottom: 60px;
	}
	.strngth_plcmnt_ofc{
		padding: 90px 0;
	}
	.strngth_plcmnt_ofc .tic_list{
		margin-top: 50px;
	}
	.strngth_plcmnt_ofc .indstry_inst{
		padding: 30px 0 75px;
	}
	.career_page .about_rank .about_rank_left > span{
		font-size: 140px !important;
	}
	.career_page .about_rank .about_rank_left p{
		font-size: 26px;	
	}
	.recr_tab .course-tab-contain .tab-menu ul{
		width: 100%;
	}
	.resource_inner .hostl_sec4{
		padding: 100px 0;
	}
	.resource_inner .hostl_facility{
		padding: 100px 0;
	}
	.resource_inner .hostl_sec3{
		padding: 100px 0;	
	}
	.resource_inner .hostl_sec3 .hostl_sec3_hlth .hostl_sec3_img{
		background-position: left center;
	}
	.resource_inner .hostl_sec3 .hostl_sec3_hlth .hostl_sec3_hlth_box{
		width: 48%;
	}
	.resource_inner .hostl_sec3 .hostl_sec3_hlth{
		margin-bottom: 0;
	}
	.principal_sec .course-tab-contain .tab-menu ul{
		width: 100%;
	}
	.gallery_page .gallery_sec ul li{
		width: 23%;
	}
	.gallery_page .gallery_sec ul li:last-child .virtual_tour{
		padding: 13% 10%;
		text-align: center;
		padding-left: 0;
		.virtual_title{
			margin-top: 10px;
			text-align: center;
		}
	}

}

@media(max-width: 1199px) {
  section{
	padding: 70px 0;
  }
.ranking{
        position: relative;
        .ranking-left{
        img{
          display: none;
        }
        .it-hub{
          position: static;
          transform:none;
          -webkit-transform:translateY(0) !important;
          -moz-transform:translateY(0) !important;
          -ms-transform:translateY(0) !important;
        }
      }
    }
	.ranking-right .ranking_right_inner .virtual_tour{
		position: absolute;
		left: 50px;
		bottom: 50px;
	} 
	.infra_sec .col-sm-8 .great_infra .col-sm-4 > div p{
		font-size: 15px;
		padding-left: 10px;
	}
	.infra_sec .col-sm-8 .great_infra .col-sm-4 > div {
    	padding: 30px 12px;
	}
	.infra_sec .col-sm-8 .great_infra .col-sm-4:last-child > div{
		padding: 45px 0;
	}


	.infra_sec .col-sm-4.infra_sec_left .review_bx .review_innr p{
		padding: 20px 0;
	}
	.infra_sec .col-sm-4.infra_sec_left{
		width: 49%;
	}
	.infra_sec .col-sm-8{
		width: 50%;
	}
	.infra_sec .col-sm-8 .great_infra .col-sm-4{
		width: 50%;
	}
	.infra_sec .col-sm-8 .great_infra .col-sm-4 > div p{
		font-size: 14px;
		padding-left: 5px;
	}
	.infra_sec .col-sm-8 .great_infra h3{
		font-size: 30px;
	}
	.news_events .news_events_left .col-sm-6 .news_events_box{
		min-height: 557px;
	}
	.news_events .news_events_left .col-sm-6 .news_events_box_btm_content p{
		margin-bottom: 30px;
	}
	.news_events .news_link{
		line-height: normal;
	}
	.news_events .news_events_rgt .news_events_box .news_fb_bx{
	    padding: 58px 34px 48px;				
	}
	footer .footer_sec .footer_sec_top .col-sm-9 ul li{
		width: 50%;
		&:nth-of-type(2){
			padding-left: 40px;
		}
	}
	footer .footer_sec .footer_sec_btm .col-sm-9 .footer_sec_btm_box ul li a{
		padding-right: 15px;
		line-height: 1.4;
	}
	.about_main .about_rank .about_rank_left{
	    padding: 50px 40px 50px 40px;
	    width: 46%;
	}
	.about_main .about_rank .about_rank_left > span{
		font-size: 150px;
	}
	.about_main .about_rank .about_rank_left > span label{
		font-size: 30px;
		bottom: 30px;
	}
	.about_main .about_rank .about_rank_left p{
		font-size: 26px;
	}	
	.about_main .about_rank .about_bg_img{
		background-position: 10% center;
	}
	.about_clg .about_clg_rgt {
	    width: 100%;
	    vertical-align: middle;
	    display: block;
	}
	.about_clg .about_clg_lft {
	    width: 35%;
	    display: inline-block;
	    vertical-align: middle;
	    margin-right: 74px;
	    padding-left: 30px;
	    margin-bottom: 30px;
	    float: left;
	}		
	.about_clg .about_clg_rgt h3{
		margin-bottom: 30px;
	    font-size: 26px;
	}
	.placements_training .placements_training_lft h2{
		margin-top: -90px;
	}
	.placements_training{
		padding: 156px 0 150px;
	}
	.placements_training .placements_training_rgt{
		width: 100%;
		display: inline-block;
	}
	.placements_training .placements_training_lft{
		display: inline-block;
		width: 100%;
		height: 600px;
	}
	.placements_training .placement_bg_img{
		top: 12%;
		transform: none;
		width: 70%;
	}
	.placements_training .placements_training_lft .placed_count div{
		bottom: auto;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		right: 0;
	}
	.placements_training .placements_training_lft .placed_count div span{
		font-size: 130px;
	}
	.placements_training .placements_training_rgt{
		margin-top: 90px;
	}
	.our_recruiters .our_recruiters_sldr .our_recruiters_slide .recruiters_box ul li{
		height: 120px;
	}
	.career_page .about_rank .about_rank_left > span{
		font-size: 100px !important;
	}
	.about_main .about_rank .about_rank_left p{
		font-size: 22px !important;	
	}
	.career_page .about_main_sub .why_chos_us .row{
		margin: 0 -30px;
	}
	.career_page .about_main_sub .why_chos_us .row .col-sm-4{
		padding: 0 30px;
	}
	.career_page .about_main_sub .why_chos_us .row .col-sm-4 div:after{
		right: -30px;
	}
	.course-tab-contain .tab-content-wrap .tab-content{
		padding-bottom: 50px;
	}
	.nws_evnts_inner .events_container{
		width: 96%;
	}
	.lft_aln{
		float: none;
		width: 100%;
	}
	.resource_inner .hostl_sec4 ul li{
		margin-top: 20px;
	}
	.resource_inner .hostl_sec4 h3{
		margin-bottom: 30px;
	}
	.resource_inner h1{
		font-size: 85px;
	}
	.resource_inner h3{
		margin: 30px 0;
	}
	.resource_inner .hostl_sec3 .hostl_sec3_hlth{
		padding: 50px 0;
		margin-bottom: 0;
	}
	.resource_inner .hostl_sec3 .hostl_sec3_hlth .hostl_sec3_hlth_box{
		width: 52%;
	}
	.principal_sec{
		.hostl_facility .principal_sec_lft{
			.hostel_rgt_img{
				padding-left: 0;
			}
		}
		.hostl_facility .principal_sec_rgt.col-sm-6{
			div{
				padding-left: 30px;
				h1{
					font-size: 30px;
				}
			}
		}
	}
	.gallery_page .gallery_sec ul li{
		width: 32%;
		&:nth-of-type(7){
			clear: both;
		}
	}
	

}


@media(max-width: 991px) {
	section{
		padding: 50px 0;
	}
	.title_line{
		font-size: 36px !important;
	}
	.contact_sec{
		padding: 50px 0;	
	}
	.contact_sec .col-sm-5{
		padding-top: 50px;
	}
	.clg_range{
		padding: 50px 0;	
	}
	.course-tab-contain{
		padding-top: 50px;
	}
	.nws_evnts_inner{
		padding: 50px 0;	
	}
	.ranking .ranking-left .it-hub{
		padding: 20px;
		width: 100%;
	}
	.ranking-right .ranking_right_inner{
		width: 100%;
		padding-left: 50px;
	}
	.ranking-right .ranking_right_inner .virtual_tour{
		/*bottom: 160px;*/
		left: 100px;
	}
	.news_events .col-sm-8.news_events_left{
		width: 100%;
	}
	.news_events .col-sm-4.news_events_rgt{
		width: 100%;
		margin-top: 10px;
	}
	.news_events .news_events_rgt .news_events_box{
		margin-bottom: 10px;
	}
	.news_events .news_events_left .col-sm-6{
		padding: 0 5px;
	}
	.news_events .news_events_left .col-sm-6 .news_events_box{
		margin-top: 10px;
	}
	.news_events .news_events_rgt .news_events_box{
		width: 49.3%;
		float: left;
		margin-right: 1.4%;
		&:nth-of-type(2){
			margin-right: 0;
		}
		&:nth-of-type(3){
			margin: 0;
			width: 100%;
		}
	}
	footer .footer_sec .footer_sec_btm .col-sm-9{
		width: 100%;
		margin-bottom: 20px;
	}
	footer .footer_sec .footer_sec_btm .col-sm-3{
		width: 100%;
		position: relative;
	}
	footer .footer_sec .footer_sec_btm .col-sm-3 .footr_social{
		position: absolute;
		right: 15px;
		top: 0;
		border: none;
	}
	footer .btm_footr ul li a{
		padding-right: 10px;
	}
	footer .footer_sec .footer_sec_top .col-sm-9 ul li a{
		font-size: 14px;
	}
	footer .footer_sec .footer_sec_top .col-sm-9 ul li a i svg{
		height: 40px;
    	width: 30px;
	}
	.about_main .about_rank .about_rank_left{
	    width: 56%;		
	}
	.about_clg .about_clg_rgt h3{
		br{
			display: none;
		}
	}
	.clg_range .container .clg_range_box > div{
		top: 8%;
		text-align: center;
		width: 100%;
	}
	.clg_range .container .clg_range_box > div h2{
		font-size: 50px;
	}
	.clg_range .container .clg_range_box:nth-of-type(2) div{
		left: 12px;
	}
	.clg_range .container:before{
	    left: 32%;
	}
	.clg_range .container:after{
	    right: 34%;
	}
	.clg_range .container .clg_range_box > div span{
		font-size: 14px;
	}
	.board_trustes .board_trustes_inner{
		margin-top: 30px;
	}
	.board_trustes .board_trustes_inner .board_trustes_slder .trustes_img{
		margin-bottom: 30px;	
	}
	.board_trustes h2{
		font-size: 24px;
		&:after{
			bottom: 14px;
		}
	}
	.board_navslide{
		top: -15px;
		right: 15px;
	}
	.board_trustes .board_trustes_inner .vision_mision{
		margin-top: 50px;
	}
	.directr_msg .directr_msg_img{
		padding-right: 25px;
	}
	.directr_msg .directr_msg_content span{
		margin: 30px 0;
	}
	.directr_msg .directr_msg_content h2{
		font-size: 22px;
		&:after{
			bottom: 14px;
		}
	}
	.directr_msg .directr_msg_content span{
		font-size: 16px;
	}
	.placements_training .placements_training_lft > h2{
		font-size: 24px;
	}
	.our_recruiters .our_recruiters_sldr .our_recruiters_slide .recruiters_box ul li{
		margin-bottom: 10px;
	}
	.major_fnctin .tic_list li{
		width: 50%;
	}
	.career_page .about_main_sub .why_chos_us .row{
		margin: 0 -15px;
	}
	.career_page .about_main_sub .why_chos_us .row .col-sm-4{
		padding: 0 15px;
	}
	.career_page .about_main_sub .why_chos_us .row .col-sm-4 div:after{
		display: none;
	}
	.career_page .about_main_sub .why_chos_us .row .col-sm-4 div h4{
		font-size: 18px;
	}
	.career_page .about_main_sub p{
		font-size: 14px;
	}
	.recr_tab .course-tab-contain .tab-menu ul li{
		margin-right: 30px;
	}
	.recr_tab .course-tab-contain .tab-menu ul li a{
		font-size: 15px;
	}
	.recr_tab .course-tab-contain .tab-content-wrap{
		margin-top: 30px;
		h3{
			margin-bottom: 20px !important;
		}
	}
	.nws_evnts_inner .events_container .nws_evnts_box .col-sm-7{
		float: none;
		display: inline-block;
		vertical-align: middle;
		width: 57%;
	}
	.nws_evnts_inner .events_container .nws_evnts_box .col-sm-5{
		float: none;
		display: inline-block;
		vertical-align: middle;	
	}
	.nws_evnts_inner .events_container .title_line{
		margin-bottom: 30px;
	}
	.resource_inner .hostl_facility span{
		font-size: 150px;
		height: 80px;
	}
	.resource_inner h1{
		font-size: 65px;
	}
	
	.hostel_rgt_img{
		margin-bottom: 10px; 
	}
	.hostl_sec2 .col-sm-7{
		float: none;
		width: 100%;
		div{
			padding-left: 0 !important;
			h3{
				
			}
		}
	}
	.resource_inner .hostl_sec3{
		padding: 50px 0;
	}
	.resource_inner .hostl_sec3 .hostl_sec3_hlth .hostl_sec3_hlth_box{
		padding: 70px 50px;
	}
	.resource_inner .hostl_facility{
		padding: 50px 0;
	}
	.resource_inner .hostl_facility .col-sm-6.principal_sec_lft{
		padding-right: 60px;
	}
	.resource_inner .hostl_facility .col-sm-6.principal_sec_rgt{
		float: none;
		width: 100%;
		div{
			padding-left: 0;
				h1{
					font-size: 25px;
				}
			}
		}

	.principal_sec .course-tab-contain .tab-menu ul{
		text-align: center;
	}	
	.principal_sec .course-tab-contain .tab-menu ul li{
		display: inline-block;
		float: none;
		margin: 0 15px;
	}
  .principal_sec .course-tab-contain .tab-content-wrap{
		margin-top: 10px;
	}
	.principal_sec .tab-content-wrap h3{
		font-size: 18px;
		font-weight: 500;
	}
	.principal_sec .tab-content-wrap p{
		br{
			&:nth-of-type(n+1){
				display: none;
			}
		}
	}
	.gallery_page .gallery_sec ul li{
		width: 31%;
	}
	.gallery_page .gallery_sec ul li a .gallery_sec_content .real_icon span{
		height: 40px;
    	width: 40px;
	}
	.gallery_page .gallery_sec ul li a .gallery_sec_content{
		padding-left: 20px;
    	padding-bottom: 10px;
	}
	
	.gallery_page .gallery_sec ul li:last-child .virtual_tour .virtual_title{
		padding-left: 0;
	}
	.content-only > div{
		overflow-x: auto;
	    overflow-y: hidden;
	}
	.content-only table{
		min-width: 600px;
	}	
	.content-only > div .ach_sec{
		margin: 0;
	}
	.content-only > div .ach_sec .col-sm-3{
		padding: 0;
	}
	.content-only table td, .content-only table th{
		padding: 0 10px;
	}
	.ach_sec .col-sm-3{
		width: 50%;
		float: left;
	}	
	.content-only h2{
		font-size: 24px !important;
	}


}
@media(max-width: 768px) {
	.ranking-right .ranking_right_inner .ranking_item .ranking_innr img{
		margin-bottom: 20px;
	}
	.ranking-right .ranking_right_inner h2{
		margin: 30px 0;
	}
	.ranking-right .ranking_right_inner .virtual_tour {
	    bottom: 80px;
	    left: 20px;
	}
	.infra_sec .col-sm-8 .great_infra .col-sm-4{
		float: left;
	}
	.org_modal{
	.modal-dialog{
	  width:90% !important;
	} 
	}
}
@media(max-width: 767px) {
	section{
		padding: 50px 0;
	}
	.infra_sec .col-sm-8 .great_infra .col-sm-4 > div > span{
		width: 100%;
		text-align: center;
		svg{
			width: 50px;
			margin: 0 auto;
			text-align: center;
		}

	}
	.infra_sec .col-sm-8 .great_infra .col-sm-4 > div p{
		text-align: center;
		width: 100%;
	}
	.infra_sec .col-sm-8 .great_infra .col-sm-4 > div{
		padding: 15px 12px;
	}
	.infra_sec .col-sm-8 .great_infra h3{
		font-size: 24px;
	}
	.infra_sec .col-sm-8 .great_infra .col-sm-4 > div p{
		height: 50px;
	}
	.infra_sec .col-sm-8 .great_infra .col-sm-4:last-child > div p{
		height: auto;
		padding: 0 12px;
	}
	.news_events .news_events_left .col-sm-6{
		float: left;
		width: 50%;
		margin-bottom: 30px;
	}
	.news_events h2{
		margin-bottom: 20px;
	}
	.news_events h2{
		font-size: 24px;
	}
	.ranking-right .ranking_right_inner .virtual_tour .virtual_title{
		font-size: 20px;
		padding-left: 20px;
	}
	.ranking{
		padding-bottom: 150px;
	}	
	footer .footer_sec .footer_sec_top .col-sm-9{
		width: 100%;
	}
	footer .footer_sec .footer_sec_top .col-sm-3{
		width: 100%;
		margin-top: 20px;
	}
	.subscriber_box{
		width: 60%;
		margin: 0 auto;
	    margin-left: 0;
	}
	footer .footer_sec{
		padding: 50px 0;
	}
	.footer_sec_btm_box{
		display: none;
		&:nth-of-type(1){
			display: block;
		}
	}
	footer .footer_sec .footer_sec_btm .col-sm-3 p{
		display: none;
	}
	footer .footer_sec .footer_sec_btm{
		position: relative;
		padding-top: 30px;
		margin-top: 30px;
	}
	footer .footer_sec{
		padding: 30px 0;
	}
	footer .footer_sec .footer_sec_btm .col-sm-3{
		position: static;
	}
	footer .footer_sec .footer_sec_btm .col-sm-9{
		margin-bottom: 30px;
	}
	footer .footer_sec .footer_sec_btm .col-sm-9 .footer_sec_btm_box{
		width: 100%;
		text-align: center;
	}
	footer .footer_sec .footer_sec_btm .col-sm-9 .footer_sec_btm_box ul li{
		display: inline-block;
	}
	footer .footer_sec .footer_sec_btm .col-sm-3 .footr_social{
		position: static;
		padding-top: 0;
	}
	footer .footer_sec .footer_sec_btm .col-sm-3 .footr_social{
		text-align: center;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	footer .footer_sec .footer_sec_btm .col-sm-3 .footr_social label{
		display: inline-block;
		float: none;
		vertical-align: middle;
		font-size: 12px;
	}
	footer .footer_sec .footer_sec_btm .col-sm-3 .footr_social li{
		display: inline-block;
		float: none;
		vertical-align: middle;
	}
	.btm_footr .col-sm-7{
		display: none;
	}
	.btm_footr .col-sm-5{
		display: block;
		
		p{
		text-align: center;	
		font-size: 10px;
		}
	}
	.infra_sec .col-sm-4.infra_sec_left{
		padding-right: 0px;
	}
	.infra_sec .col-sm-8{
		padding-left: 0;
	}
	.about_main .about_rank{
		margin-top: 0;
		text-align: center;
		margin-bottom: 150px;
	}
	.about_main .about_rank .about_bg_img{
		width: 100%;
		top: 30%;
	}
	.about_main .about_rank .about_rank_left{
		width: 70%;
	}
	.about_main .about_rank{
		padding-top: 50px;
	}
	.about_main .about_main_sub{
		padding-top: 50px;	
	}
	.inner_sub_hd{
		padding-bottom: 20px;
    	margin-bottom: 20px;
	}
	.about_clg .about_clg_lft{
		width: 100%;
		text-align: center;
		float: none;
		padding: 0;
		margin-bottom: 30px;
		img{
			display: inline-block;
			width: 40%;
		}
	}
	.clg_range .container .clg_range_box{
		float: left;
		width: 33.3%;
	}	
	.clg_range .container .clg_range_box > div h2{
		font-size: 36px;
	}
	.clg_range .container .clg_range_box > div span{
		width: 175px;
		margin: 0 auto;
		padding-right: 20px;
	}
	.clg_range .container .clg_range_box > div{
		top: 20%;
	}
	.clg_range .container .clg_range_box:nth-of-type(2) div{
		left: 0;
	}
	.board_trustes .board_trustes_inner .vision_mision .col-sm-8{
		padding-left: 15px;
		margin-top: 30px;
	}
	.directr_msg .directr_msg_img .directr_msg_img_inr h4{
		font-size: 16px;
	}
	.directr_msg .directr_msg_img .directr_msg_img_inr span{
		font-size: 14px;	
	}
	.placements_training{
		display: inline-block;
		padding: 0 0 50px;
	}
	.placements_training .placements_training_lft{
		display: inline-block;
		text-align: center;
	}
	.placements_training .placements_training_lft .placed_count{
		display: inline-block;
		margin-top: 400px;
		width: 100%;
	}
	.placements_training .placements_training_rgt{
		margin-top: 300px;
	}
	.placements_training .placements_training_lft .placed_count div{
		position: relative;
		transform: none;
		width: 90%;
		margin: 0 auto;
		padding: 60px;
	}
	.placements_training .placement_bg_img{
		width: 100%;
	}
	.placements_training .placements_training_lft > h2{
		margin-top: 80px;
		text-align: left;
	}
	.our_recruiters{
		padding-top: 50px;
	}
	.our_recruiters .our_recruiters_sldr .our_recruiters_slide{
		margin: 30px 0;
	}
	.our_recruiters .plcmnt_ofc{
		margin-bottom: 30px;
	}
	.major_fnctin h2{
		font-size: 24px;
		&:after{
			bottom: 15px;
		}
	}
	.strngth_plcmnt_ofc .indstry_inst{
		padding: 20px 0 50px;
	}
	.strngth_plcmnt_ofc{
		padding: 50px 0;
	}
	.contact_sec .col-sm-7 .contact_form .form-group{
		width: 100%;
	}
	.map_pin_box .container .map_pin{
		right: 20px;
	}
	.contact_sec .col-sm-5 > div{
		margin-bottom: 20px;
	}
	.career_page .about_rank .about_rank_left{
		float: none;
	}
	.career_page .about_rank .about_bg_img{
		top: 5%;
	}
	.career_page .about_rank .about_rank_left{
		top: 200px;
	}
	.career_page .about_main_sub .why_chos_us .row .col-sm-4{
		float: left;
		width: 33.3%;
	}
	.career_page .about_main_sub .why_chos_us .row .col-sm-4 div h4{
		font-size: 16px;
	}
	.recr_tab .course-tab-contain .tab-menu ul li{
		margin-right: 0;
		&:last-child{
			margin: 0;
		}
		a{
			font-size: 14px;
		}
	}
	.recr_tab .tab-content-wrap .tab-content .recr_box .col-sm-4 .btn_web{
		float: left;
		margin-top: 20px;
	}
	.recr_tab .tab-content-wrap .tab-content .recr_box{
		margin-bottom: 30px;
		padding-bottom: 30px;
	}
	.nws_evnts_inner .events_container .nws_evnts_box .col-sm-7{
		width: 100%;
		>ul{
			margin-top: 20px;
		}
	}
	.nws_evnts_inner .events_container .nws_evnts_box p{
		margin-bottom: 20px;
	}
	.nws_evnts_inner .events_container .nws_evnts_box h3{
		font-size: 18px;
		padding: 20px 0; 
	}
	.nws_evnts_inner .events_container .nws_evnts_box .evnts_bx_btm span{
		padding-top: 10px;
	}
	.nws_evnts_inner .events_container .nws_evnts_box .evnts_bx_btm ul li a svg{
		margin-left: 6px;
	}
	.nws_evnts_inner .events_container .nws_evnts_box{
		margin-bottom: 20px;
	}
	.strngth_plcmnt_ofc .tic_list li{
		padding-bottom: 20px;
	}
	.resource_inner .hostl_facility{
		padding: 50px 0;
	}
	.resource_inner .hostl_facility .rigt_aln{
		width: 50%;
		padding-right: 40px;
	}
	.resource_inner .hostl_facility span{
		font-size: 100px;
		height: 60px;
	}
	.resource_inner h1 {
    	font-size: 65px;
	}
	.resource_inner .hostl_sec4{
		padding: 50px 0;
	}
	.resource_inner .bus_rout table tr td{
		width: 50%;
		float: left;
		padding: 0 25px;
	}
	.resource_inner h1{
		font-size: 45px;
	}
	.resource_inner .hostl_facility h3{
		margin: 15px 0;
	}
	.resource_inner table{
		margin-bottom: 0;
	}	
	.hostl_sec2 .col-sm-5{
		float: left;
		width: 50%;
	}
	.resource_inner .hostl_sec3 .hostl_sec3_hlth .hostl_sec3_img{
		width: 100%;
	}
	.resource_inner .hostl_sec3 .hostl_sec3_hlth{
		text-align: center;
		margin: 50px 0 150px;
		.hostl_sec3_hlth_box{
			top: 200px;
			width: 90%;

		}
	}

	.resource_inner .hostl_facility .col-sm-6.principal_sec_lft{
		float: left;
		width: 50%;
	}
	.resource_inner .hostl_facility .col-sm-6.principal_sec_rgt div h1{
		font-size: 20px;
		font-weight: 600;
	}
	.resource_inner .hostl_facility h3{
		font-size: 16px;
	}
	.principal_sec .principal_sec_rgt .title_line{
		font-size: 16px;
	}
	.principal_sec .principal_sec_rgt p{
		font-size: 15px;
	}
	.gallery_page .gallery_sec ul li:last-child .virtual_tour .virtual_title{
		font-size: 20px;
	}
	
	.gallery_page .gallery_sec ul li a .gallery_sec_content p{
		font-size: 14px;
	}
	.content-only{
		.ach_sec{
			.col-sm-2{
				width: 40%;
				float: left;
			}
		}
		p{
			margin-top: 15px;
		}
		li{
			margin-top: 15px;
		}

	}
	.content-only h3{
		margin-top: 20px;
	}



}



@media(max-width: 639px) {
    .infra_sec .col-sm-8{
	  padding-right: 0;
	}
	.ranking-left{
		width: 100%;
	}
	.ranking-left figure{
		padding-right: 0;
	}
	.ranking .ranking-left .it-hub{
		width: 70%;
		margin: 0 auto;
	}
	.it-hub .learn-more{
		margin-top: 30px;
	}
	.ranking-right{
		width: 100%;
		margin-top: 50px;
	}
	.ranking-right .ranking_right_inner{
		padding-left: 0;
	}
	.ranking-right .ranking_right_inner{
		float: none;
		margin: 0 auto;
		width: 70%;
	}

	.it-hub h3{
		margin-bottom: 20px;
	}
	.infra_sec .col-sm-4.infra_sec_left{
		width: 100%;
	}
	.infra_sec .col-sm-4.infra_sec_left .review_bx{
		width: 70%;
		margin: 0 auto;
	}
	.infra_sec .col-sm-8{
		width: 100%;
		margin-top: 50px;
	}
	.infra_sec .col-sm-8 .great_infra .col-sm-4{
		width: 33.3%;
		padding-right: 15px;
	}

	.infra_sec .col-sm-8 .great_infra h3{
		margin-bottom: 10px;
	}
	.infra_sec .col-sm-8 .great_infra .col-sm-4:last-child > div p{
		padding: 0 22px;
	}
	.news_events .news_events_left .col-sm-6 .news_events_box{
		margin-top: 15px;
	}
	.news_events .news_events_left .col-sm-6{
	    padding-right: 7.5px;
	}
	.news_events .news_events_left .col-sm-6:nth-of-type(3){
		padding-left: 7.5px;
	}
	.news_events .news_events_left .col-sm-6 .news_events_box_btm_content{
		padding: 0;
	}
	.news_events .news_events_rgt .news_events_box .news_events_box_top_content{
		padding: 0;
	}
	.news_events .news_events_rgt .news_events_box{
		width: 48.5%;
	    margin-right: 3%;
	}
	.news_events .news_events_left .col-sm-6{
		margin-bottom: 15px;
	}
	footer .footer_sec .footer_sec_btm .col-sm-9 .footer_sec_btm_box ul li a{
		font-size: 12px;
		padding-right: 6px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.about_main .about_rank .about_rank_left{
		padding: 50px 15px 50px 15px;
	}
	.about_main .about_rank .about_rank_left > span{
		font-size: 100px;
	}
	.about_main .about_rank .about_rank_left > span sup{
		font-size: 70px;
	}
	.about_main .about_rank .about_rank_left > span label{
		right: 0;
	    bottom: 20px;
	    font-size: 18px;
	}
	.clg_range .container .clg_range_box {
		display: inline-block;
		float: none;
		vertical-align: middle;
		min-height: auto;
		width: 32.3%;
	}
	.clg_range .container .clg_range_box > div{
		position: static;
		vertical-align: middle;
	}
	.clg_range .container:before{
		display: none;
	}
	.clg_range .container:after{
		display: none;
	}
	.clg_range .container .clg_range_box > div span{
		font-size: 13px;
		line-height: 1.6;
		width: 100%;
		padding-right: 0px;
	}
	.clg_range .container .clg_range_box{
		width: 100%;
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #ccc;
		&:last-child{
			border: none;
		}
	}
	.about_main .about_title h3{
		font-size: 20px;
	}
	.about_main .about_title span{
		font-size: 15px;
	}
	.about_clg .about_clg_rgt h3{
		font-size: 18px;
	}
	.about_main .about_main_sub h3{
		font-size: 18px;	
	}
	.inner_sub_hd{
		font-size: 24px !important;
	}
	.title_line{
		font-size: 24px !important;
		&:after{
			bottom: 14px !important;
			width: 35px;
		}
	}
	.board_trustes .board_trustes_inner .board_trustes_slder span{
		font-size: 12px;
	}
	.board_trustes .board_trustes_inner .board_trustes_slder p{
		font-size: 12px;	
	}
	.board_trustes .board_trustes_inner .board_trustes_slder .trustes_img{
		padding: 10px 10px;
		border-radius: 4px;
	}
	.owl-dots{
		position: relative;
		text-decoration: 22px;
		.owl-dot{
			width: 8px;
			height: 8px;
			background: #bd943c;
			border: 1px solid #bd943c;
			border-radius: 50%;
			display: inline-block;
			margin: 0 5px;
		}
		.active{
			background: #fff;
			border: 1px solid #bd943c;
		}
	}
	.directr_msg .directr_msg_img{
		width: 100%;
		text-align: center;
		padding-right: 0;
	}
	.directr_msg .directr_msg_content{
		width: 100%;
	}
	.directr_msg .directr_msg_img .directr_msg_img_inr{
		float: none;
		width: 250px;
		margin: 0 auto 30px;
		h4{
			margin: 20px 0 10px;
		}
		img{
			display: inline-block;
		}
	}
	.placements_training .placements_training_lft .placed_count{
		width: 100%;
	}
	.placements_training .placements_training_lft .placed_count div{
		width: 100%;
		padding: 60px;
	}
	.placements_training .placement_bg_img{
		height: 400px;
		top: 7%;
	}
	.placements_training .placements_training_lft .placed_count{
		margin-top: 300px;
	}
	.placements_training .placements_training_lft .placed_count div span{
		font-size: 100px;
	}
	.placements_training .placements_training_lft .placed_count div h2{
		font-size: 22px;
	}
	.placements_training .placements_training_lft .placed_count div label{
		margin-top: 20px;
	}
	.placements_training .placements_training_lft > h2{
		margin-top: 50px;
	}
	.placements_training .placements_training_rgt{
		margin-top: 120px;
	}
	.major_fnctin .tic_list li{
		width: 100%;
	}
	.major_fnctin h2{
		margin-bottom: 30px;
	}
	.major_fnctin{
		padding: 50px 0 !important;
	}
	.major_fnctin .tic_list li{
		font-size: 14px;
	}
	.placements_training{
		padding-bottom: 0 !important;
	}
	.career_page .about_rank .about_bg_img{
		height: 65%;
	}
	.career_page .about_rank .about_rank_left > span{
		font-size: 60px !important;
	}
	.career_page .about_rank .about_rank_left p{
		font-size: 16px !important;
	}
	.career_page .about_rank .about_rank_left p span{
		font-size: 12px;
	}
	.career_page .about_rank .about_rank_left .btn_web{
		margin-top: 30px;
	}
	.career_page .about_rank .about_rank_left{
		padding: 30px 15px;
		top: 100px;
	}
	.career_page .about_rank{
		margin-bottom: 50px;
	}
	.career_page .about_main_sub .why_chos_us .row .col-sm-4{
		float: left;
		width: 100%;
	}
	.career_page .about_main_sub .why_chos_us{
		margin-top: 20px;
	}
	.career_page .about_main_sub .why_chos_us .row .col-sm-4{
		margin-bottom: 20px;
	}
	.recr_tab .course-tab-contain .tab-menu ul{
		text-align: center;
		li{
			display: inline-block;
			float: none;
			
		}
	}
	.car_modal.web-modal .modal-dialog{
		width: 96%;
	}
	.car_modal.web-modal form.webform .form-group{
		margin-top: 20px;
	}
	.resource_inner .hostl_facility .col-sm-6.principal_sec_lft{
		width: 100%;
		margin-bottom: 30px;
	}
	.principal_sec .principal_sec_rgt .title_line{
		font-size: 16px !important;
		&:after{
			bottom: 10px !important
		}
	}
	.principal_sec .hostl_facility .principal_sec_lft .hostel_rgt_img{
		width: 280px;
		float: none !important;
		margin: 0 auto;
	}
	.resource_inner .hostl_facility .col-sm-6.principal_sec_rgt{
		float: left;
	}
	.gallery_page .gallery_sec ul li{
		width: 47%;
	}
	
	.gallery_page .gallery_sec ul li:last-child .virtual_tour .ply-btn{
		display: block;
		margin: 0 auto;
	}
	.gallery_page .gallery_sec ul li:last-child .virtual_tour .virtual_title{

	}
  .responsibilities_sec h1{
	font-size: 20px !important;
  }
  .responsibilities_sec > div ul li{
	padding-left: 30px;
  }
  .responsibilities_sec > div ul li:after{
	left: 0;
  }
  .responsibilities_sec > div ul li{
	margin-top: 10px;
	line-height: 2;
  }
  .responsibilities_sec > div h3{
	margin-bottom: 15px;
  }
}

@media(max-width: 600px) {
	.resource_inner .hostl_facility{
		.row{
		    display: -webkit-box;
		    display: -moz-box;
		    display: -ms-flexbox;
		    display: -webkit-flex;
		    display: flex;
		    -webkit-box-orient: vertical;
		    -moz-box-orient: vertical;
		    -webkit-flex-direction: column;
		    -ms-flex-direction: column;
		    flex-direction: column;
		    /* optional */
		    -webkit-box-align: start;
		    -moz-box-align: start;
		    -ms-flex-align: start;
		    -webkit-align-items: flex-start;
		    align-items: flex-start;
		}
}
	.resource_inner .hostl_facility .rigt_aln{
		width: 100%;
			-webkit-box-ordinal-group: 2;
	    -moz-box-ordinal-group: 2;
	    -ms-flex-order: 2;
	    -webkit-order: 2;
	    order: 2;
	}
	.resource_inner table tr{
		height: auto;
		&:last-child{
			border-bottom: 1px solid #000;
		}
	}
	.resource_inner table tr td{
		width: 100%;
		display: block;
		border-bottom: none;
		&:nth-of-type(1){
			border-bottom: none;
			font-weight: 600;
		}
	}
	.resource_inner .bus_rout table tr td{
		font-weight: 300;
		width: 100%;
		float: none;
		display: block;
	}
	.hostl_sec2 .col-sm-5 {
    	float: none;
    	width: 100%;
	}
	.resource_inner .hostl_sec3 .hostl_sec3_hlth .hostl_sec3_hlth_box{
		width: 100%;
	}

/*	.resource_inner table tr td:first-child{
		display: none;
	}
	.resource_inner table tr td{
		position: relative;
	}
	.resource_inner table tr td:after{
		content: "sss";
		position: absolute;
		left: 0;
		top: 0;
	}*/

  .content-only table tr {
	height: auto;
  }


}

@media(max-width: 479px) {
	.content-only h2 {
	  font-size: 20px !important;
	  &:after{
		display: none;
	  }
	}
	.subscriber_box{
	  width: 100%;
	}
	.ranking .ranking-left .it-hub{
		width: 100%;
	}
	.ranking-right .ranking_right_inner{	
		width: 100%;
	}	
	.infra_sec .col-sm-8 .great_infra .col-sm-4	{
		width: 50%;
	}
	.infra_sec .col-sm-4.infra_sec_left .review_bx{
		width: 100%;
	}
	.news_events .news_events_left .col-sm-6{
		width: 100%;
	}
	.news_events .news_events_rgt .news_events_box{
		width: 100%;
	}
	.news_events .news_events_left .news_events_box .news_events_box_top_img{
		width: 100%;
	}
	.news_events .news_events_left .news_events_box .news_events_box_top_content{
		width: 100%;
		padding-left: 0;
	}
	.news_events .news_events_left .news_events_box .news_events_box_top_content h3{
		font-size: 18px;
		height: 60px;
	}
	.news_events .news_events_left .col-sm-6 .news_events_box_btm_content h3{
		margin: 15px 0 !important;
	}
	.news_events .news_events_left .col-sm-6 .news_events_box{
		min-height: auto;
	}
	.news_events .news_events_left .col-sm-6 .news_events_box_btm_content p{
		height: 188px !important;
	}
	footer .footer_sec .footer_sec_top .col-sm-9 ul li a i{
		display: none;
	}
	footer .footer_sec .footer_sec_top .col-sm-9 ul li a{
		font-size: 11px;
	}
	.infra_sec .col-sm-4.infra_sec_left{
		padding-right: 15px;
	}
	.about_main .about_rank .about_rank_left{
		width: 100%;
	}
	.about_main .about_rank .about_bg_img{
	    background-position: 30% center;
	}
	.board_navslide{
		display: none;
	}
	.placements_training .placement_bg_img{
		top: 9%;
	}
	.placements_training .placements_training_lft .placed_count div h2{
		font-size: 17px;
	}
	.placements_training .placements_training_lft .placed_count div{
		padding: 40px;
	}
	.placements_training .placements_training_rgt{
		margin-top: 80px;
	}
	.career_page .about_rank .about_rank_left p{
		font-size: 14px !important;
	}
	.directr_msg .directr_msg_content h2{
		font-size: 20px !important;
		&:after{
			bottom: 10px !important;
		}
	}
	.resource_inner .hostl_sec4 h3{
		font-size: 22px !important;
	}
	.resource_inner .hostl_sec3 .hostl_sec3_hlth .hostl_sec3_hlth_box{
		padding: 30px 15px;
		p{
		
		}
	}
	.resource_inner .hostl_sec3 .hostl_sec3_hlth .hostl_sec3_hlth_box .title_line{
		margin-bottom: 15px;
	}
	.gallery_page .gallery_sec ul li{
		width: 100%;
	}
	.gallery_page .gallery_sec ul li img{
		width: 100%;
	}
	.ach_sec .col-sm-3{
		width: 100%;
	}

	footer .footer_sec {
	  padding: 30px 0 15px;
	}
	footer .footer_sec .footer_sec_btm .col-sm-3 .footr_social li{
	  margin-left: 10px;
	}
	footer .footer_sec .footer_sec_btm .col-sm-9 {
	  margin-bottom: 20px;
	}
	footer .footer_sec .footer_sec_btm{
	  padding-top: 15px;
	  margin-top: 20px;
	}
}
@media(max-width: 359px) {
	.about_main .about_rank .about_rank_left > span{
	    font-size: 60px;
	}
	.about_main .about_rank .about_rank_left > span sup{
		font-size: 40px;	
	}
	.about_main .about_rank .about_rank_left > span label{
		right: 0;
	    bottom: 10px;
	    padding: 3px;
	    font-size: 14px;
	}
	.about_main .about_rank .about_rank_left p{
	    font-size: 20px;
	}
	.subscriber_box p{
		font-size: 14px;
	}
	.placements_training .placements_training_rgt{
		margin-top: 120px;
	}
	.nws_evnts_inner .events_container .nws_evnts_box .evnts_bx_btm ul{
		float: left;
	}
	.nws_evnts_inner .events_container .nws_evnts_box p{
		margin-bottom: 0;
	}
	.placements_training_rgt .inner_sub_hd{
		font-size: 23px !important;
	}
	.principal_sec .hostl_facility .principal_sec_lft .hostel_rgt_img{
		width: 250px;
	}
	.resource_inner .hostl_facility .col-sm-6.principal_sec_rgt div h1{
		font-size: 19px;
	}
}
@media(max-width: 459px) {
	.infra_sec .col-sm-8 .great_infra .col-sm-4 > div{
		padding: 15px 0;
	}
	.news_events .news_events_left .col-sm-6{
		padding-right: 0;
	}
	.news_events .news_events_left .col-sm-6:nth-of-type(3){
		padding-left: 0;
		margin-bottom: 15px;
	}
	.news_events .news_events_left .col-sm-6{
		margin-bottom: 0;
	}
	.news_events .news_events_rgt .news_events_box{
		margin-bottom: 15px;
	}

}