@media (min-width: 1572px) {
  .container2 {
    width: 1570px !important;
  }
}
@media (max-width: 1572px) {
  width: 1410px;
}
@media (min-width: 1440px) {
  .container {
    width: 1410px;
  }
}
@media (max-width: 1440px) {
  .news_events .news_events_left .news_events_box .news_events_box_top_content h3 {
    margin: 12px 0 12px;
  }
  .news_events .news_events_left .news_events_box .news_events_box_top_content p {
    height: 76px;
  }
  .news_events .news_events_left .col-sm-6 .news_events_box_btm_content p {
    height: 276px !important;
  }
  .news_events .news_events_rgt .news_events_box .news_fb_bx .fb_link {
    word-wrap: break-word;
  }
  .news_events .news_events_left .col-sm-6 .news_events_box_btm_content h3 {
    margin: 40px 0 !important;
  }
  .news_events .news_events_rgt .news_events_box .news_fb_bx p {
    margin: 18px 0 20px;
  }
  .news_events .news_events_left .news_events_box {
    padding: 22px 15px;
  }
  .infra_sec .col-sm-8 .great_infra .col-sm-4 > div {
    padding: 30px 16px;
  }
  .about_main .about_rank .about_rank_left {
    padding: 100px 40px 80px 40px;
  }
  footer .footer_sec .footer_sec_btm .col-sm-3 p a:last-of-type {
    margin-left: 0px;
  }
  .ranking-left {
    width: 50%;
  }
  .ranking-right {
    width: 50%;
  }
  .ranking-right .ranking_right_inner {
    float: right;
  }
  .it-hub {
    right: -100px;
  }
}
/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1439px) {
  .container {
    width: 1170px;
  }
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .a {
    display: none;
  }
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .a {
    display: none;
  }
}
