@media (min-width: 1920px) {
  .res_course-wrap .img-contain img {
    position: absolute;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    min-width: 100%;
    height: auto;
  }
}
@media (min-width: 1572px) {
  .container2 {
    width: 1570px !important;
  }
}
@media (max-width: 1572px) {
    width: 1410px;
}
@media (min-width: 1440px) {
  .container {
    width: 1410px;
  }
}

@media only screen and (max-width: 1440px) {
  .responsibilities_sec {
    padding: 70px 0;
  }
  section.inner {
    padding: 70px 0;
  }
  .gallery_page{
    padding: 70px 0;
  }

  /*header*/
  .main-menu-nav .container > ul > li .search-menu{
    width: 80px;
    height: 56px;
  }
  .main-menu-nav .container > ul > li .search-menu a{
    padding: 0 30px;
  }
  .main-menu-nav .container > ul > li.menu-dropdown a{
    padding-right: 20px;
    margin-right: -20px;
  }
  .main-menu-nav{
    height: 56px;
  }
  .main-menu-nav .container > ul > li a{
    line-height: 4;
    font-size: 13px;
  }
  .headnews-scroller{
    height: 40px;
  }
  .headnews-scroller span{
    min-width: 110px;
    padding: 6px 0;
    font-size: 13px;
  }
  .headnews-scroller .news-wrapper{
    height: 40px;
  }
  .headnews-scroller ul li p{
    font-size: 13px;
  }
  .headnews-scroller ul li{
    padding: 6px 20px;
    padding-left: 35px;
  }

  .menu-logo .container > div a{
    margin-left: 40px;
  }
  .menu-logo .container .header-contact span{
    font-size: 16px;
  }
  .menu-logo .container .header-logo {
    width: 520px;
    padding-bottom: 0;
  }
  .menu-logo .container > div{
    width: ~"calc(100% - 525px)";
  }
  .menu-logo {
    height: 110px;
  }
  .menu-top .top-menu-inner a{
    line-height: 3;
  }
  .banner-content .container > div .banner-right{
    width: 350px;
  }
  .banner-content .container > div .banner-right .event-slider-wrap p{
    line-height: 1.8;
    height: 80px;
  }
  .banner-content .container > div .banner-right .event-slider-wrap{
    padding: 15px;
    margin-top: 15px;
  }
  .banner-content .container > div .banner-left .banner-boxcontent .row > div{
    padding: 0 7.5px;
  }
  .banner-content .container > div .banner-left .banner-boxcontent .row {
    margin-left: -7.5px;
    margin-right: -7.5px;
  }
  .banner-content .container > div .banner-left{
    padding-right: 15px;
    width: ~"calc(100% - 355px)";
  }
  .banner-content .container > div .banner-left .h1{
    font-size: 30px;
  }
  .home-banner {
    min-height: 470px;
    height: ~"calc(100vh - 202px)";
  }
  .main-menu-nav .container > ul > li.menu-dropdown .drop-menu_wrap{
    top: 56px;
  }
  .main-menu-nav .container > ul > li.menu-dropdown .drop-menu_wrap{
    min-width: 280px;
  }
  .main-menu-nav .container > ul > li.menu-dropdown.fullwidmenu .dropmenu_link-wrap.push-left{
    padding-left: 40px;
  }
  .main-menu-nav .container > ul > li.menu-dropdown.fullwidmenu .dropmenu_link-wrap.push-left li{
    width: 185px;
  }
  
  /*banner*/
  .achieve_sec .achieve_top .number-block .block_item label{
    float: none;
    font-size: 30px;
  }
  .achieve_sec .achieve_top .number-block .block_item h3{
    min-height: 64px;
    margin-top: 10px;
  }
  .achieve_sec .achieve_top .number-block{
    padding-right: 60px;
  }
  .achieve_sec .achieve_top .number-block .block_item {
    width: 28%;
    margin-right: 8%;
  }
  .achieve_sec .achieve_bottom {
    margin-top: 70px;
  }
  .achieve_sec .achieve_bottom > div{
    margin-right: 6%;
  }
  .achieve_sec .achieve_bottom > div.ach_vision{
    width: 24%;
  }
  .achieve_sec .achieve_bottom > div.ach_slide-wrap .achieve-slider{
    padding: 30px 25px 55px;
    margin-bottom: 20px;
  }
  .achieve_sec .achieve_bottom > div.ach_slide-wrap .ach_lifeat{
    padding: 50px 40px;
  }
  .achieve_sec .achieve_bottom > div.ach_moments h2{
    font-size: 24px;
    margin: 25px 0 15px;
  }
  .achieve_sec .achieve_bottom > div.ach_moments {
    width: 30%;
  }
  .achieve_sec .achieve_bottom > div.ach_slide-wrap {
    width: 34%;
  }
  .studies_sec .study_ug, .studies_sec .study_pg {
    margin-top: 70px;
  }
  .studies_sec h3{
    font-size: 26px;
  }
  .studies_sec p{
    font-size: 16px;
  }
  .studies_sec .course-box{
    margin-top: 40px;
  }


  /*** Resources page ***/
  .res_intro h1{
    font-size: 40px;
  }
  .res_course-wrap .text-contain > div h2{
    font-size: 30px;
    padding-bottom: 15px;
    margin-bottom: 30px;
  }
  .res_course-wrap .text-contain > div p{
    margin-top: 30px;
  }
  .res_course-wrap > div{
    height: 600px;
  }



  .news_events .news_events_left .news_events_box .news_events_box_top_content h3{
    margin: 12px 0 12px;
  }
  .news_events .news_events_left .news_events_box .news_events_box_top_content p{
    height: 76px;
  }
  .news_events .news_events_left .col-sm-6 .news_events_box_btm_content p{
    height: 276px !important;
  }
  .news_events .news_events_rgt .news_events_box .news_fb_bx .fb_link{
    word-wrap: break-word;
  }
  .news_events .news_events_left .col-sm-6 .news_events_box_btm_content h3{
    margin: 40px 0 !important;
  }
  .news_events .news_events_rgt .news_events_box .news_fb_bx p{
    margin: 18px 0 20px;
  }
  .news_events .news_events_left .news_events_box{
    padding: 22px 15px;
  }
  .infra_sec .col-sm-8 .great_infra .col-sm-4 > div{
    padding: 30px 16px;
  }
  .infra_sec .col-sm-8 .great_infra .col-sm-4:last-child > div{
   // padding: 27px 0;
  }
  .about_main .about_rank .about_rank_left{
    padding: 100px 40px 80px 40px;
  }
  footer .footer_sec .footer_sec_btm .col-sm-3 p a:last-of-type{
    margin-left: 0px;
  }
  .ranking-left{
    width: 50%;
  }
  .ranking-right{
    width: 50%;
    .ranking_right_inner{
      float: right;
    }
  }
  .it-hub{
    right: -100px;
  }


  .dept_common .inner_sub_hd + p {
    margin-bottom: 50px;
  }
  .clg_range .container .clg_range_box > div h2{
    font-size: 60px;
  }
  .inner_sub_hd{
    font-size: 24px;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .dept_common .inner_sub_hd + p {
    margin-bottom: 30px;
  }
  .dept_common .common_box_wrap .row .common_lifeat h3{
    font-size: 24px;
  }
  .dept_common .common_box_wrap .row .common_virtual h3{
    font-size: 30px;
  }
  .dept_common .common_box_wrap .row .common_virtual .ply-btn {
    width: 70px;
    height: 70px;
  }
  .dept_common .common_box_wrap .row .common_virtual span:after {
    border-top: 10px solid transparent;
    border-left: 16px solid #ffffff;
    border-bottom: 10px solid transparent;
  }
  .dept_common .common_box_wrap .row .common_virtual{
    padding: 61.5px 0;
  }
  .dept_common .common_box_wrap .row .common_lifeat{
    padding: 50px 0;
  }
  .ach-wrap-content .grid-layout {
    margin-left: -12px;
    margin-right: -12px;
  }
  .ach-wrap-content .grid-layout .grid-item {
    margin-top: 24px;
    padding: 0 12px;
  }


  /****** Achievements ******/

  .dept_intro h1{
    font-size: 30px;
    margin-bottom: 25px;
  }
  .dept_intro p{
    font-size: 16px;
  }

  /******* Admissions *******/
  .admis_intro p{
    margin-bottom: 30px;
  }
  .admis_intro h3{
    padding-bottom: 15px;
    margin-bottom: 25px;
  }
  .admis_intro h1{
    font-size: 30px;
    margin: 20px 0 30px;
  }
  .admis_steps_wrap .admis_steps_intro h2{
    font-size: 30px;
    margin-bottom: 30px;
  }
  .admis_steps_wrap .admis_steps{
    margin-top: 40px;
  }
  .admis_steps_wrap .admis_steps span{
    font-size: 48px;
  }
  .admis_steps_wrap .admis_steps h3, .admis_steps_wrap .admis_steps h4{
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .admis_steps_wrap .admis_steps p{
    margin-bottom: 30px;
  }
  .admis_steps_wrap .admis_steps h4 {
    margin-top: 30px;
    margin-bottom: 0;
  }
  .admis_steps_wrap .admis_steps table {
    margin-bottom: 40px;
  }


  /******** Life@saec **********/

  .campuslife-intro .text-wrapper{
    height: 150px;
  }
  .campuslife-intro .camp-txtslider li{
    font-size: 120px;
  }
  .campuslife-intro h1{
    margin: 30px 0;
  }
  .camp-virt-tour .campvirt-video{
    height: 540px;
  }
  .camp-virt-tour .campvirt-text{
    padding: 50px;
    width: 420px;
  }
  .camp-virt-tour .campvirt-text span{
    font-size: 120px;
  }
  .camp-virt-tour .campvirt-text h3{
    font-size: 24px;
    margin-top: 10px;
  }
  .camp-virt-tour .campvirt-video:before,
  .camp-virt-tour .campvirt-video:after{
    width: 250px;
  }
  .camp-virt-tour .video_play_wrap .ply-btn{
    width: 80px;
    height: 80px;
  }
  .campus_activtis .col-sm-4 span {
    height: 60px;
    width: 60px;
  }
  .campus_activtis .col-sm-4 h2{
    margin: 10px 0 15px;
    font-size: 24px;
  }
  .campus_activtis .col-sm-4{
    margin-bottom: 50px;
  }


  /**** Apply now *****/
  .applynow-wrap .tab-menu {
    margin-top: 35px;
  }
  .applynow-wrap .tab-menu li{
    height: 120px;
  }
  .applynow-wrap .tab-menu li a > div span{
    font-size: 36px;
  }
  .applynow-wrap .tab-content-wrap{
    padding: 50px 0;
  }

  /***** Departments ******/
  .dept_number .dept_number-img .overbox > div{
    padding: 70px 70px;
  }
  .dept_number .dept_number-img .overbox span{
    font-size: 150px;
  }
  .dept_number .dept_number-img .overbox h2{
    font-size: 24px;
    margin-bottom: 20px;
  }
  .dept_number .dept_number-img .overbox{
    width: 450px;
  }
  .dept_number .dept_number-img{
    height: 550px;
  }
  .dept_number .dept_number-img .underimg{
    width: 70%;
  }
  .dept_number .dept_number-img .underimg img{
    height: 100%;
  }


  /******** Departments *********/
  .dept_courses > div{
    margin-top: 0;
  }
  .dept_courses h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .dept_courses .course-box{
    padding: 0 20px;
    height: 150px;
  }
  .dept_courses > div > div{
    margin-bottom: 80px;
  }


  /********** Departments inner ***********/
  .courses_banner{
    height: 450px;
    &:after{
      border-bottom: 140px solid #f8f8f8;
    }
  }
  .courses_banner .course_title{
    height: 300px;
    padding: 0 50px;
    bottom: 25px;
  }
  .courses_banner .course_title h1{
    font-size: 30px;
  }
  .course-tab-contain{
    padding-top: 50px;
  }
  .course-tab-contain .tab-menu ul{
    margin-top: 10px;
  }
  .course-tab-contain .tab-menu ul li{
    margin-right: 50px;
  }
  .course-tab-contain .tab-menu ul li a{
    font-size: 16px;
    padding: 10px 0;
  }
  .course-tab-contain .tab-content-wrap {
    margin-top: 30px;
  }
  .course-tab-contain .tab-content-wrap .tab-content > div {
    margin-bottom: 50px;
  }
  .course-tab-contain .tab-content-wrap .tab-content .course_feature{
    margin-top: 50px;
  }
  .course-tab-contain .tab-content-wrap .tab-content .course_feature .feat-box > div p{
    font-size: 16px;
  }
  .course-tab-contain .tab-content-wrap .tab-content > div .tic_list li{
    margin-top: 20px;
  }
  .external_links.course_ext-links {
    padding: 50px 0;
  }
  .course-tab-contain .tab-content-wrap .tab-content{
    padding-bottom: 50px;
  }
  .external_links.course_ext-links .share_icons li{
    width: 28%;
    margin-right: 8%;
    margin-top: 30px;
    a{
      font-size: 16px;
    }
    &:nth-of-type(4n) {
      margin-right: 8%;
    }
    &:nth-of-type(3n) {
      margin-right: 0;
    }
    &:nth-of-type(4n+1) {
      clear: none;
    }
    &:nth-of-type(3n+1) {
      clear: both;
    }
    &:nth-of-type(4){
      margin-top: 30px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  header{
    padding-bottom: 70px;
    position: relative;
  }
  .main-menu-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    &.sticky-head {
      position: fixed;
      bottom: auto;
      top: -70px;
      z-index: 10;
      .transition();
      &.show{
        top: 0;
      }
    }
  }
}

/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1439px){
  .container {
    width: 1170px;
  }
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }
}

@media only screen and (max-width: 1199px) {
  .banner-content .container > div .banner-right,header .menu-top, .menu-logo .container > div:not(.hammenu-wrap),.headnews-scroller{
    display: none;
  }
  .main-menu-nav .container > ul > li.mobilemenu{
    display: inline-block !important;
  }
  .main-menu-nav .container > ul > li.menu-dropdown.fullwidmenu .dropmenu_link-wrap.push-left li{
    width: 100%;
    max-width: 100%;
  }
  #wrapper{
    margin-top: 100px;
  }
  .main-menu-nav .container > ul > li.menu-dropdown.fullwidmenu .dropmenu_link-wrap .dropmenu_links ul{
    margin-bottom: 0;
    &:after{
      display: none;
    }
  }
  header{
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
    background: #ffffff;
  }
  .menu-logo{
    border-bottom: 1px solid #dddddd;
  }
  .main-menu-nav{
    position: fixed;
    width: 100%;
    height: ~"calc(100vh - 100px)";
    top: 100px;
    left: 0;
    //.transition(opacity,0.5s,ease);
    .transition(all,0.3s,ease);
    pointer-events: none;
    background: transparent;
    //&.menu-opened-state{
    //  left: -100%;
    //}
    > .container{
      display: table;
      height: 100%;
      width: 100%;
      > ul{
        display: table-cell;
        vertical-align: middle;
        &:after{
          display: none;
        }
        > li {
          position: static;
          display: inline-block;
          vertical-align: middle;
          width: 100%;
          text-align: center;
          .transition();
          opacity: 0;
          &:last-of-type{
            opacity: 1;
          }
          .search-menu{
            position: fixed;
            top: 20px;
            right: ~"calc(((100% - 970px) / 2) + 60px)";
            pointer-events: all;
            width: 55px;
            background: transparent;
            a{
              padding: 0 17px;
            }
          }
          a{
            line-height: 2.5;
            font-size: 24px;
            &:after{
              .rotate(-45deg) !important;
              top: ~"calc(50% - 3px)";
            }
          }
        }
      }
      .search-container{
        pointer-events: all;
        top: 100px;
        z-index: 102;
        padding: 10px 0;
        left: 0;
        .translate(0,0) !important;
        position: fixed;
      }
      >ul >li.menu-dropdown{
        position: static;
        cursor: pointer;
        a{
          pointer-events: none;
        }
        .drop-menu_wrap {
          position: fixed;
          width: 100% !important;
          height: ~"calc(100vh - 100px)";
          z-index: 99;
          top: 100px;
          left: auto !important;
          right: -100%;
          opacity: 1 !important;
          pointer-events: all;
          overflow: auto;
          .translate(0,0) !important;
          .transition() !important;
          background: #002e4b;
          &.menu-opened-state{
            right: 0;
            .back-button-link{
              opacity: 1;
              pointer-events: all !important;
            }
          }
          > div{
            margin-top: 30px;
          }
          ul li{
            &:before{
              display: none;
            }
            text-align: left;
            a{
              font-size: 20px;
              color: #ffffff;
              pointer-events: all !important;
            }
          }

          .dropmenu_intro{
            display: none;
          }
        }
        &.fullwidmenu{
          .drop-menu_wrap{
            padding: 30px !important;
            .dropmenu_link-wrap{
              width: 100%;
              &.push-left{
                padding-left: 0;
              }
              .dropmenu_links{
                width: 100%;
                padding: 0 !important;
                h3{
                  color: @bd943c;
                  .translate(0,0) !important;
                  opacity: 1 !important;
                  font-size: 22px;
                  padding-bottom: 15px;
                  margin-bottom: 15px;
                }
                ul{
                  li{
                    .translate(0,0) !important;
                    opacity: 1 !important;
                    width: 100%;
                    margin: 0;
                    line-height: 2;
                    padding-left: 0;
                    min-height: 0;
                    margin-bottom: 5px;
                    &:last-of-type{
                      margin-bottom: 30px;
                    }
                    a{
                      font-size: 20px;
                      line-height: 1.45;
                      color: #ffffff;
                    }
                  }
                }
                &:last-of-type ul li:last-of-type{
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
    &.menu-open{
      overflow: auto;
      overflow-x: hidden;
      z-index: 100;
      pointer-events: all;
      background: @002e4b;
      .mobilemenu{
        display: block !important;
      }
      .container > ul > li{
        opacity: 1 !important;
        &.mobilemenu{
          display: block !important;
          pointer-events: all !important;
        }
        //-webkit-transition-delay: 0.3s;
        //-moz-transition-delay: 0.3s;
        //-ms-transition-delay: 0.3s;
        //-o-transition-delay: 0.3s;
        //transition-delay: 0.3s;
      }
    }
  }

  .main-menu-nav .container > ul > li .search-menu svg {
    fill: @002e4b;
  }

  .banner-content .container > div .banner-left{
    width: 100%;
  }
  .headnews-scroller{
    border-top: 1px solid #ebeced;
    border-bottom: 1px solid #ebeced;
  }
  .home-banner {
    min-height: 400px;
    height: ~"calc(100vh - 100px)";
  }
  .banner-content .container > div{
    padding-bottom: 40px;
  }
  .menu-logo {
    height: 100px;
  }
  .menu-logo .container .header-logo{
    width: 495px;
  }
  .menu-logo .container > div {
    width: ~"calc(100% - 500px)";
  }
  .hammenu-wrap {
    display: inline-block !important;
  }



  .achieve_sec .achieve_top .number-block .block_item label{
    font-size: 26px;
  }
  .achieve_sec .achieve_top .number-block .block_item h3{
    font-size: 16px;
    line-height: 1.6;
    min-height: 50px;
  }
  .achieve_sec .achieve_top .number-block .block_item p{
    line-height: 1.8;
  }
  .achieve_sec .achieve_top .more-block{
    height: 150px;
    width: 170px;
  }
  .achieve_sec .achieve_top .number-block{
    width: ~"calc(100% - 175px)";
    padding-right: 30px;
  }
  .achieve_sec .achieve_top .more-block h3{
    font-size: 16px;
  }
  .achieve_sec .achieve_bottom > div.ach_vision p{
    padding-right: 0;
  }
  .achieve_sec .achieve_bottom > div.ach_vision a {
    width: auto;
  }
  .achieve_sec .achieve_bottom > div.ach_moments h2{
    font-size: 20px;
  }
  .achieve_sec .achieve_bottom > div.ach_moments h3{
    font-size: 16px;
  }
  .achieve_sec .achieve_bottom > div.ach_moments label.desc{
    margin-bottom: 10px;
  }
  .achieve_sec .achieve_bottom > div.ach_moments p{
    margin-bottom: 25px;
  }
  .achieve_sec .achieve_bottom > div.ach_slide-wrap .ach_lifeat h2{
    font-size: 24px;
  }
  .achieve_sec .achieve_bottom > div.ach_vision p{
    margin: 30px 0;
  }
  .achieve_sec .achieve_bottom {
    margin-top: 55px;
  }
  .achieve_sec .achieve_bottom > div.ach_vision{
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }
  .achieve_sec .achieve_bottom > div.ach_moments{
    width: 44%;
  }
  .achieve_sec .achieve_bottom > div.ach_slide-wrap {
    width: 50%;
  }



  .studies_sec .course-box{
    width: 30%;
    margin-right: 5%;
    &:nth-of-type(4n){
      margin-right: 5%;
    }
    &:nth-of-type(3n){
      margin-right: 0;
    }
    margin-top: 30px;
    &:nth-of-type(4){
      margin-top: 30px;
    }
  }
  .studies_sec h3 {
    font-size: 24px;
  }
  .studies_sec .course-box span{
    width: 60px;
    height: 40px;
  }
  .studies_sec .course-box p{
    padding-left: 70px;
  }


  /**** Resources page ****/
  section.inner {
    padding: 50px 0;
  }
  .responsibilities_sec {
    padding: 50px 0;
  }
  .res_intro h1 {
    font-size: 36px;
  }
  .res_course-wrap .text-contain{
    padding-right: 50px;
  }
  .res_course-wrap > div:nth-of-type(2n+1) .text-contain{
    padding-left: 50px;
  }
  .res_course-wrap .text-contain > div h2{
    font-size: 24px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  .res_course-wrap .text-contain > div p{
    margin-top: 20px;
  }
  .res_course-wrap .text-contain > div a{
    margin-top: 25px;
  }
  .res_course-wrap .text-contain > div a{
    min-width: 180px;
  }
  .res_course-wrap > div {
    height: 520px;
  }
  .res_course-wrap .text-contain > div p{
    font-size: 14px;
    line-height: 2.5;
  }

  /****** Achievements ******/

  .dept_intro h1{
    font-size: 24px;
    margin-bottom: 25px;
  }
  .ach-wrap-content .grid-layout .grid-item > div{
    padding: 25px;
  }
  .ach-wrap-content .grid-layout .grid-item .img-contain{
    height: 60px;
    margin-bottom: 20px;
  }
  .ach-wrap-content .grid-layout .grid-item h3{
    font-size: 20px;
    margin-bottom: 10px;
  }
  .ach-wrap-content .grid-layout .grid-item:nth-of-type(3){
    margin-top: 24px;
  }
  .ach-wrap-content .grid-layout {
    margin-left: -10px;
    margin-right: -10px;
  }
  .ach-wrap-content .grid-layout .grid-item {
    margin-top: 20px;
    padding: 0 10px;
  }

  /******************** Admissions **********************/

  .admis_intro .img-contain img{
    height: 100%;
  }
  .admis_intro p{
    font-size: 16px;
  }
  .admis_steps_wrap .admis_steps.step02 table td, .admis_steps_wrap .admis_steps.step02 table th{
    padding: 15px 25px;
  }
  .admis_steps_wrap .admis_steps table label{
    min-width: 20px;
  }
  .admis_steps_wrap .admis_steps table thead th{
    font-size: 16px;
  }

  .external_links.admis_extlinks ul{
    width: 100%;
    display: inline-block;
  }
  .external_links.admis_extlinks label{
    clear: both;
  }
  .external_links.admis_extlinks a.btn_web{
    margin-bottom: 20px;
  }


  /******** Life@saec **********/

  .campuslife-intro .text-wrapper{
    height: 125px;
  }
  .campuslife-intro .camp-txtslider li{
    font-size: 100px;
  }
  .campuslife-intro h1{
    font-size: 24px;
  }
  .camp-virt-tour .campvirt-video{
    height: 450px;
  }
  .camp-virt-tour .campvirt-text {
    padding: 30px;
    width: 320px;
  }
  .camp-virt-tour .campvirt-text span{
    font-size: 96px;
  }
  .camp-virt-tour .campvirt-text a {
    margin-top: 30px;
    min-width: 180px;
  }
  .camp-virt-tour .campvirt-video:before,
  .camp-virt-tour .campvirt-video:after{
    width: 200px;
    height: 80px;
  }
  .camp-virt-tour .video_play_wrap h3{
    font-size: 24px;
  }
  .camp-virt-tour .video_play_wrap .ply-btn {
    width: 60px;
    height: 60px;
  }
  .camp-virt-tour .video_play_wrap span:after {
    border-top: 8px solid transparent;
    border-left: 14px solid #ffffff;
    border-bottom: 8px solid transparent;
  }
  .campus_activtis .col-sm-4 h2{
    margin: 15px 0;
    font-size: 20px;
  }
  .campus_activtis .col-sm-4 p{
    line-height: 2.4;
    font-size: 14px;
  }
  .campus_activtis .col-sm-4{
    margin-bottom: 30px;
  }
  .external_links_outer {
    padding: 50px 0;
  }

  .applynow-wrap h1{
    font-size: 30px;
  }
  .applynow-wrap .tab-menu{
    margin-top: 30px;
  }
  .applynow-wrap .tab-menu li {
    height: 100px;
  }
  .applynow-wrap .tab-menu li a > div span {
    font-size: 30px;
  }
  .applynow-wrap .tab-menu li a > div span:after{
    height: 30px;
    right: -20px;
  }
  .applynow-wrap .tab-menu li a > div h3{
    font-size: 16px;
  }
  .applynow-wrap .tab-menu li a .progress,
  .applynow-wrap .tab-menu li.active:after{
    height: 4px;
  }
  .applynow-wrap .tab-content-wrap .tab-content .academic-content .academic-intro{
    padding: 0 25px;
    margin-bottom: 50px;
  }
  .applynow-wrap .tab-content-wrap .tab-content .academic-content .academic-table .acadtab-head{
    padding: 20px 0;
  }
  .applynow-wrap .tab-content-wrap .tab-content .academic-content .academic-table .acadtab-head h3{
    font-size: 16px;
  }
  .applynow-wrap .tab-content-wrap .tab-content .academic-content .academic-table table tr td:first-of-type, .applynow-wrap .tab-content-wrap .tab-content .academic-content .academic-table table tr th:first-of-type{
    padding-left: 20px;
  }
  .applynow-wrap .tab-content-wrap .tab-content .academic-content .academic-table table tr td:last-of-type, .applynow-wrap .tab-content-wrap .tab-content .academic-content .academic-table table tr th:last-of-type {
    padding-right: 25px;
  }
  .applynow-wrap .tab-content-wrap .tab-content .academic-content .academic-table table input{
    height: 48px;
  }
  .applynow-wrap .tab-content-wrap .tab-content .academic-content .academic-table h4{
    font-size: 16px;
  }
  .applynow-wrap .tab-content-wrap .tab-content .academic-content .academic-table table tr td, .applynow-wrap .tab-content-wrap .tab-content .academic-content .academic-table table tr th{
    padding: 20px 15px;
  }

  .applynow-wrap .tab-content-wrap .tab-content .academic-content .academic-table-bottom{
    padding: 20px 25px 0;
  }

  /********* Deparments *********/
  .dept_courses h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .dept_courses .course-box span{
    height: 40px;
    width: 40px;
  }
  .dept_courses .course-box {
    padding: 0 15px;
    height: 100px;
  }
  .dept_courses .course-box p{
    width: ~"calc(100% - 45px)";
    padding-left: 20px;
    font-size: 14px;
  }
  .dept_courses .course-box .learn-more{
    right: 15px;
    bottom: 10px;
  }
  .dept_courses .course-box{
    width: 33.33%;
  }

  /***** Courses inner *****/
  .course-tab-contain .tab-menu ul{
    margin-top: 0;
    width: 100%;
  }
  .course-tab-contain .tab-menu a.btn_web{
    float: left;
    margin-bottom: 30px;
  }
  .course-tab-contain .tab-content-wrap .tab-content .course_feature{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .course-tab-contain .tab-content-wrap .tab-content > div {
    margin-bottom: 30px;
  }
  .course-tab-contain .tab-content-wrap .tab-content > div h3{
    margin-bottom: 10px;
    font-size: 16px;
  }
  .course-tab-contain .tab-content-wrap .tab-content > div h4{
    font-size: 14px;
  }
  .course-tab-contain .tab-content-wrap .tab-content .course_feature .feat-box i{
    height: 50px;
    width: 40px;
    margin-right: 15px;
  }
  .course-tab-contain .tab-content-wrap .tab-content .course_feature .feat-box > div label{
    font-size: 14px;
  }
  .gallery_page{
    padding: 50px 0;
  }

  .vtour-wrap{
    padding: 50px 0 !important;
    .thumbwrap{
      > div{
        &:nth-of-type(4){
          margin-top: 30px;
        }
        &:nth-of-type(4n+1){
          clear: none;
        }
        &:nth-of-type(3n+1){
          clear: both;
        }
      }
    }
  }
  .main-menu-nav .container > ul > li.menu-dropdown > .drop-menu_wrap ul li{
    padding-left: 0 !important;
  }
}


@media only screen and (min-width: 1024px) {
  .hammenu-wrap .hammenu:hover span:last-of-type{
    width: 30px;
  }
}


@media only screen and (max-width: 1024px) {
  .btn_web{
    color: #ffffff;
    input{
      color: #ffffff !important;
    }
    &:before{
      left: 0 !important;
      transform: none !important;
      -webkit-transform: none !important;
      -ms-transform: none !important;
      -moz-transform: none !important;
      -o-transform: none !important;
    }
  }
  .main-menu-nav .container{
    width: 100%;
  }

  .menu-logo .container{
    width: 100%;
  }
  .banner-content .container > div .banner-left .banner-boxcontent .row > div > div{
    padding: 20px 20px;
  }
  .banner-content .container > div .banner-left{
    padding-right: 0;
  }

  .achieve_sec .achieve_top .more-block{
    height: 54px;
    display: block;
    margin-top: 40px;
    h3,p{
      display: none;
    }
  }
  .achieve_sec .achieve_top .more-block > div > div{
    padding-bottom: 0;
  }
  .achieve_sec .achieve_top .number-block{
    width: 100%;
    padding-right: 0;
  }

  .main-menu-nav > .container > ul > li .search-menu{
    right: 65px;
  }


  .admis_intro .img-contain img{
    left: 65%;
  }
  .dept_courses .course-box .learn-more{
    display: none;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }
}

@media only screen and (max-width: 991px) {
  .fee-submission .feelog a.btn_web{
    margin-top: 22px;
  }
  .studies_sec .course-box span {
    width: 55px;
    height: 35px;
  }
  .studies_sec .course-box p {
    padding-left: 50px;
  }


  /****** Resources *******/

  .res_course-wrap > div{
    height: auto;
    margin-top: 25px;
    .container{
      padding-top: 25px;
      border-top: 1px solid #e4e4e4;
    }
    &:first-of-type{
      margin-top: 0;
      .container{
        padding-top: 0;
        border-top: none;
      }
    }
  }
  .res_course-wrap .text-contain > div a{
    margin-top: 15px;
  }
  .res_course-wrap .img-contain{
    position: static;
    margin-right: 50px;
    margin-bottom: 30px;
    img{
      position: static;
      .translate(0,0);
      height: auto;
      min-height: 0;
      width: 100%;
      left: 0;
    }
  }
  .res_course-wrap .text-contain{
    float: none !important;
    display: block;
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .res_course-wrap .text-contain > div{
    display: block;
  }
  .res_course-wrap .text-contain > div h2{
    display: inline-block;
    margin-bottom: 0;
  }


  /******* Admissions *******/
  .admis_intro p{
    margin-bottom: 20px;
  }
  .admis_intro h3{
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  .admis_intro h1{
    font-size: 24px;
  }
  .admis_steps_wrap .admis_steps_intro h2{
    font-size: 24px;
    margin-bottom: 20px;
  }
  .admis_steps_wrap .admis_steps{
    margin-top: 30px;
  }
  .admis_steps_wrap .admis_steps span{
    font-size: 36px;
  }
  .admis_steps_wrap .admis_steps h3, .admis_steps_wrap .admis_steps h4{
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .admis_steps_wrap .admis_steps p{
    margin-bottom: 20px;
  }
  .admis_steps_wrap .admis_steps h4 {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .admis_steps_wrap .admis_steps table {
    margin-bottom: 30px;
  }
  .admis_steps_wrap .admis_steps_intro p{
    font-size: 16px;
  }
  .admis_steps_wrap .admis_steps table td, .admis_steps_wrap .admis_steps table th{
    padding: 5px 15px;
    line-height: 2;
  }




  /******** Life@saec **********/

  .campuslife-intro .text-wrapper{
    height: 100px;
  }
  .campuslife-intro .camp-txtslider li{
    font-size: 80px;
  }
  .campuslife-intro p{
    font-size: 14px;
    line-height: 2.4;
  }
  .campus_activtis .col-sm-4 p {
    line-height: 2;
    font-size: 14px;
  }
  .campus_activtis .col-sm-4 {
    width: 30%;
    margin-right: 5%;
  }
  .campus_activtis .col-sm-4 h2 {
    font-size: 18px;
  }
  .infra_sec .col-sm-4.infra_sec_left .review_bx .review_innr p{
    font-size: 16px;
  }
  .camp-virt-tour .video_play_wrap{
    left: ~"calc(50% - 150px)";
  }

  /****** Apply now *******/
  .applynow-wrap .tab-menu li {
    height: 120px;
  }
  .applynow-wrap .tab-menu li a > div h3 {
    width: 100px;
    margin-top: 10px;
  }
  .applynow-wrap .tab-content-wrap .tab-content > div h2{
    font-size: 16px !important;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
  form.webform .form-group label:not(.error),
  form.webform .row.multiple-form-group label:not(.error){
    font-size: 14px;
    margin-bottom: 7px;
    display: block;
  }
  .applynow-wrap .tab-content-wrap .tab-content .form-input-wrap{
    padding: 0 10px;
  }
  .applynow-wrap .tab-content-wrap {
    padding: 35px 0;
  }
  .applynow-wrap form.webform .row.multiple-form-group ,
  .applynow-wrap form.webform .form-group{
    margin-top: 20px;
  }
  .applynow-wrap form.webform .row.multiple-form-group{
    margin-left: -10px;
    margin-right: -10px;
    > div,label:not(.error){
      padding: 0 10px;
    }
  }
  .applynow-wrap form.webform input[type="file"] + label:not(.error) + p{
    display: block;
    max-width: 100%;
    padding-left: 0;
    margin-top: 15px;
    line-height: 1;
  }
  .applynow-wrap form.webform .btn_web{
    width: 120px;
    min-width: 0;
  }
  .applynow-wrap .tab-content-wrap .tab-content .academic-content .academic-table table tr td, .applynow-wrap .tab-content-wrap .tab-content .academic-content .academic-table table tr th {
    padding: 15px 10px;
  }
  .applynow-wrap .tab-content-wrap .tab-content .academic-content .academic-table h4 {
    font-size: 14px;
  }
  .applynow-wrap .tab-content-wrap .tab-content .academic-content .academic-intro{
    padding: 0 15px;
  }
  .applynow-wrap .tab-content-wrap .tab-content .academic-content .academic-table table tr td:first-of-type, .applynow-wrap .tab-content-wrap .tab-content .academic-content .academic-table table tr th:first-of-type{
    padding-left: 10px;
  }
  .applynow-wrap .tab-content-wrap .tab-content .academic-content .academic-table table tr td:last-of-type, .applynow-wrap .tab-content-wrap .tab-content .academic-content .academic-table table tr th:last-of-type {
    padding-right: 15px;
  }
  .applynow-wrap .tab-content-wrap .tab-content .academic-content .academic-table .acadtab-head {
    padding: 15px 0;
  }
  .applynow-wrap .tab-content-wrap .tab-content .academic-content .academic-table .acadtab-head h3 {
    font-size: 14px;
  }
  .applynow-wrap .tab-content-wrap .tab-content .academic-content .academic-table-bottom{
    padding: 20px 15px 0;
  }
  .applynow-wrap form.webform .checkbox-group{
    margin-bottom: 13px;
  }
  .applynow-wrap .academic-table .input-wrap {
    padding: 0;
    display: inline-block;
    border-bottom: 1px solid #ebebeb;
    width: 100%;
  }
  .applynow-wrap .tab-content-wrap .tab-content .academic-content .academic-table-bottom .form-group{
    width: 200px;
  }

  .dept_number .dept_number-img .overbox > div {
    padding: 40px;
  }
  .dept_number .dept_number-img .overbox span {
    font-size: 120px;
  }
  .dept_number .dept_number-img .overbox {
    width: 350px;
  }
  .dept_number .dept_number-img .overbox h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .dept_number .dept_number-img {
    height: 420px;
  }
  .dept_courses .course-box{
    width: 50%;
  }
  .dept_courses > div > div {
    margin-bottom: 50px;
  }

  /****** Courses *******/
  .external_links.course_ext-links .share_icons li{
    width: 46%;
    margin-right: 8%;
    &:nth-of-type(3n) {
      margin-right: 8%;
    }
    &:nth-of-type(2n) {
      margin-right: 0;
    }
    &:nth-of-type(3n+1) {
      clear: none;
    }
    &:nth-of-type(2n+1) {
      clear: both;
    }
    &:nth-of-type(3){
      margin-top: 30px;
    }
  }

  .course-tab-contain .tab-menu ul li {
    margin-right: 20px;
  }
  .course-tab-contain .tab-content-wrap .tab-content .course_feature .feat-box {
    &:nth-of-type(-n+2){
      margin-top: 0;
    }
    width: 49%;
    margin-top: 30px;
  }
  .course-tab-contain .tab-content-wrap .tab-content .course_feature {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .course-tab-contain .tab-content-wrap .tab-content > p:first-of-type{
    margin-top: 0;
  }
  .courses_banner {
    height: 300px;
  }
  .courses_banner:after {
    border-bottom: 80px solid #f8f8f8;
  }
  .courses_banner .course_title {
    height: 250px;
    bottom: 0;
  }
  .vtour-wrap h4{
    font-size: 14px;
  }
}



/* Landscape phones and portrait tablets */
@media only screen and (max-width: 767px) {
  .a{
    display: none;
  }
  .banner-content .container > div .banner-left .banner-boxcontent{
    display: none;
  }
  .banner-content .container > div .banner-left .h1 {
    font-size: 24px;
  }
  .banner-content .container > div {
    padding-bottom: 0;
  }
  .banner-content .container > div .banner-left .h1 span{
    line-height: 1.6;
  }
  .home-banner{
    min-height: 0;
    height: 300px;
  }
  .menu-logo {
    height: 80px;
  }
  .menu-logo .container .header-logo {
    width: 395px;
  }
  .menu-logo .container > div {
    width: ~"calc(100% - 400px)";
  }


  .achieve_sec .achieve_top .number-block .block_item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 25px;
  }
  .achieve_sec .achieve_top .more-block{
    margin-top: 10px;
  }
  .achieve_sec .achieve_top .number-block .block_item h3{
    min-height: 0;
  }

  .studies_sec .course-box:first-of-type {
    width: 100%;
    margin-top: 10px !important;
    min-height: 0;
  }
  .studies_sec h3 {
    font-size: 20px;
    padding-bottom: 10px;
    margin-top: 0;
  }
  .studies_sec .course-box{
    min-height: 55px;
  }
  .studies_sec .course-box p{
    padding-left: 60px;
  }
  .studies_sec .course-box {
    width: 47%;
    margin-right: 6% !important;
    margin-top: 20px !important;
  }
  .studies_sec .study_ug, .studies_sec .study_pg {
    margin-top: 20px;
  }
  .studies_sec h2{
    font-size: 30px;
  }
  .studies_sec .course-box:nth-of-type(2n+1) {
    margin-right: 0 !important;
  }

  #wrapper {
    margin-top: 80px;
  }
  .main-menu-nav > .container .search-container{
    top: 80px;
  }
  .main-menu-nav > .container > ul > li a,
  .main-menu-nav > .container > ul > li.menu-dropdown.fullwidmenu .drop-menu_wrap .dropmenu_link-wrap .dropmenu_links h3{
    font-size: 20px;
  }
  .main-menu-nav > .container > ul > li.menu-dropdown .drop-menu_wrap ul li a,
  .main-menu-nav > .container > ul > li.menu-dropdown.fullwidmenu .drop-menu_wrap .dropmenu_link-wrap .dropmenu_links ul li a{
    font-size: 16px;
  }
  .main-menu-nav,.main-menu-nav > .container > ul > li.menu-dropdown .drop-menu_wrap{
    top: 80px;
    height: ~"calc(100vh - 80px)";
  }
  .main-menu-nav > .container > ul > li .search-menu{
    top: 10px;
  }
  .main-menu-nav .container .search-container span{
    width: 60px;
    height: 40px;
  }
  .main-menu-nav .container .search-container input {
    width: ~"calc(100% - 130px)";
    height: 40px;
    padding-left: 25px;
    font-size: 18px;
  }
  .main-menu-nav .container .search-container span.close-search{
    line-height: 38px;
    height: 40px;
  }
  .banner-content .container{
    width: 100%;
  }


  /***** Resources *****/
  .res_course-wrap .img-contain {
    position: static;
    margin-right: 30px;
    margin-bottom: 20px;
  }
  .res_course-wrap .text-contain > div h2{
    font-size: 20px;
    padding-bottom: 10px;
  }
  .res_course-wrap .text-contain > div p {
    font-size: 14px;
    margin-top: 15px;
    line-height: 2.4;
  }
  .clg_range .container .clg_range_box {
    min-height: 150px;
  }
  .dept_common .common_box_wrap .row .common_virtual h3 {
    font-size: 24px;
    padding-left: 10px;
  }
  .dept_common .common_box_wrap .row .common_virtual .ply-btn {
    width: 60px;
    height: 60px;
  }
  .dept_common .common_box_wrap .row .common_virtual {
    padding: 68.5px 0;
  }
  .ach-wrap-content .grid-layout .grid-item h3{
    font-size: 18px;
  }
  .ach-wrap-content .grid-layout .grid-item p{
    font-size: 14px;
    line-height: 2;
  }
  .ach-wrap-content .grid-layout {
    margin-left: -7px;
    margin-right: -7px;
  }
  .ach-wrap-content .grid-layout .grid-item {
    margin-top: 14px;
    padding: 0 7px;
  }
  .ach-wrap-content .grid-layout .grid-item:nth-of-type(3) {
    margin-top: 14px;
  }

  .admis_intro .img-contain{
    position: static;
    width: 80%;
    margin-bottom: 10px;
    img{
      position: static;
      .translate(0,0);
      height: auto;
      width: 100%;
    }
  }
  .admis_intro .text-contain{
    width: 100%;
  }




  /******** Life@saec **********/

  .campuslife-intro .text-wrapper{
    height: 65px;
  }
  .campuslife-intro .camp-txtslider li{
    font-size: 50px;
  }
  .camp-virt-tour .campvirt-text span {
    font-size: 64px;
  }
  .camp-virt-tour .campvirt-text h3{
    font-size: 20px;
  }
  .camp-virt-tour .campvirt-text{
    padding: 30px 20px;
    width: 260px;
  }
  .camp-virt-tour .campvirt-text:first-of-type{
    top: 30px;
  }
  .camp-virt-tour .campvirt-text:last-of-type{
    bottom: 30px;
  }
  .camp-virt-tour .campvirt-video {
    height: 350px;
  }
  .camp-virt-tour .campvirt-video:before, .camp-virt-tour .campvirt-video:after {
    width: 150px;
    height: 40px;
  }
  .camp-virt-tour .video_play_wrap {
    left: ~"calc(50% - 125px)";
  }
  .camp-virt-tour .video_play_wrap h3 {
    font-size: 20px;
  }
  .campus_activtis .col-sm-4{
    width: 50%;
    margin-right: 0;
  }
  .external_links .share_icons{
    margin-top: 30px;
  }
  
  
  /****** Apply now *******/
  .applynow-wrap .tab-content-wrap .tab-content > div{
    width: 100%;
    margin-top: 30px;
    &:first-of-type{
      margin-top: 0;
    }
  }
  .applynow-wrap .tab-content-wrap .tab-content .form-input-wrap{
    width: 100%;
  }
  .applynow-wrap .tab-menu li a > div h3{
    font-size: 14px;
  }
  .applynow-wrap .tab-menu li {
    height: 100px;
  }
  .applynow-wrap .tab-menu li a > div span {
    font-size: 24px;
  }
  .applynow-wrap .tab-menu li a > div span:after {
    height: 22px;
    right: -22px;
  }
  .applynow-wrap h1 {
    font-size: 24px;
    &:after{
      bottom: 13px;
    }
  }
  .applynow-wrap .tab-content-wrap .tab-content > div:nth-of-type(2):after{
    display: none;
  }
  .applynow-wrap .tab-content-wrap .tab-content .academic-content .academic-table .input-wrap .form-group{
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    &:first-of-type{
      margin-top: 20px;
    }
  }
  .applynow-wrap .tab-content-wrap .tab-content .academic-content .academic-table-bottom p{
    display: block;
  }
  .applynow-wrap .tab-content-wrap .tab-content .academic-content .academic-table-bottom .form-group{
    margin: 0;
    margin-top: 10px;
  }


  .applynow-wrap .tab-content-wrap .tab-content .academic-content .academic-table{
    table, thead, tbody, th, td, tr {
      display: block;
    }
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    tr {
      //border: 1px solid;
      padding: 15px 5px 15px 0;
      border-bottom: none;
      height: auto !important;
      &:last-of-type{
        border-bottom: 1px solid;
      }
    }
    td {
      padding: 10px !important;
      border: none;
      position: relative;
      padding-top: 25px !important;
      width: 100% !important;
    }
    td:before {
      content: attr(data-head);
      position: absolute;
      top: 5px;
      left: 0;
      padding: 0 10px;
      text-align: left;
      width: 100%;
      white-space: nowrap;
      font-weight: 100;
      font-size: 14px;
    }
  }
  .applynow-wrap .tab-content-wrap .tab-content .academic-content .academic-table table td h4 {
    padding-right: 0;
    line-height: 2;
  }
  .applynow-wrap .tab-content-wrap .tab-content .form-input-wrap {
    padding: 0;
  }
  .dept_number .dept_number-img .underimg {
    width: 100%;
  }
  .dept_number{
    padding-bottom: 100px;
    > .container{
      position: relative;
    }
  }
  .dept_number .dept_number-img {
    height: 400px;
    display: block;
  }
  .dept_number .dept_number-img .overbox {
    width: 70%;
    display: block;
    padding: 0;
    margin: 0 auto;
    position: absolute;
    bottom: -100px;
    right: 0;
    left: 0;
  }

  .main-menu-nav .container > ul > li.mobilemenu a{
    font-size: 14px !important;
  }

  .course-tab-contain .tab-menu ul li{
    border: 1px solid #CCCCCC;
    .transition();
    &.active{
      border-color: #bd943c;
    }
  }

  .course-tab-contain .tab-menu{
    ul{
      overflow: auto;
      overflow-y: hidden;
      text-align: left;
      white-space: nowrap;
      &:after{
        display: none;
      }
      li{
        margin-left: -3px;
        &:first-of-type{
          margin-left: 0;
        }
        a{
          border-bottom: none !important;
          padding: 15px 50px;
        }
      }
    }
  }
  .course-tab-contain .tab-menu ul li {
    margin-right: 0;
  }
  .courses_banner .course_title span {
    width: 36px;
    height: 36px;
  }
  .courses_banner .course_title h1 {
    font-size: 26px;
  }
  .courses_banner .course_title{
    padding: 0 30px;
  }
  .courses_banner .course_title{
    height: 230px;
  }

  .course-tab-contain .tab-content-wrap .tab-content > div p{
    font-size: 14px;
  }
  .course-tab-contain .tab-content-wrap .tab-content > div table tr td, .course-tab-contain .tab-content-wrap .tab-content > div table tr th{
    padding: 10px;
    font-size: 14px;
    line-height: 2;
  }
  .course-tab-contain .tab-content-wrap .tab-content .course_feature .feat-box > div p{
    font-size: 14px;
  }
  .course-tab-contain .tab-content-wrap .tab-content > div .ach_sec {
    margin: 0;
  }
  .course-tab-contain .tab-content-wrap .tab-content > div .ach_sec .col-sm-3{
    padding: 0;
    margin-right:15px;
  }
  
   .course-tab-contain .tab-content-wrap .tab-content > div h4{
    text-align: center;
    width: 100%;
    margin-top: 40px;
  }
  .course-tab-contain .tab-content-wrap .tab-content > p{
    line-height: 2.2;
  }

  footer .backtotop{
    .scale(0.8);
    right: 0;
  }

  .vtour-wrap{
    padding: 30px 0 !important;
    .thumbwrap{
      > div{
        margin-top: 25px;
        &:nth-of-type(3),&:nth-of-type(4){
          margin-top: 25px;
        }
        &:nth-of-type(3n+1){
          clear: none;
        }
        &:nth-of-type(2n+1){
          clear: both;
        }
      }
    }
  }
  .recr_tab .course-tab-contain .tab-menu ul li{
    margin-right: 0;
  }

  .content-only.sitemappage .grid-item > div{
    padding: 20px;
  }
  .content-only.sitemappage .grid-item h3{
    margin: 0;
  }
  .content-only.sitemappage .grid-item {
    margin-bottom: 15px;
  }

}

/* Portrait phones and smaller */
@media only screen and (max-width: 639px) {
  section.inner {
    padding: 30px 0;
  }
  .responsibilities_sec {
    padding: 30px 0;
  }
  .res_intro h1.title_line{
    font-size: 24px !important;
  }
  .res_course-wrap .text-contain > div h2{
    font-size: 18px;
  }
  .clg_range .container .clg_range_box > div h2 {
    font-size: 30px;
  }
  .clg_range .container .clg_range_box:last-of-type{
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .dept_common .common_box_wrap .row .common_lifeat label{
    font-size: 18px !important;
  }
}


@media only screen and (max-width: 600px) {
  .menu-logo .container .header-logo {
    width: 320px;
  }
  .menu-logo {
    height: 70px;
  }
  .menu-logo .container > div {
    width: ~"calc(100% - 325px)";
  }
  .banner-content .container > div .banner-left .h1 {
    font-size: 20px;
  }
  .banner-content .container > div .banner-left .banner-controls .dots-contain .owl-dot{
    padding: 6px;
  }
  .banner-content .container > div .banner-left .banner-controls{
    pointer-events: all;
  }
  .banner-content .container > div .banner-left .h1 span {
    line-height: 1.4;
  }
  .banner-content .container > div .banner-left{
    pointer-events: none;
  }
  .achieve_sec .achieve_bottom > div.ach_moments {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .achieve_sec .achieve_bottom > div.ach_slide-wrap{
    width: 100%;
  }
  .achieve_sec .achieve_bottom > div.ach_moments .media-video {
    width: 400px;
    max-width: 100%;
  }
  .studies_sec .course-box{
    width: 100% !important;
    margin-right: 0 !important;
    margin-top: 5px !important;
  }
  .studies_sec h3{
    margin-bottom: 15px;
  }

  #wrapper {
    margin-top: 70px;
  }
  .main-menu-nav > .container > ul > li a,
  .main-menu-nav > .container > ul > li.menu-dropdown.fullwidmenu .drop-menu_wrap .dropmenu_link-wrap .dropmenu_links h3{
    font-size: 18px;
  }
  .main-menu-nav > .container > ul > li.menu-dropdown .drop-menu_wrap ul li a,
  .main-menu-nav > .container > ul > li.menu-dropdown.fullwidmenu .drop-menu_wrap .dropmenu_link-wrap .dropmenu_links ul li a{
    font-size: 14px;
  }
  .main-menu-nav,.main-menu-nav > .container > ul > li.menu-dropdown .drop-menu_wrap{
    top: 70px;
    height: ~"calc(100vh - 70px)";
  }
  .main-menu-nav > .container > ul > li .search-menu{
    top: 5px;
  }
  .main-menu-nav > .container .search-container{
    top: 70px;
  }
  .main-menu-nav .container .search-container span{
    width: 50px;
    padding: 10px;
    padding-right: 20px;
  }
  .main-menu-nav .container .search-container input{
    padding-left: 15px;
  }
  .main-menu-nav > .container .search-container{
    padding: 5px 0;
  }
  .main-menu-nav .container .search-container input{
    width: ~"calc(100% - 115px)";
  }
  .main-menu-nav .container .search-container span.close-search {
    line-height: 34px;
    font-size: 38px;
  }


  /**** Resources ****/
  .res_course-wrap .img-contain{
    width: 400px;
    max-width: 100%;
    float: none;
  }
  .dept_common .common_box_wrap .row > div{
    width: 100%;
    margin-top: 20px;
    &:first-of-type{
      margin-top: 0;
    }
  }
  .dept_common .common_box_wrap .row .common_lifeat {
    padding: 30px 0;
  }
  .dept_common .common_box_wrap .row .common_virtual {
    padding: 40px 0;
  }
  .achieve_sec .achieve_bottom .ach_moments .title_line {
    display: none;
  }

  /***** Achievements *****/

  .ach-wrap-content .grid-layout .grid-item{
    width: 100%;
  }
  .ach-wrap-content .grid-layout .grid-item:nth-of-type(2){
    margin-top: 14px;
  }


  .admis_intro .text-contain{
    padding-right: 0;
  }
  .admis_intro p{
    font-size: 15px;
  }
  .admis_steps_wrap .admis_steps_intro h2{
    font-size: 20px;
  }
  .admis_steps_wrap .admis_steps_intro p {
    font-size: 15px;
  }
  .admis_steps_wrap .admis_steps p{
    line-height: 2.4;
  }
  .admis_steps_wrap .admis_steps h3{
    line-height: 2;
    font-size: 16px;
  }

  .admis_steps_wrap .admis_steps.step01 table td{
    display: block;
    font-size: 14px;
    padding: 10px 15px;
    border-top: none;
    border-left: none;
    span{
      margin-top: 10px;
    }
    &:first-of-type{
      border-top: 1px solid;
      border-left: 1px solid;
      width: 100%;
    }
    &:nth-of-type(4n+2){
      border-left: 1px solid;
    }
    &:not(:first-of-type){
      width: 25%;
      float: left;
    }
  }
  .admis_steps_wrap .admis_steps.step02 table td,
  .admis_steps_wrap .admis_steps.step02 table thead th{
    font-size: 14px;
    padding: 15px 15px;
  }

  .admis_steps_wrap .admis_steps.step02{
    table, thead, tbody, th, td, tr {
      display: block;
    }
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    tr {
      border: 1px solid;
      border-bottom: none;
      height: auto !important;
      &:last-of-type{
        border-bottom: 1px solid;
      }
    }
    td {
      padding: 10px !important;
      border: none;
      position: relative;
      padding-top: 50px !important;
      width: 100% !important;
    }
    td:before {
      position: absolute;
      top: 10px;
      left: 0;
      padding: 0 10px;
      text-align: left;
      width: 100%;
      white-space: nowrap;
      font-weight: 500;
      text-decoration: underline;
    }

    /*
    Label the data
    */
    td:nth-of-type(1):before { content: "P.G. Programmes Offered"; }
    td:nth-of-type(2):before { content: "Qualifications for Admission"; }
  }


  /***** life@saec ******/
  .camp-virt-tour .campvirt-video {
    height: auto;
    width: 100%;
    padding: 30px 0;
  }
  .camp-virt-tour .video_play_wrap{
    position: static;
    .translate(0,0);
    & + div{
      width: 260px;
      margin: 25px auto 0;
    }
  }
  .camp-virt-tour .campvirt-text{
    position: static;
  }
  .camp-virt-tour .campvirt-video:before, .camp-virt-tour .campvirt-video:after{
    display: none;
  }
  .campuslife-intro h1 {
    margin: 15px 0;
    .scale(0.8);
  }
  .external_links_outer {
    padding: 30px 0;
  }


  .alumini-reg{
    form.webform .form-group{
      width: 100%;
    }
    form.webform .row.multiple-form-group{
      width: 100%;
      .form-group{
        width: 50%;
      }
    }
  }

  form.webform .form-group {
    margin-top: 20px;
  }
  form.webform .row.multiple-form-group{
    margin-top: 20px;
  }
  form.webform .form-group label:not(.error),
  form.webform .row.multiple-form-group label:not(.error){
   font-size: 14px;
    margin-bottom: 7px;
  }
  form.webform input[type="text"], form.webform input[type="password"], form.webform input[type="email"], form.webform select,.selectric{
    height: 40px;
  }
  .selectric .label{
    line-height: 38px;
  }
  .alumini-reg > div textarea{
    height: 80px;
  }
  .applynow-wrap .tab-content-wrap .tab-content .academic-content .academic-table table input {
    height: 40px;
  }
  form.webform input[type="file"] + label:not(.error){
    height: 40px;
    line-height: 38px;
  }
  .selectric .button{
    height: 40px;
  }

  .applynow-wrap .tab-menu ul{
    display: inline-block;
    white-space: nowrap;
    margin-bottom: -5px;
    li{
      height: auto;
      width: auto;
      padding: 15px;
      float: none;
      display: inline-block;
      margin-right: -5px;
      a > div h3 {
        font-size: 16px;
        width: auto;
      }
    }
  }
  .selectric .label{
    margin: 0px 25px 0 15px;
    font-size: 14px;
  }
  .applynow-wrap .tab-menu {
    margin-top: 15px;
    overflow: auto;
    overflow-y: hidden;
  }
  .dept_courses .course-box {
    width: 100%;
  }
  .dept_courses h2{
    font-size: 20px !important;
  }
  .dept_courses .course-box {
    padding: 15px;
    height: auto;
    background: white;
    margin-top: 10px;
  }
  .dept_courses > div > div{
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  /****** Courses *******/
  .external_links.course_ext-links .share_icons li{
    width: 100%;
    margin-right: 0 !important;
    margin-top: 20px !important;
    padding-left: 30px;
    a{
      font-size: 14px;
    }
    &:after{
      width: 16px;
      height: 16px;
    }
    &:first-of-type{
      margin-top: 0 !important;
    }
  }
  .courses_banner:after{
    display: none;
  }
  .courses_banner {
    height: auto;
    padding: 40px 0;
  }
  .courses_banner .course_title {
    height: auto;
    padding: 30px;
    position: relative;
  }
  .courses_banner .course_title h1{
    font-size: 24px;
  }
  .course-tab-contain .tab-content-wrap .tab-content .course_feature .feat-box{
    width: 100%;
    margin-top: 20px;
    &:nth-of-type(2){
      margin-top: 20px;
    }
  }
  .course-tab-contain .tab-content-wrap .tab-content > div .tic_list li{
    padding-left: 30px;
  }
  .tic_list li:after{
    left: 0;
  }
  .course-tab-contain .tab-content-wrap .tab-content table{
    min-width: 600px;
    width: auto;
  }
  .course-tab-contain .tab-content-wrap .tab-content > div{
    overflow-x: auto;
    overflow-y: hidden;
  }
  #mediamodal .modal-content {
    padding: 35px 10px 10px;
  }
  #mediamodal .modal-body {
    height: 350px;
  }
  .fee-submission .feelog a.btn_web{
    margin-top: 0;
  }
  .content-only table td, .content-only table th{
    line-height: 2;
  }
  .gallery_page{
    padding: 30px 0;
  }
  .gallery_page .gallery_page_title p {
    line-height: 2.2;
    width: 100%;
    margin-top: 20px;
  }
  .gallery_page .external_links{
    margin-top: 50px;
  }
  .gallery_page .gallery_page_title{
    margin-bottom: 30px;
  }

  .virtualtourwrap .videowrap{
    margin: 0 -15px;
  }
  .vtour-wrap h3{
    font-size: 16px;
  }

  .car_modal .modal-content {
    padding: 20px 15px;
  }
  .car_modal{
    form.webform input[type="file"] + label:not(.error) + p{
      display: block;
      padding-left: 0;
      margin-top: 15px;
    }
  }


  .web-modal .modal-header{
    padding: 0;
    button{
      font-size: 25px;
      line-height: 25px;
    }
  }
  .ranking-right .ranking_right_inner .ranking_item {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .ranking-right .ranking_right_inner .virtual_tour{
    bottom: 30px;
  }
  .ranking {
    padding-bottom: 100px;
  }
  .gallery_page .gallery_page_title h1{
    margin-bottom: 10px;
    font-size: 26px;
  }
}


@media only screen and (min-width: 481px) {
  .mobile-header-logo{
    display: none;
  }
}
@media only screen and (max-width: 480px) {

  .banner-content .container > div .banner-left .h1 {
    font-size: 18px;
  }
  .it-hub p{
    text-align: left;
  }
  .it-hub .learn-more {
    margin-top: 15px;
  }
  .main-menu-nav .container .search-container span {
    width: 35px;
    padding: 5px;
    padding-right: 10px;
    border-right: none;
  }
  .main-menu-nav .container .search-container span.close-search{
    width: 35px;
  }
  .main-menu-nav .container .search-container input {
    width: ~"calc(100% - 90px)";
    padding-left: 0;
    font-size: 16px;
  }
  .main-menu-nav > .container > ul > li .search-menu {
    right: 60px;
  }
  section {
    padding: 30px 0;
  }
  .menu-logo .container .header-logo{
    display: none;
  }
  .menu-logo .container > div {
    width: ~"calc(100% - 55px)";
  }
  .home-banner {
    height: 250px;
  }
  .a{
    display: none;
  }
  .studies_sec .course-box p{
    font-size: 14px;
    padding-left: 50px;
  }
  .studies_sec .course-box span {
    width: 50px;
    height: 40px;
  }

  .menu-logo .container .mobile-header-logo{
    width: 130px;
  }
  .menu-logo .container > div {
    width: ~"calc(100% - 140px)";
  }
  .hammenu-wrap .hammenu{
    .scale(0.8);
    margin-right: -20px;
  }
  .main-menu-nav > .container > ul > li .search-menu{
    .scale(0.9);
    margin-right: -10px;
  }

  .dept_common .common_box_wrap .row .common_virtual h3,
  .dept_common .common_box_wrap .row .common_lifeat h3{
    font-size: 20px;
  }

  .admis_intro .img-contain{
    width: 100%;
    margin-bottom: 0;
  }

  .admis_steps_wrap .admis_steps.step01 table td:not(:first-of-type) {
    width: 50%;
  }
  .admis_steps_wrap .admis_steps.step01 table td:nth-of-type(2n+2){
    border-left: 1px solid;
  }
  .campuslife-intro .text-wrapper {
    height: 45px;
  }
  .campuslife-intro .camp-txtslider li {
    font-size: 36px;
  }
  .campuslife-intro h1{
    width: ~"calc(100% + 90px)";
    margin: 15px -45px;
    .scale(0.7);
  }
  .campus_activtis .col-sm-4{
    width: 100%;
    &:last-of-type{
      margin-bottom: 0;
    }
  }

  .alumini-reg > div h2{
    font-size: 18px !important;
    &:after{
      bottom: 12px !important;
    }
  }
  .applynow-wrap form.webform .btn_web {
    width: 110px;
  }
  form.webform .form-group label:not(.error), form.webform .row.multiple-form-group label:not(.error) {
    margin-bottom: 5px;
  }
  .applynow-wrap form.webform .row.multiple-form-group, .applynow-wrap form.webform .form-group {
    margin-top: 15px;
  }
  .applynow-wrap .tab-content-wrap .tab-content > div h2{
    font-size: 15px !important;
  }
  .dept_number .dept_number-img .overbox{
    width: 90%;
  }
  .dept_number .dept_number-img .overbox{
    bottom: -80px;
  }
  .dept_number {
    padding-bottom: 80px;
  }
  .courses_banner .course_title{
    padding: 25px 20px;
  }
  .courses_banner .course_title span{
    width: 30px;
    height: 30px;
  }
  .courses_banner .course_title h1 {
    font-size: 20px;
  }
  .course-tab-contain .tab-menu ul li a{
    padding: 15px 30px;
  }
  .content-only li{
    padding-left: 30px;
  }

  .gallery_page .gallery_sec ul li{
    margin: 0;
    margin-bottom: 10px;
  }
  .gallery_page .gallery_sec{
    padding: 0 30px;
  }
  .gallery_page .gallery_sec ul li:last-child .virtual_tour{
    padding: 20px !important;
  }
}
.gallery_page .external_links label{
  display: block;
  width: 100%;
  margin-bottom: 25px;
}

@media only screen and (max-width: 350px) {
  .gallery_page .gallery_sec {
    padding: 0 15px;
  }
  .gallery_page .gallery_page_title p{
    line-height: 2;
    font-size: 14px;
  }
  .vtour-wrap .thumbwrap > div{
    width: 100%;
  }
  .vtour-wrap h4 {
    font-size: 12px;
  }
  .vtour-wrap .thumbwrap > div:nth-of-type(2) {
    margin-top: 25px;
  }
  .course-tab-contain .tab-content-wrap .tab-content > div h3{
    font-size: 15px;
  }
}
