.responsibilities_sec{
	padding: 120px 0;
	h1{
				font-family: 'Montserrat', sans-serif;
			    font-size: 48px;
			    line-height: 1.2;
			    letter-spacing: 0.025em;
			    font-weight: 500;
			    &:after{
			    	background: #bd943c;
			    }
			}
	> div{
			h3{
				    font-family: 'Montserrat', sans-serif;
				    font-size: 18px;
				    line-height: 1.6;
				    letter-spacing: 0.05em;
				    font-weight: 600;
				    color: #000000;
				    margin: 30px 0 30px
			}
			span{
				margin: 20px 0;
				display: block;
			}
			ul{
				li{
					    padding-left: 50px;
					    margin-top: 20px;
					    font-weight: 300;
					    line-height: 2.2;
					    font-family: 'Roboto Slab', serif;
					    font-size: 15px;
					    letter-spacing: 0.05em;
					    position: relative;
					    &:after{
					    	  left: 2px;
							  top: 12px;
							  width: 15px;
							  height: 13px;
							  position: absolute;
							  content: "";
							  background: url('data:image/svg+xml;utf8, <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 60 46.3" style="enable-background:new 0 0 60 46.3;" xml:space="preserve"> <style type="text/css"> .st0{fill:#CAA963;} </style> <g id="XMLID_29_"> <path id="XMLID_27_" class="st0" d="M18.8,45.7c-2.3,0-4.5-0.8-6.4-2.3c-2.9-2.4-7.1-6.4-11.1-11.7c-1.8-2.4-1.7-6,0.5-8 c2.3-2,5.5-1.6,7.7,0.9c2.3,2.6,4.5,4.7,6.3,6.5c1.6,1.6,4.3,1.7,6,0.1c7-6.6,19.3-17.8,30.6-28.8c2.3-2.3,4.9-2,6.4-0.6 c2.3,2.1,1.2,5.1-0.4,6.8c-12.8,14.3-27,29-32.6,34.4C23.8,44.8,21.3,45.7,18.8,45.7z"/> </g> </svg>');
							  background-repeat: no-repeat;
					    }
				}
			}



		table{
			margin-top: 30px;
			tr{
				td{
					border: 1px solid #000000;
    				padding: 15px;
    				font-family: 'Roboto Slab', serif;
					font-size: 15px;
					line-height: 2.2;
					font-weight: 300;
					letter-spacing: 0.05em;
					vertical-align: middle;
					a{
						display: block;
						img{
							width: 150px;
							height: 150px;
						}
					}
				}
			}
		}





	}	
}