/************************************************************* Base Colors ***************************************/
@placeholder-color: #e0e0e0;
@selection-bg : #b39330;
@selection-text-col : #fff;

/************************************************************* Colors ***************************************/
@mont : 'Montserrat', sans-serif;
@robo : 'Roboto Slab', serif;

/************************************************************* Colors ***************************************/
/******** Yellow ********/
@bd943c : #bd943c;
@ddac43 : #ddac43;
@caa963 : #caa963;
/******** Blue ********/
@002e4b : #002e4b;
@005082 : #005082;
@007bc9 : #007bc9;
/******** Grey ********/
@black : #000000;
@grey : #989898;
@lgrey : #cccccc;