.achieve_sec{
  .achieve_top{
	.number-block{
	  width: ~"calc(100% - 220px)";
	  padding-right: 90px;
	  display: inline-block;
	  vertical-align: top;
	  .block_item{
		width: 26.5%;
		float: left;
		margin-right: 10.25%;
		&:last-of-type{
		  margin-right: 0;
		}
		label{.font(@mont,36px,1.2,0);color: @bd943c;font-weight: 500;margin-right: 28px;
		  margin-bottom: 40px;
		  float: left;}
		h3{.font(@mont,18px,1.8,0.05em);color: @black;font-weight: 600;min-height: 96px;}
		p{
		  clear: both;
		  margin-top: 10px;
		  font-weight: 300;
		}
	  }
	}
	.more-block{
	  position: relative;
	  display: inline-block;
	  vertical-align: top;
	  width: 215px;
	  border: 1px solid @bd943c;
	  text-align: center;
	  .transition();
	  height: 180px;
	  > div{
		display: table;
		width: 100%;
		height: 100%;
		> div{
		  display: table-cell;
		  vertical-align: middle;
		  padding-bottom: 30px;
		  .transition();
		}
	  }
	  label{
		.font(@robo,16px,1.2,0.05em);
		.transition();
	  }
	  h3{
		margin: 15px 0 0;font-weight: 600;
		.font(@mont,18px,1.2,0.05em);text-transform: uppercase;
		.transition();
	  }
	  p.learn-more{
		position: absolute;
		left: 0;
		right: 0;
		margin-top: 20px;
		.transition();
	  }
	  &:hover{
		background: @002e4b;
		> div > div{
		  padding-bottom: 0;
		}
		label, h3{
		  color: #ffffff;
		}
		p{
		  opacity: 0;
		}
	  }
	}
  }
  .achieve_bottom{
	.title_line{
	  .font(@mont,18px,1.2,0);
	  font-weight: bold;
	  &:after{
		left: 113%;
		bottom: 10px;
	  }
	}
	margin-top: 120px;
	> div{
	  float: left;
	  margin-right: 9%;
	  &:last-of-type{
		margin-right: 0;
	  }
	  &.ach_vision{
		width: 25%;
		p{
		  .font(@robo,18px,2.4,0.05em);
		  padding-right: 20px;
		  margin: 50px 0;
		}
		a{
		  width: 230px;
		}
	  }
	  &.ach_moments{
		width: 27%;
		h2{.font(@mont,30px,1.3,0.04em);color: @black;margin: 35px 0 25px;font-weight: 500;}
		h3{.font(@mont,18px,1.4,0);color: @005082;margin-bottom: 10px;font-weight: 500;
			span{
			  display: inline-block;
			}
		}
		label.desc{.font(@mont,14px,1.4,0.05em);color: @005082;margin-bottom: 25px;font-weight: 500;display: inline-block;}
	  	p{margin-bottom: 40px;text-align: justify}


	  	.media-video{
            .ply-btn{
              background: transparent;
              position: absolute;
              z-index: 1;
              -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              -moz-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              left: 50%;
              top: 50%;
              svg.play-icon{
                .box{
                  fill: transparent;
                  stroke: #bd943c;
                  stroke-dashoffset: 400;
                }
              }
              &:before {
                  content: "";
                  position: absolute;
                  left: 0;
                  top: 0;
                  border-radius: 50%;
                  z-index: 99999999;
                  /* background: red; */
                  border: 2px solid #fff;
                  width: 92%;
                  height: 92%;
                  z-index: -1;
              }
            }
			&:hover{
			  .box {
				fill: #bd943c;
				stroke: #bd943c !important;
				stroke-dashoffset: 0 !important;
				transition: stroke 2s .7s ease-out, stroke-dashoffset .7s ease-out, fill .4s .3s ease-out;
			  }
			  .play {
				fill: #bd943c;
			  }
			}

			&:hover{
			  .ply-btn{
				&:before{
				  border: 2px solid #bd943c;
				   transition:all .7s ease-in-out;
				 -webkit-transition:all .7s ease-in-out;
				 -moz-transition:all .7s ease-in-out;
				 -o-transition:all .7s ease-in-out;
				}
			  }
			}
		}
	  }
	  &.ach_slide-wrap{
		width: 30%;
		.achieve-slider{
		  border: 1px solid #f1f2f5;
		  box-shadow: 8.714px 13.419px 27px 0px rgba(51, 97, 154, 0.1);
		  padding: 40px 30px 60px;
		  margin-bottom: 35px;
		  label{
			margin-bottom: 15px;
		  }
		  .item{
			height: 170px;
			display: table;
			width: 100%;
			img{
			  width: auto;
			  float: left;
			  display: inline-block;
			  margin-right: 20px;
			  margin-top: 10px;
			  margin-bottom: 10px;
			}
			> div{
			  padding-right: 20px;
			  display: table-cell;
			  vertical-align: middle;
			}
		  }
		  .owl-nav{
			position: absolute;
			right: -10px;
			bottom: -40px;
			.owl-next,.owl-prev{
			  display: inline-block;
			}
			span{
			  display: inline-block;
			}
		  }
		}
		.ach_lifeat{
		  position: relative;
		  background: url('../img/ach_lifeat.png');
		  padding: 80px 55px;
		  h2{
			.font(@mont,30px,1.4,0.05em);
			color: #ffffff;
			font-weight: bold;
			br{display: inline-block;}
		  }
		  label{
			margin-top: 20px;
			color: #ffffff;
			&:after{
			  background: #ffffff;
			}
		  }
		}
	  }
	}
  }
}

