.home-banner{
  min-height: 540px;
  position: relative;
  height: ~"calc(100vh - 245px)";
  .home-bnr-slider{
    height: 100%;
    .owl-stage-outer,.owl-stage, .owl-item{height: 100%}
    .item{
      height: 100%;
      background-position: center;
      background-size: cover;
    }
  }
}
.banner-content{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  .container{
    display: table;
    height: 100%;
    > div{
      display: table-cell;
      vertical-align: bottom;
      padding-bottom: 27px;
      .banner-left{
        pointer-events: all;
        display: inline-block;
        vertical-align: bottom;
        width: ~"calc(100% - 410px)";
        padding-right: 30px;
        .header-wrap{
          position: relative;
          width: 100%;
        }
        .h1{
          position: absolute;
          bottom: -100%;
          opacity: 0;
          .transition();
          span{
            .transition(all,1s,ease);
            &:first-of-type{
              transform: matrix(1, 0, 0, 1, 0, -50) !important;
            }
            &:last-of-type{
              transform: matrix(1, 0, 0, 1, 0, 50) !important;
            }
          }
          &.active{
            opacity: 1;
            span{
              transform: matrix(1, 0, 0, 1, 0, 0) !important;
            }
          }
          color: #ffffff;
          font-weight: 500;
          br{
            display: inline-block;
          }
        }
        .banner-controls{
          margin-top: 10px;
          margin-bottom: 30px;
          .dots-contain{
            display: inline-block;
            vertical-align: middle;
            .owl-dot{
              display: inline-block;
              padding: 10px 8px;
              cursor: pointer;
              &:first-of-type{
                margin-left: -8px;
              }
              &:last-of-type{
                margin-right: 0;
              }
              span{
                display: inline-block;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: rgba(255,255,255,0.4);
                .transition();
              }
              &.active, &:hover{
                span{
                  background: rgba(255,255,255,1);
                }
              }
            }
          }
          .paginate-contain{
            display: inline-block;
            padding: 13px 10px 8px;
            vertical-align: middle;
            p{
              color: #ffffff;
              .font(@mont,12px,1.2,0);
              span{
                margin: 0 2px;
              }
            }
          }
        }
        .banner-boxcontent{
          .row{
            margin-left: -13.5px;
            margin-right: -13.5px;
            > div{
              height: 133px;
              display: table;
              padding: 0 13.5px;
              > div{
                overflow: hidden;
                .transition();
                border: 1px solid #ffffff;
                padding: 23px 28px;
                vertical-align: bottom;
                display: table-cell;
                position: relative;
                .hov_overlay {
                  position: absolute;
                  width: 100%;
                  background: #ffffff;
                  height: 100%;
                  display: none;
                  z-index: -1;
                }
                p{
                  .transition();
                  text-transform: uppercase;
                  color: #ffffff;
                  font-weight: 500;
                  .font(@mont,14px,1.2,0.04em);
                }
                span{
                  .transition();
                  font-weight: 500;
                  color: #ffffff;
                  display: inline-block;
                  margin-bottom: 10px;
                  .font(@mont,30px,1.2,0.04em);
                  sup{
                    font-size: 50%;
                    vertical-align: super;
                  }
                }
              }
              &:hover{
                p{
                  color: @002e4b;
                  font-weight: 600;
                }
                span{
                  color: @bd943c;
                }
              }
            }
          }
        }
      }
      .banner-right{
        pointer-events: all;
        width: 405px;
        display: inline-block;
        vertical-align: bottom;
        .banner-media.media-video{
            .ply-btn{
              background: transparent;
              position: absolute;
              z-index: 1;
              -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              -moz-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              left: 50%;
              top: 50%;
              svg.play-icon{
                .box{
                  fill: transparent;
                  stroke: #bd943c;
                  stroke-dashoffset: 400;
                }
              }
              &:before {
                  content: "";
                  position: absolute;
                  left: 0;
                  top: 0;
                  border-radius: 50%;
                  z-index: 99999999;
                  /* background: red; */
                  border: 2px solid #fff;
                  width: 92%;
                  height: 92%;
                  z-index: -1;
              }
            }
      &:hover{
        .box {
          fill: #bd943c;
          stroke: #bd943c !important;
          stroke-dashoffset: 0 !important;
          transition: stroke 2s .7s ease-out, stroke-dashoffset .7s ease-out, fill .4s .3s ease-out;
        }
        .play {
          fill: #bd943c;
        }
      }          

      &:hover{
        .ply-btn{
          &:before{
            border: 2px solid #bd943c;
             transition:all .7s ease-in-out;
           -webkit-transition:all .7s ease-in-out;
           -moz-transition:all .7s ease-in-out;
           -o-transition:all .7s ease-in-out;
          }
        }
      }

        }
        .event-slider-wrap{
          background: #ffffff;
          margin-top: 27px;
          padding: 20px;
          h4{
            padding-left: 25px;
            text-transform: uppercase;
            letter-spacing: 0.04em;
            color: @black;
            margin: 10px 0 15px;
            font-weight: 600;
            position: relative;
            &:after{
              border-top: 4px solid transparent;
              border-left: 6px solid @bd943c;
              border-bottom: 4px solid transparent;
              position: absolute;
              content: "";
              width: 0px;
              height: 0px;
              left: 5px;
              top: 4px;
            }
          }
          span{
            .font(@robo,14px,1.2,0.05em);
            color: @007bc9;
            display: inline-block;
            margin-bottom: 20px;
          }
          p{
            height: 100px;
            overflow: hidden;
            color: @black;
            margin-bottom: 20px;
          }
          div.learn-more{
            text-align: right;
            span{
              vertical-align: top;
              margin-left: 10px;
              margin-bottom: 0;
            }
          }
          .item{
            padding-left: 25px;
            position: relative;
            &:hover{
              .learn-more{
                label{
                  .translate(0,0);
                  opacity: 1;
                }
                span{
                  .rotate(90deg);
                }
              }
            }
          }
          .event-slider{
            .item{
              display: none;
              &:first-of-type{
                display: block;
              }
            }
            .owl-nav{
              position: absolute;
              top: -35px;
              right: 0;
              .owl-prev, .owl-next{
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
}