.infra_sec{
	background: url("../img/infra-bg.jpg")no-repeat center center;
	background-size: cover;
	br{
		display: block;
	}
	.col-sm-4.infra_sec_left{
		float: none;
		display: inline-block;
		width: 37%;
		vertical-align: top;
		.review_bx{
			background: #fff;
			padding:120px 58px 58px;
			text-align: center;
			position: relative;
			border-radius: 4px;
			.review_innr{

			.img-circle{
				width: auto;
				max-width: 100%;
				border-radius: 50%;
				width: 135px;
				height: 135px;
				margin: 0 auto;
				border: 6px solid rgba(24, 136, 202, 0.1)
			}
			h3{
				color: #282828;
				font-weight: 600;
				margin: 15px 0 2px;
				.font(@mont,18px,1.3,0.05em);
			}
			span{
				display: block;
				font-size: 14px;
				line-height: 1.8;

			}
			p{
				padding: 50px 10px;
				font-size: 18px;
			}
		}
			.owl-dots{
				position: relative;
				z-index: 4;
				text-align: center;
				.owl-dot{
					height: 6px;
					width: 6px;
					margin: 0 12px;
					border-radius: 50%;
					background: #cccccc;
					display: inline-block;
				}
				.active{
					background: #315094;
				}
			}
			.quot_div{
				position: absolute;
				left: 0;
				top: 50px;
				right: 0;
				font-size: 100px;
				margin: 0 auto;
				color: red;
				background: url("../img/quotes-icon.png")no-repeat top center;
				height: 100%;
				width: 100%;
			}
		}
	}

	.col-sm-8{
		float: none;
		display: inline-block;
		width: 61%;
		vertical-align: bottom;
		.great_infra{
			color: #fff;
			font-weight: 600;
			h3{
				.font(@mont,36px,1.3,0);
				margin-bottom: 50px;
				&:after{
					background: #fff;
				}
			}
			.col-sm-4{
				padding-right: 5px;
				margin-top: 20px;
					> div{
						border: 1px solid #fff;
						padding: 30px;
						position: relative;
						overflow: hidden;
					> span{
						display: inline-block;
						width: 20%;
						vertical-align: middle;
						height: 73px;
						position: relative;
						color: #fff;
						z-index: 2;
						
						svg{
							fill:#fff;
							.transition();
						}
					}
					p{
						display: inline-block;
						width: 77%;
						vertical-align: middle;
						padding-left: 15px;
						line-height: 1.5;
						font-family: @mont;
						font-size: 18px;
						position: relative;
						z-index: 2;
						.transition();
					}
					.hov_overlay{
						  position: absolute;
						  width: 100%;
						  background: #ffffff;
						  height: 100%;
						  display: none;
						  z-index: 1;
					}
					.full_cont-link{
						z-index: 5;
					}
					&:hover{
						    color: #003a5e;
    						font-weight: 600;
					}
					&:hover svg{
						    fill:#003a5e;
						    .transition();
					}
				}
				&:last-child{
					transform: none !important;
					-webkit-transform: none !important;
					-ms-transform: none !important;
					-o-transform: none !important;
					-moz-transform: none !important;
					> div{
						padding: 39px 0;
						text-align: center;
						background: #fff;
						.transition;
						p{
							color: #003a5e;
							padding: 0;
							display: block;
							width: 100%;
							.transition;
						}
						.learn-more{
							span{
								background-image: url('data:image/svg+xml;utf8, <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 11.2 11.2" style="fill:#bd943c; enable-background:new 0 0 11.2 11.2;" xml:space="preserve"><polygon id="XMLID_3_" class="st0" points="6.5,4.8 6.5,0 4.8,0 4.8,4.8 0,4.8 0,6.5 4.8,6.5 4.8,11.2 6.5,11.2 6.5,6.5 11.2,6.5 11.2,4.8 "/></svg>');
								.transition;
								opacity: 1;
							}
						}
						&:hover{
							background: #002e4b;
							.transition;
						}
						.hov_overlay{
							position: static;
						}
					}
					&:hover p{
						color: #ffffff;
						transform: translateY(50%);
						.transition;
					}
					&:hover .learn-more{
						opacity: 0;
						.transition;
					}
				}
			}
		}
	}

}