.infra_sec {
  background: url("../img/infra-bg.jpg") no-repeat center center;
  background-size: cover;
}
.infra_sec .col-sm-4 .review_innr {
  background: #fff;
  padding: 120px 60px;
  text-align: center;
}
.infra_sec .col-sm-4 .review_innr .img-circle {
  width: auto;
  max-width: 100%;
  border-radius: 50%;
  width: 135px;
  height: 135px;
  margin: 0 auto;
}
.infra_sec .col-sm-4 .review_innr h3 {
  color: #282828;
}
.infra_sec .col-sm-4 .review_innr span {
  display: block;
  font-size: 14px;
}
