.news_events{
	background: #f8f8f8;
	br{
		display: block;
	}
	h2{
		.font(@mont,36px,normal,0);
		font-weight: 600;
		margin-bottom: 80px;
	}
	.news_link{
		color: #007bc8;
		font-size: 16px;
		margin: 0 0 15px;

	}
	.news_events_left{
		.news_events_box{
			background: #fff;
			padding: 15px;
			border: 1px solid #ebebeb;
			overflow: hidden;
			position: relative;
			.news_events_box_top_img{
				width: 50%;
				float: left;
			}
			.news_events_box_top_content{
				width: 50%;
				float: left;	
				padding-left: 30px;
				h3{
					.font(@mont,20px,1.6,0);
					font-weight: 500;
					/*margin: 30px 0 32px;*/
					height: 100px;
					overflow: hidden;
					margin: 30px 0 32px;
				}
				ul{
					overflow: hidden;
					li{
						float: left;
						padding-top: 10px;
						padding-right: 10px;
						a{
							color: rgba(0,0,0, 0.5)
						}
					}
				}
				span{
					color: #909090;
					text-align: right;
				    display: block;
				}
				p{
					height: 95px;
					overflow: hidden;
				}
			}
			&:hover{
				  box-shadow: 0px 0px 12px #f0f0f0;
				  -moz-box-shadow: 0px 0px 12px #f0f0f0;
				  -webkit-box-shadow: 0px 0px 12px #f0f0f0;
			}

		}
			.col-sm-6{
				&:nth-of-type(2){
					padding-left: 0;
					}
				&:nth-of-type(3){
					padding-right: 0;
					}
				.news_events_box{
					margin-top: 30px;
					position: relative;
				}	
				.news_events_box_btm_content{
					width: 100%;
					padding: 0 30px;
					h3{
						margin: 37px 0;
					}
					p{
						height: 200px;
						overflow: hidden;
						margin-bottom: 20px;
					}
				}
			}
	}
	.news_events_rgt{
		.news_events_box{
			background: #fff;
			padding: 15px;
			border: 1px solid #ebebeb;
			overflow: hidden;
			margin-bottom: 30px;
			position: relative;
			.news_events_box_top_content{
				width: 100%;
				float: left;	
				padding:0 20px;
				h3{
					.font(@mont,20px,1.6,0);
					font-weight: 500;
					height: 100px;
					overflow: hidden;
					margin: 20px 0 10px;
				}
				ul{
					overflow: hidden;
					li{
						float: left;
						padding-top: 10px;
						padding-right: 10px;
						a{
							color: rgba(0,0,0, 0.5)
						}
						&:last-child{
							height: 26px;
							width: 40px;
						}
					}
				}
				span{
					color: #909090;
					text-align: right;
				    display: block;
				}
			}
			.news_fb_bx{
				background:url("../img/fb-image.jpg")no-repeat center center;
				background-size: cover;
				padding: 70px 35px 42px; 
				position: relative;
				color: #fff;
				h3{
					font-size: 18px;
					font-weight: 700;
				}
				p{
					font-size: 18px;
					line-height: 1.9;
					border-bottom: 1px solid #fff;
					display: inline;
					margin: 30px 0 40px; 
				
					.fb_link{
						display: block;
						margin: 20px 0;
						color: #fff;
						font-family: @robo;
						font-size: 16px;
						letter-spacing: 0.050em;
					}
				}
				span{
					color: #fff;
					text-align: right;
				    display: block;
				}
				
				/*.hver_bg{
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background: rgba(22, 135, 202, 0.5);
				}*/
			}
			&:last-child{
				padding: 0;
			}
			&:hover{
				  box-shadow: 0px 0px 12px #f0f0f0;
				  -moz-box-shadow: 0px 0px 12px #f0f0f0;
				  -webkit-box-shadow: 0px 0px 12px #f0f0f0;
			}
		}
	}
}