.studies_sec{
  background-image: url('../img/home-study-bg.png');
  background-color: @002e4b;
  h2{.font(@mont,36px,1.2,0.025em);color: #ffffff;font-weight: 500;
    &:after{
      bottom: 18px;
      background: @bd943c;
    }
  }
  h3{.font(@mont,30px,1.3,0.04em);font-weight: bold;color: @bd943c;
    position: relative;
    padding-bottom: 15px;
    &:after{
      position: absolute;
      content: "";
      width: 37px;
      height: 2px;
      bottom: 0;
      left: 0;
      background: @bd943c;
    }
  }
  .study_ug,.study_pg{
    margin-top: 120px;
  }

  p{.font(@mont,18px,1.7,0.05em);color: #ffffff;}
  .course-box{
    cursor: pointer;
    width: 22%;
    margin-right: 4%;
    float: left;
    display: table;
    min-height: 60px;
    position: relative;
    margin-top: 60px;
    &:nth-of-type(-n+4){
      margin-top: 0;
    }
    span{
      display: inline-block;
      width: 70px;
      height: 50px;
      padding-right: 20px;
      position: absolute;
      left: 0;
      top: 6px;
      svg {
        fill: #ffffff;
        .transition();
      }
    }
    &:hover{
      p{
        color: @bd943c;
      }
      span svg{
        fill: @bd943c;
      }
    }
    p{
      .transition();
      font-weight: 500;
      padding-left: 78px;
      display: table-cell;
      vertical-align: middle;
    }
    &:nth-of-type(4n){
      margin-right: 0;
    }
  }
}