.ranking-left{
  float:left;
  width: 70%;
  figure{
    margin-right: 5%;
    position: relative;
  }
}
.it-hub{
  position: absolute;
  right:12%;
  top: 36%;
  border:2px solid @caa963;
  width:490px;
  background: @selection-text-col;
  padding: 100px 60px 40px;
  h3{
    font-weight: 600;
    margin-bottom: 50px;
    .font(@mont,36px,normal,0);
    span{
      position: relative;
      color: red;
      &:before{
        position: absolute;
        content: "ı";
        color: black;
      }
    }
  }
  p{
    text-align: justify;
  }
  .learn-more{
    text-align: right;
    margin-top: 60px;
    span{
      margin-left: 10px;
    }
  }

  &:hover .learn-more label{
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
  &:hover .learn-more span{
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  &:hover h3{
    color: #005081;
    .transition;
  }
  &:hover h3 span:before{
    color: #005081;
    .transition;
  }
  &:hover h3:after{
    background: #005081;
    .transition;
  }
}






/*.another-circle {
  stroke-dasharray: 227;
  stroke-dashoffset: 227;
  transition: stroke-dashoffset 2s linear;
}
.another-circle:hover {
  stroke-dashoffset: 0;
  fill:#fff;
}*/




.ranking-right{
  float:left;
  width: 30%;
  .ranking_right_inner{
    width: 410px;
    float: left;
    span{
      font-size: 18px;
      font-weight: 700;
    }
    .title_line{
      &:after{
        top: 50%;
        bottom: auto;
      }
    }
    h2{
      .font(@robo,18px,1.3,0.04em);
      margin: 60px 0;
    }
    .ranking_item{
      padding-bottom: 60px;
      margin-bottom: 60px;
      .ranking_innr{
        text-align: justify;
        padding-right: 20px;
        img{
          margin-bottom: 60px;
          width: auto;
        }
      }
      .owl-controls{

        .owl-nav{
          position: absolute;
          bottom: -60px;
          right: 0;
          .owl-prev{
            display: inline-block;
          }
          .owl-next{
            display: inline-block;
          }
          span{
            display: inline-block;
          }
        }
      }
    }
    &:hover .title_line{
      color: #005081;
      .transition;
      &:after{
        color: #005081;
        .transition;
      }
    }

    .virtual_tour{
      position: relative;
      .video_play {
        vertical-align: middle;
      }
      .virtual_title{
        br{
          display: block;
        }
        .font(@mont,30px,normal,0);
        font-weight: 600;
        display: inline-block;
        vertical-align: middle;
        padding-left: 30px;
      }

/*      &:hover{
        circle:first-of-type{
          fill: transparent;
        }
        .another-circle{
          stroke-dashoffset: 0;
        }
      }
      &:hover .video_play:after{
        border-left-color: @007bc9;
      }*/
      &:hover{
        .box {
          fill: #fff;
          stroke: #b2c6d1;
          stroke-dashoffset: 0;
          transition: stroke 2s .7s ease-out, stroke-dashoffset .7s ease-out, fill .4s .3s ease-out;
        }
        .play {
          fill: #017bc8;
        }
      }

    }

  }
}


.ranking-right .ranking_right_inner .virtual_tour .ply-btn{
  pointer-events: none;
}